
<!-- main content -->
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Add Department</h2>
            <small class="text-muted">Welcome to Kingster University application</small>
        </div>
        <div class="row clearfix">
			<div class="col-lg-12 col-md-12">
				<div class="card">
					<div class="header">
						<h2>Department Basic Info <small>Description text here...</small> </h2>
						<ul class="header-dropdown">
							<li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-more-vert"></i></a>
								<ul class="dropdown-menu pull-right">
									<li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
									<li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
									<li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
								</ul>
							</li>
						</ul>
					</div>
                    <form method="post" action="/admin/adddepartment">
					<div class="body">
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" class="form-control" placeholder="Department Name " name="department">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" class="form-control" placeholder="Head of Department" name="HOD">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="number" class="form-control" placeholder="No. of Students " name="No_of_Students">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">                            
                             <div class="col-sm-12">
                                <button  onclick="sweetalert()" type="submit" class="btn btn-raised btn-default waves-effect" data-placement-from="top" data-placement-align="center"
                                            data-animate-enter="" data-animate-exit="" data-color-name="bg-black"> Submit </button>
                                <button type="reset" class="btn btn-raised btn-default waves-effect">Cancel</button>
                            </div>
                        </div>
                    </div>
                    </form> 
				</div>
			</div>
		</div>       
    </div>
</section>
<!-- main content -->

<div class="color-bg"></div>
<script>
    function sweetalert(){
     swal("Add Successfully!");
    }
   
</script>