<div class="kingster-mobile-header-wrap">
		<div class="kingster-mobile-header kingster-header-background kingster-style-slide kingster-sticky-mobile-navigation "
			id="kingster-mobile-header">
			<div class="kingster-mobile-header-container kingster-container clearfix">
				<div class="kingster-logo  kingster-item-pdlr">
					<div class="kingster-logo-inner"><a class="" href="#"><img
								src="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/themes/kingster/images/logo.png"
								alt="" /></a></div>
				</div>
				<div class="kingster-mobile-menu-right">
					<div class="kingster-main-menu-search" id="kingster-mobile-top-search"><i class="fa fa-search"></i>
					</div>
					<div class="kingster-top-search-wrap">
						<div class="kingster-top-search-close"></div>

						<div class="kingster-top-search-row">
							<div class="kingster-top-search-cell">
								<form role="search" method="get" class="search-form" action="#">
									<input type="text" class="search-field kingster-title-font" placeholder="Search..."
										value="" name="s">
									<div class="kingster-top-search-submit"><i class="fa fa-search"></i></div>
									<input type="submit" class="search-submit" value="Search">
									<div class="kingster-top-search-close"><i class="icon_close"></i></div>
									<input type="hidden" name="ref" value="course" /><input type="hidden"
										name="post_type" value="lp_course" />
								</form>
							</div>
						</div>

					</div>
					<div class="kingster-mobile-menu"><a
							class="kingster-mm-menu-button kingster-mobile-menu-button kingster-mobile-button-hamburger"
							href="#"><span></span></a>
						<div class="kingster-mm-menu-wrap kingster-navigation-font" id="kingster-mobile-menu"
							data-slide="right">
							<ul id="menu-main-navigation" class="m-menu">
								<li
									class="active-menu menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-2039 current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-5271">
									<a href="#" aria-current="page">Home</a>
									<ul class="sub-menu">
									</ul>
								</li>
								<li
									class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-5227">
									<a href="#">Pages</a>
									<ul class="sub-menu">
										<li
											class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5314">
											<a href="#">About KU</a>
										</li>
										<li
											class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5342">
											<a href="#">Gallery</a>
										</li>
									</ul>
								</li>
								<li
									class="active-menu menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-5735">
									<a
										href="#">Academics</a>
									<ul class="sub-menu">
										<li
											class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-5739">
											<a>Undergraduate</a>
											<ul class="sub-menu">
												<li
													class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5736">
													<a
														href="#">Business
														Administration</a>
												</li>
												<li
													class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5902">
													<a href="#">School
														Of Law</a>
												</li>
												<li
													class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5901">
													<a
														href="#">Engineering</a>
												</li>
												<li
													class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5900">
													<a
														href="#">Medicine</a>
												</li>
												<li
													class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5899">
													<a href="#">Art
														&#038; Science</a>
												</li>
											</ul>
										</li>
										<li
											class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-5740">
											<a href="#">Graduate Program</a>
											<ul class="sub-menu">
												<li
													class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5954">
													<a
														href="#">Hospitality
														Management</a>
												</li>
												<li
													class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5953">
													<a href="#">Physics</a>
												</li>
												<li
													class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5909">
													<a href="#">Chemistry</a>
												</li>
												<li
													class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5910">
													<a href="#">Music</a>
												</li>
												<li
													class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5920">
													<a href="#">Computer Science</a>
												</li>
											</ul>
										</li>
									</ul>
								</li>
								<li
									class="active-menu menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-5728">
									<a href="/admissions">Admissions</a>
									<ul class="sub-menu">
										<li
											class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5729">
											<a href="/admissions">Apply To Kingster</a>
										</li>
										<li
											class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5918">
											<a href="#">Campus Tour</a>
										</li>
										<li
											class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5730">
											<a href="#">Scholarships</a>
										</li>
										<li
											class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5731">
											<a href="#">Athletics</a>
										</li>
										<li
											class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5732">
											<a href="#">Give To
												Kingster</a>
										</li>
										<li
											class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5917">
											<a href="#">Alumni</a>
										</li>
										<li
											class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6049">
											<a href="#">Event
												Calendar</a>
										</li>
									</ul>
								</li>
								<li
									class="active-menu menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-6036">
									<a href="/course">Courses</a>
								</li>
								<li class="active-menu menu-item menu-item-type-post_type menu-item-object-page menu-item-5734"><a
										href="#">Athletics</a></li>
								<li class="active-menu menu-item menu-item-type-post_type menu-item-object-page menu-item-5733"><a
										href="#">University Life</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="kingster-body-outer-wrapper ">
		<div class="kingster-body-wrapper clearfix  kingster-with-frame">
			<div class="kingster-top-bar">
				<div class="kingster-top-bar-background"></div>
				<div class="kingster-top-bar-container kingster-container ">
					<div class="kingster-top-bar-container-inner clearfix">
						<div class="kingster-top-bar-left kingster-item-pdlr"><i class="fa fa-envelope-open-o"
								style="font-size: 15px ;color: #96a2b8 ;margin-right: 8px ;"></i> <a
								href="#" class="__cf_email__"
								data-cfemail="2645494852474552666d73724e434b4308434253">university@kingster.ac.kl</a> <i
								class="fa fa-phone"
								style="font-size: 15px ;color: #96a2b8 ;margin-left: 18px ;margin-right: 6px ;"></i>
							+91-9226-5002-45</div>
					</div>
				</div>
			</div>
			<header
				class="kingster-header-wrap kingster-header-style-plain  kingster-style-menu-right kingster-sticky-navigation kingster-style-fixed clearfix"
				data-navigation-offset="75px">
				<div class="kingster-header-background"></div>
				<div class="kingster-header-container  kingster-container">

					<div class="kingster-header-container-inner clearfix">
						<div class="kingster-logo  kingster-item-pdlr">
							<div class="kingster-logo-inner"><a class="" href="#"><img
										src="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/themes/kingster/images/logo.png"
										alt="" /></a></div>
						</div>
						<div class="kingster-navigation kingster-item-pdlr clearfix ">
							<div class="kingster-main-menu" id="kingster-main-menu">
								<ul id="menu-main-navigation-1" class="sf-menu">
									<li
										class="active-menu  menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-2039 current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-5271 kingster-normal-menu">
										<a href="/" class="sf-with-ul-pre">Home</a>
										<ul class="sub-menu">
										</ul>
									</li>
									<li
										class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-5227 kingster-normal-menu">
										<a href="#" class="sf-with-ul-pre">Pages</a>
										<ul class="sub-menu">
											<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5314"
												data-size="60"><a href="#">About KU</a>
											</li>
											<li
												class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5316">
												<a href="/login">My
													Account</a>
											</li>
											<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5342"
												data-size="60"><a
													href="#">Gallery</a>
											</li>
										</ul>
									</li>
									<li
										class="active-menu menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-5735 kingster-mega-menu">
										<a href="#"
											class="sf-with-ul-pre">Academics</a>
										<div class="sf-mega sf-mega-full"
											style=" background-image: url('https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/mega-menu-bg.jpg');  background-position: bottom right;  background-repeat: no-repeat; ">
											<ul class="sub-menu">
												<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-5739"
													data-size="15"><a class="sf-with-ul-pre">Undergraduate</a>
													<ul class="sub-menu">
														<li
															class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5736">
															<a
																href="#">Business
																Administration</a>
														</li>
														<li
															class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5900">
															<a
																href="#">Medicine</a>
														</li>
														<li
															class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5899">
															<a href="#">Art
																&#038; Science</a>
														</li>
													</ul>
												</li>
												<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-5740"
													data-size="15"><a href="#" class="sf-with-ul-pre">Graduate
														Program</a>
													<ul class="sub-menu">
														<li
															class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5954">
															<a
																href="#">Hospitality
																Management</a>
														</li>
														<li
															class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5953">
															<a
																href="#">Physics</a>
														</li>
														<li
															class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5909">
															<a href="#">Chemistry</a>
														</li>
														<li
															class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5910">
															<a href="#">Music</a>
														</li>
														<li
															class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5920">
															<a href="#">Computer Science</a>
														</li>
													</ul>
												</li>
											
												<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5746"
													data-size="15">
													<div class="kingster-mega-menu-section-content"><img
															src="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/mega-menu-logo.png"
															style="margin-bottom: 13px;" alt="" />
														<span style="font-size: 14px; font-weight: 500;">Academic
															offerings include 95 majors, 86 minors, and more than 100
															in-major specializations</span>
													</div>
												</li>
											</ul>
										</div>
									</li>
									<li
										class="active-menu menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-5728 kingster-normal-menu">
										<a href="/admissions" class="sf-with-ul-pre">Admissions</a>
										<ul class="sub-menu">
											<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5729"
												data-size="60"><a href="/admissions">Apply To Kingster</a></li>
											<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5918"
												data-size="60"><a
													href="#">Campus
													Tour</a></li>
											<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5730"
												data-size="60"><a
													href="#">Scholarships</a>
											</li>
											<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5731"
												data-size="60"><a
													href="#">Athletics</a>
											</li>
											<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5732"
												data-size="60"><a
													href="#">Give
													To Kingster</a></li>
											<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5917"
												data-size="60"><a
													href="#">Alumni</a></li>
											<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6049"
												data-size="60"><a
													href="#">Event
													Calendar</a></li>
										</ul>
									</li>
									<li
										class="active-menu menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-6036 kingster-normal-menu">
										<a href="/course"
											class="sf-with-ul-pre">Courses</a>
									</li>
									<li
										class="active-menu menu-item menu-item-type-post_type menu-item-object-page menu-item-5733 kingster-normal-menu">
										<a href="#">University
											Life</a>
									</li>
								</ul>
								<div class="kingster-navigation-slide-bar" id="kingster-navigation-slide-bar"></div>
							</div>
							<div class="kingster-main-menu-right-wrap clearfix ">
								<div class="kingster-main-menu-search" id="kingster-top-search"><i
										class="icon_search"></i></div>
								<div class="kingster-top-search-wrap">
									<div class="kingster-top-search-close"></div>

									<div class="kingster-top-search-row">
										<div class="kingster-top-search-cell">
											<form role="search" method="get" class="search-form"
												action="#">
												<input type="text" class="search-field kingster-title-font"
													placeholder="Search..." value="" name="s">
												<div class="kingster-top-search-submit"><i class="fa fa-search"></i>
												</div>
												<input type="submit" class="search-submit" value="Search">
												<div class="kingster-top-search-close"><i class="icon_close"></i></div>
												<input type="hidden" name="ref" value="course" /><input type="hidden"
													name="post_type" value="lp_course" />
											</form>
										</div>
									</div>

								</div>
							</div>
						</div><!-- kingster-navigation -->

					</div><!-- kingster-header-inner -->
				</div><!-- kingster-header-container -->
			</header><!-- header -->

	<script>
    const currentLocation = (location.href).toLowerCase()
    const navItem = document.querySelectorAll(".sf-with-ul-pre")
    for (let i = 0; i < navItem.length; i++) {
      if (navItem[i].href === currentLocation) {
        navItem[i].classList.add("active")
      }
    }
  </script>