
<!-- main content -->
<section class="content patients py-5">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Student Attendance Field</h2>
        </div>

        <div class="row">
                    <form method="post" action="/teacher/attendance">


            <div class="container-fluid row">
            
                
                <div class="mx-4">
                    <div class="form-group">
                        <div class="input-group input-group-merge">
                            <label class="form-label" for="name">Select Depatment:</label>
                            <select id="selectdepartment" class="select" name="depatment"
                                style="width: 90%;padding: 10px;" type="course">
                                <option value="">Choose department</option>
                                {{#each departments}}
                                <option value="{{this._id}}">{{this.department}}</option>
                                {{/each}}
                               
                            </select>
                        </div>
                    </div>
                </div>

            </div>



            <table id="example" class="table col-12 table-striped table-bordered " style="width:100%;">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Attendance Field</th>
                    </tr>
                </thead>
                <tbody id="marktable">



                </tbody>
            </table>
            <div class=" text-center">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
            </form>
              </div>
</section>
            <script>
                // $(document).ready(function () {
                //});//

                document.addEventListener("DOMContentLoaded", function () {
                    // code...
                    const table = document.getElementById('example')
                    new DataTable(table, {
                        width: '100%'
                    });
                    //$('#example').DataTable();
                });
            </script>

            <style>
                .dataTable-wrapper {
                    width: 100% !important;
                }
            </style>



      
<!-- main content -->

<div class="color-bg"></div>

<script>
    function _(element) {
        return document.getElementById(element)
    }

    _('selectdepartment').onchange = function () {
        fetchData(_('selectdepartment'))

    }

    function fetchData(department) {
        let data = department.value
        console.log(department.value)
        fetch('/teacher/DepartmentDetails', {
            method: "POST",
            body: JSON.stringify({ data }),
            headers: {
                "Content-Type": "application/json"
            }
        }).then((response) => response.json()).then((response) => {
            let table = document.getElementById('marktable')
            let html;
            response.users.map(values => {
                console.log(values)
                html += `<tr class="row">
                    
                      
                        <td> <a href="/teacher/addMark"> ${values.fname} ${values.lname} </a></td>
                        <td>
                            <div class="form-group col-md-4">
                            <label class="form-label" for="name">Mark Attendance:</label>
                            <input hidden name="stdId" value="${values._id}">
                        <div class="input-group input-group-merge">
                            <select name="markStatus" >
                                <option value="">chose</option>
                                <option value="Present">Present</option>
                                <option value="Absent">Absent</option>
                            </select>
                        </div>
                        </td>
                    </tr>`

            })
            table.innerHTML = html

        })
    }

    function submitAttendance(e) {
        e.preventDefault();
        let rows = document.getElementsByClassName('row');
        console.log(rows)
    }

</script>
