</header><!-- header -->
<div class="kingster-page-title-wrap  kingster-style-medium kingster-left-align">
	<div class="kingster-header-transparent-substitute"></div>
	<div class="kingster-page-title-overlay"></div>
	<div class="kingster-page-title-container kingster-container">
		<div class="kingster-page-title-content kingster-item-pdlr">
			<div class="kingster-page-caption">Course List</div>
			<h1 class="kingster-page-title">Course List 1</h1>
		</div>
	</div>
</div>
<div class="kingster-page-wrapper" id="kingster-page-wrapper">
	<div class="kingster-content-container kingster-container">
		<div class=" kingster-sidebar-wrap clearfix kingster-line-height-0 kingster-sidebar-style-right">
			<div class=" kingster-sidebar-center kingster-column-40 kingster-line-height">
				<div class="gdlr-core-page-builder-body">
					<div class="gdlr-core-pbf-wrapper ">
						<div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
							<div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
								<div class="gdlr-core-pbf-element">
									<div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
										style="padding-bottom: 40px ;">
										<div class="gdlr-core-title-item-title-wrap clearfix">
											<h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
												style="font-size: 20px ;font-weight: 600 ;">REQUIRED COURSES</h3>
										</div>
									</div>
								</div>
								<div class="gdlr-core-pbf-element">
									<div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list"
										style="padding-bottom: 45px ;">

										{{#each viewcourses}}

										<div class="gdlr-core-course-item-list"><a class="gdlr-core-course-item-link"
												href="/courses/{{this._id}}"><span
													class="gdlr-core-course-item-id gdlr-core-skin-caption">ACC101</span><span
													class="gdlr-core-course-item-title gdlr-core-skin-title">Introduction
													to{{this.course}}</span><i
													class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i></a>
										</div>
										{{/each}}

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class=" kingster-sidebar-right kingster-column-20 kingster-line-height kingster-line-height">
				<div class="kingster-sidebar-area kingster-item-pdlr">
					<div id="text-18" class="widget widget_text kingster-widget">
						<div class="textwidget">
							<div class="gdlr-core-widget-box-shortcode "
								style="color: #ffffff ;padding: 30px 45px;background-color: #192f59 ;">
								<div class="gdlr-core-widget-box-shortcode-content">
									</p>
									<h3 style="font-size: 20px; color: #fff; margin-bottom: 25px;">Department Contact
										Info</h3>
									<p><span style="color: #3db166; font-size: 16px; font-weight: 600;">Bachelor Of
											Science in Food Technology</span><br />
										<span style="font-size: 15px;"><br />
											1810 Campus Way NE<br />
											Bothell, WA 98011-8246</span>
									</p>
									<p><span style="font-size: 15px;">+1-2345-5432-45<br />
											<a href="/cdn-cgi/l/email-protection" class="__cf_email__"
												data-cfemail="4b2938292a0b203e3e25223d2e39652e2f3e">[email&#160;protected]</a><br />
										</span></p>
									<p><span style="font-size: 16px; color: #3db166;">Mon &#8211; Fri 9:00A.M. &#8211;
											5:00P.M.</span></p>
									<span class="gdlr-core-space-shortcode" style="margin-top: 40px ;"></span>
									<h3 style="font-size: 20px; color: #fff; margin-bottom: 15px;">Social Info</h3>
									<div class="gdlr-core-social-network-item gdlr-core-item-pdb  gdlr-core-none-align"
										style="padding-bottom: 0px ;"><a href="#url" target="_blank"
											class="gdlr-core-social-network-icon" title="facebook"
											style="color: #3db166 ;" rel="noopener"><i class="fa fa-facebook"></i></a><a
											href="#" target="_blank" class="gdlr-core-social-network-icon"
											title="google-plus" style="color: #3db166 ;" rel="noopener"><i
												class="fa fa-google-plus"></i></a><a href="#" target="_blank"
											class="gdlr-core-social-network-icon" title="linkedin"
											style="color: #3db166 ;" rel="noopener"><i class="fa fa-linkedin"></i></a><a
											href="#" target="_blank" class="gdlr-core-social-network-icon" title="skype"
											style="color: #3db166 ;" rel="noopener"><i class="fa fa-skype"></i></a><a
											href="#url" target="_blank" class="gdlr-core-social-network-icon"
											title="twitter" style="color: #3db166 ;" rel="noopener"><i
												class="fa fa-twitter"></i></a><a href="#" target="_blank"
											class="gdlr-core-social-network-icon" title="instagram"
											style="color: #3db166 ;" rel="noopener"><i class="fa fa-instagram"></i></a>
									</div>
									<span class="gdlr-core-space-shortcode" style="margin-top: 40px ;"></span>
									<a class="gdlr-core-button gdlr-core-button-shortcode  gdlr-core-button-gradient gdlr-core-button-no-border"
										href="#"
										style="padding: 16px 27px 18px;margin-right: 20px;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;"><span
											class="gdlr-core-content">Student Resources</span></a>
									<p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer class="">
	<div class="kingster-footer-wrapper ">
		<div class="kingster-footer-container kingster-container clearfix">
			<div class="kingster-footer-column kingster-item-pdlr kingster-column-15">
				<div id="text-2" class="widget widget_text kingster-widget">
					<div class="textwidget">
						<p><img src="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/footer-logo.png"
								alt="" /><br />
							<span class="gdlr-core-space-shortcode" style="margin-top: 5px ;"></span><br />
							HighWay 35300<br />
							1810 Campus Way KL<br />
							kerala, KL 98011-8246
						</p>
						<p><span style="font-size: 15px; color: #ffffff;">+1-2534-4456-345</span><br />
							<span class="gdlr-core-space-shortcode" style="margin-top: -20px ;"></span><br />
							<a style="font-size: 15px; color: #ffffff;"
								href="/cdn-cgi/l/email-protection#78191c151116381311161f0b0c1d0a0d1611561d1c0d"><span
									class="__cf_email__"
									data-cfemail="c7a6a3aaaea987acaea9a0b4b3a2b5b2a9aee9a2a3b2">university@kingster.ac.kl</span></a>
						</p>
						<div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-left-align">
							<div class="gdlr-core-divider-line gdlr-core-skin-divider"
								style="border-color: #3db166 ;border-width: 2px;"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="kingster-footer-column kingster-item-pdlr kingster-column-15">
				<div id="gdlr-core-custom-menu-widget-2"
					class="widget widget_gdlr-core-custom-menu-widget kingster-widget">
					<h3 class="kingster-widget-title">Our Campus</h3><span class="clear"></span>
					<div class="menu-our-campus-container">
						<ul id="menu-our-campus" class="gdlr-core-custom-menu-widget gdlr-core-menu-style-plain">
							<li
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5709 kingster-normal-menu">
								<a href="#">Acedemic</a>
							</li>
							<li
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5710 kingster-normal-menu">
								<a href="#">Planning &#038; Administration</a>
							</li>
							<li
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5711 kingster-normal-menu">
								<a href="#">Campus Safety</a>
							</li>
							<li
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5712 kingster-normal-menu">
								<a href="#">Office of the Chancellor</a>
							</li>
							<li
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5713 kingster-normal-menu">
								<a href="#">Facility Services</a>
							</li>
							<li
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5714 kingster-normal-menu">
								<a href="#">Human Resources</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="kingster-footer-column kingster-item-pdlr kingster-column-15">
				<div id="gdlr-core-custom-menu-widget-3"
					class="widget widget_gdlr-core-custom-menu-widget kingster-widget">
					<h3 class="kingster-widget-title">Campus Life</h3><span class="clear"></span>
					<div class="menu-campus-life-container">
						<ul id="menu-campus-life" class="gdlr-core-custom-menu-widget gdlr-core-menu-style-plain">
							<li
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5715 kingster-normal-menu">
								<a href="#">Accessibility</a>
							</li>
							<li
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5716 kingster-normal-menu">
								<a href="#">Financial Aid</a>
							</li>
							<li
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5717 kingster-normal-menu">
								<a href="#">Food Services</a>
							</li>
							<li
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5718 kingster-normal-menu">
								<a href="#">Housing</a>
							</li>
							<li
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5719 kingster-normal-menu">
								<a href="#">Information Technologies</a>
							</li>
							<li
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5720 kingster-normal-menu">
								<a href="#">Student Life</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="kingster-footer-column kingster-item-pdlr kingster-column-15">
				<div id="gdlr-core-custom-menu-widget-4"
					class="widget widget_gdlr-core-custom-menu-widget kingster-widget">
					<h3 class="kingster-widget-title">Academics</h3><span class="clear"></span>
					<div class="menu-academics-container">
						<ul id="menu-academics" class="gdlr-core-custom-menu-widget gdlr-core-menu-style-plain">
							<li
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5721 kingster-normal-menu">
								<a href="#">Canvas</a>
							</li>
							<li
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5722 kingster-normal-menu">
								<a href="#">Catalyst</a>
							</li>
							<li
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5723 kingster-normal-menu">
								<a href="#">Library</a>
							</li>
							<li
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5724 kingster-normal-menu">
								<a href="#">Time Schedule</a>
							</li>
							<li
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5725 kingster-normal-menu">
								<a href="#">Apply For Admissions</a>
							</li>
							<li
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5726 kingster-normal-menu">
								<a href="#">Pay My Tuition</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="kingster-copyright-wrapper">
		<div class="kingster-copyright-container kingster-container clearfix">
			<div class="kingster-copyright-left kingster-item-pdlr">Copyright All Right Reserved 2018, GoodLayers</div>
			<div class="kingster-copyright-right kingster-item-pdlr">
				<div class="gdlr-core-social-network-item gdlr-core-item-pdb  gdlr-core-none-align"
					style="padding-bottom: 0px ;"><a href="#" target="_blank" class="gdlr-core-social-network-icon"
						title="facebook"><i class="fa fa-facebook"></i></a><a href="#" target="_blank"
						class="gdlr-core-social-network-icon" title="google-plus"><i
							class="fa fa-google-plus"></i></a><a href="#" target="_blank"
						class="gdlr-core-social-network-icon" title="linkedin"><i class="fa fa-linkedin"></i></a><a
						href="#" target="_blank" class="gdlr-core-social-network-icon" title="skype"><i
							class="fa fa-skype"></i></a><a href="#" target="_blank"
						class="gdlr-core-social-network-icon" title="twitter"><i class="fa fa-twitter"></i></a><a
						href="#" target="_blank" class="gdlr-core-social-network-icon" title="instagram"><i
							class="fa fa-instagram"></i></a></div>
			</div>
		</div>
	</div>
</footer>
</div>
</div>