<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Student - Dashboard</title>

    <!-- Prevent the demo from appearing in search engines (REMOVE THIS) -->
    <meta name="robots" content="noindex">

    <!-- Custom Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Oswald:400,500,700%7CRoboto:400,500%7CRoboto:400,500&display=swap"
        rel="stylesheet">

    <!-- Perfect Scrollbar -->
    <link type="text/css" href="/assets/vendor/perfect-scrollbar.css" rel="stylesheet">

    <!-- Material Design Icons -->
    <link type="text/css" href="/assets/css/material-icons.css" rel="stylesheet">

    <!-- Font Awesome Icons -->
    <link type="text/css" href="/assets/css/fontawesome.css" rel="stylesheet">

    <!-- Preloader -->
    <link type="text/css" href="/assets/vendor/spinkit.css" rel="stylesheet">

    <!-- App CSS -->
    <link type="text/css" href="/assets/css/app.css" rel="stylesheet">


</head>

<body class=" layout-fluid">
    <!-- Header Layout -->
    <div class="mdk-header-layout js-mdk-header-layout">

        <!-- Header -->

        <div id="header" data-fixed class="mdk-header js-mdk-header mb-0">
            <div class="mdk-header__content">

                <!-- Navbar -->
                <nav id="default-navbar" class="navbar navbar-expand navbar-dark bg-primary m-0">
                    <div class="container-fluid">
                        <!-- Toggle sidebar -->
                        <button class="navbar-toggler d-block" data-toggle="sidebar" type="button">
                            <span class="material-icons">menu</span>
                        </button>

                        <!-- Brand -->
                        <a href="/" class="navbar-brand">
                            <img src="assets/images/logo/white.svg" class="mr-2" alt="LearnPlus" />
                            <span class="d-none d-xs-md-block">Kingster University</span>
                        </a>

                        <div class="flex"></div>

                        <!-- Menu -->
                        <ul class="nav navbar-nav flex-nowrap">
                            <!-- Notifications dropdown -->
                            <li class="nav-item dropdown dropdown-notifications dropdown-menu-sm-full">
                                <button class="nav-link btn-flush dropdown-toggle" type="button" data-toggle="dropdown"
                                    data-dropdown-disable-document-scroll data-caret="false">
                                    <i class="material-icons">notifications</i>
                                    <span class="badge badge-notifications badge-danger">.</span>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <div data-perfect-scrollbar class="position-relative">
                                        <div class="dropdown-header"><strong>Notifications</strong></div>
                                        <div class="list-group list-group-flush mb-0">
                                            {{#each notification}}
                                            <a href="/notification"
                                                class="list-group-item list-group-item-action border-left-3 border-left-danger">
                                                <span class="d-flex">
                                                    <span class="avatar avatar-xs mr-2">
                                                        <span class="avatar-title rounded-circle bg-light">
                                                            <i
                                                                class="material-icons font-size-16pt text-danger">notifications</i>
                                                        </span>
                                                    </span>
                                                    <span class="flex d-flex flex-column">

                                                        <span class="text-black-70">{{this.header}}</span>
                                                    </span>
                                                </span>
                                            </a>
                                            {{/each}}
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- // END Notifications dropdown -->
                            <!-- User dropdown -->
                            <li class="nav-item dropdown ml-1 ml-md-3">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"><img
                                        src="assets/images/people/50/guy-6.jpg" alt="Avatar" class="rounded-circle"
                                        width="40"></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="/studentdash">
                                        <i class="material-icons">account_box</i> Dashboard
                                    </a>
                                    <a class="dropdown-item" href="/studentprofile">
                                        <i class="material-icons">edit</i> Edit Account
                                    </a>
                                    <a class="dropdown-item" href="/logout">
                                        <i class="material-icons">lock</i> Logout
                                    </a>
                                </div>
                            </li>
                            <!-- // END User dropdown -->

                        </ul>
                        <!-- // END Menu -->
                    </div>
                </nav>
                <!-- // END Navbar -->

            </div>
        </div>

        <!-- // END Header -->

        <!-- Header Layout Content -->
        <div class="container">
            <div class="container-fluid py-5">
                <form id="wizard_with_validation" action="/academicform" method="POST" class="py-5">
                    <h3>Academic Details</h3>
                    <h3>CLASS X/SSC</h3>
                    <div class="form-group form-float">
                        <div class="form-line">

                            <input type="text" name="XBoard" class="form-control">
                            <label class="form-label">X/SSC Board*</label>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" name="ExaminationState" class="form-control">
                            <label class="form-label">X/SSC Examination State*</label>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" name="SchoolName" class="form-control">
                            <label class="form-label">X/SSC School Name*</label>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <textarea name="XDetails" cols="30" rows="3" class="form-control no-resize"></textarea>
                            <label class="form-label">X/SSC Details*</label>
                        </div>
                    </div>
                    <div>
                        <h3>CLASS XII/HSC</h3>
                        <div class="form-group form-float">
                            <div class="form-line">

                                <input type="text" name="XII" class="form-control">
                                <label class="form-label">XII/HSC*</label>
                            </div>
                        </div>
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="text" name="XIIStatus" class="form-control">
                                <label class="form-label">XII/HSC Status*</label>
                            </div>
                        </div>
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="text" name="XIIExaminationState" class="form-control">
                                <label class="form-label">XII/HSC Examination State*</label>
                            </div>
                        </div>
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="text" name="XIISchoolName" class="form-control">
                                <label class="form-label">XII/HSC School Name*</label>
                            </div>
                        </div>
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="text" name="XIIDetails" class="form-control">
                                <label class="form-label">XII/HSC Details*</label>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h3>KINGSTER DETAILS</h3>
                        <div class="form-group col-md-12">
                            <label class="form-label">How did you get
                                to know about admission of KINGSTER University
                                2022?*</label>
                            <div class="form">
                                <select class="form-control" name="reference">
                                    <option value="">Select</option>
                                    <option value="431803;;;Airline Magazine">Airline Magazine</option>
                                    <option value="431804;;;Campus Tour">Campus Tour</option>
                                    <option value="431805;;;Coaching Centre Or Test Prep Centre">Coaching Centre
                                        Or Test Prep Centre</option>
                                    <option value="431806;;;College Duniya">College Duniya</option>
                                    <option value="431807;;;Facebook">Facebook</option>
                                    <option value="431808;;;Family or Friends">Family or Friends</option>
                                    <option value="431809;;;Gmac Study In India Campaign">Gmac Study In India
                                        Campaign</option>
                                    <option value="431810;;;Google Search">Google Search</option>
                                    <option value="431811;;;Instagram">Instagram</option>
                                    <option value="431812;;;Linkedin">Linkedin</option>
                                    <option value="431813;;;Mba Rendezvous">Mba Rendezvous</option>
                                    <option value="431814;;;Mba Universe">Mba Universe</option>
                                    <option value="431815;;;Newspaper">Newspaper</option>
                                    <option value="431816;;;Nmat.org.in">Nmat.org.in</option>
                                    <option value="431817;;;Nmims.edu">Nmims.edu</option>
                                    <option value="431818;;;Pagalguy">Pagalguy</option>
                                    <option value="431819;;;Quora">Quora</option>
                                    <option value="431820;;;Radio">Radio</option>
                                    <option value="431821;;;Seminar Or Webinar">Seminar Or Webinar</option>
                                    <option value="431822;;;Shiksha.com">Shiksha.com</option>
                                    <option value="431823;;;Word of Mouth">Word of Mouth</option>
                                    <option value="431824;;;Youtube">Youtube</option>
                                    <option value="Other">Other</option>
                                </select>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h3>APPLYING FOR ADMISSION ON THE BASIS OF</h3>
                        <div class="form-group form-float">
                            <div class="form-line">

                                <input type="text" name="Program1" class="form-control">
                                <label class="form-label">Program Preference 1</label>
                            </div>
                        </div>
                        <div class="form-group form-float">
                            <div class="form-line">

                                <input type="text" name="Program2" class="form-control">
                                <label class="form-label">Program Preference 2</label>
                            </div>
                        </div>
                    </div>
                    <div style="display: flex; justify-content:flex-end;">
                        <div>
                            <a href="/personalform" class="btn btn-dark mx-3">Back</a>
                        </div>
                        <button type="submit" class="btn btn-success">Make Payment</button>
                    </div>
                </form>
            </div>
        </div>
    </div>