<div class="kingster-page-title-wrap  kingster-style-custom kingster-left-align"
    style="background-image: url(https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/page-title-apply.jpg) ;">
    <div class="kingster-header-transparent-substitute"></div>
    <div class="kingster-page-title-overlay"></div>
    <div class="kingster-page-title-bottom-gradient"></div>
    <div class="kingster-page-title-container kingster-container">
        <div class="kingster-page-title-content kingster-item-pdlr" style="padding-top: 505px ;padding-bottom: 60px ;">
            <div class="kingster-page-caption" style="font-size: 21px ;font-weight: 400 ;letter-spacing: 0px ;">
                Admission</div>
            <h1 class="kingster-page-title"
                style="font-size: 48px ;font-weight: 700 ;text-transform: none ;letter-spacing: 0px ;color: #ffffff ;">
                Apply To Kingster</h1>
        </div>
    </div>
</div>
<div class="kingster-breadcrumbs">
    <div class="kingster-breadcrumbs-container kingster-container">
        <div class="kingster-breadcrumbs-item kingster-item-pdlr">
            <!-- Breadcrumb NavXT 7.0.2 -->
            <span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage"
                    title="Go to Kingster." href="#" class="home"><span property="name">Home</span></a>
                <meta property="position" content="1">
            </span>&gt;<span property="itemListElement" typeof="ListItem"><span property="name">Apply To
                    Kingster</span>
                <meta property="position" content="2">
            </span>
        </div>
    </div>
</div>
<div class="kingster-page-wrapper" id="kingster-page-wrapper">
    <div class="gdlr-core-page-builder-body">
        <div class="gdlr-core-pbf-wrapper " style="padding: 40px 0px 30px 0px;">
            <div class="gdlr-core-pbf-background-wrap"></div>
            <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                    <div class="gdlr-core-pbf-element">
                        <div
                            class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                            <div class="gdlr-core-title-item-title-wrap clearfix">
                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
                                    style="font-size: 27px ;font-weight: 700 ;letter-spacing: 0px ;text-transform: none ;">
                                    Detail About How To Apply</h3>
                            </div>
                        </div>
                    </div>
                    <div class="gdlr-core-pbf-column gdlr-core-column-30 gdlr-core-column-first">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                            <div class="gdlr-core-pbf-background-wrap"></div>
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                <div class="gdlr-core-pbf-element">
                                    <div
                                        class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                        <div class="gdlr-core-text-box-item-content"
                                            style="font-size: 17px ;text-transform: none ;">
                                            <p>If you would like to study in the university in the heart of
                                                the city that focus on chaning the world for better to
                                                morrow, you’re choosin the right place. We do not use
                                                special formulas to select students. We look at every single
                                                applicant&#8217;s application, academic and personal, to
                                                select students who suit to our community with a full range
                                                of backgrounds. If you would like to study in the university
                                                in the heart of the city.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gdlr-core-pbf-column gdlr-core-column-30">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                            <div class="gdlr-core-pbf-background-wrap"></div>
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                <div class="gdlr-core-pbf-element">
                                    <div
                                        class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                        <div class="gdlr-core-text-box-item-content"
                                            style="font-size: 17px ;text-transform: none ;">
                                            <p>If you would like to study in the university in the heart of
                                                the city that focus on chaning the world for better to
                                                morrow, you’re choosin the right place. We do not use
                                                special formulas to select students. We look at every single
                                                applicant&#8217;s application, academic and personal, to
                                                select students who suit to our community.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gdlr-core-pbf-wrapper " style="padding: 80px 0px 40px 0px;" data-skin="Column Service">
            <div class="gdlr-core-pbf-background-wrap" style="background-color: #1b2945 ;"></div>
            <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                    <div class="gdlr-core-pbf-column gdlr-core-column-15 gdlr-core-column-first">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                            <div class="gdlr-core-pbf-background-wrap"></div>
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-top gdlr-core-no-caption gdlr-core-item-pdlr"
                                        style="padding-bottom: 30px;">
                                        <div class="gdlr-core-column-service-media gdlr-core-media-image"
                                            style="margin-bottom: 35px;"><img
                                                src="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/col-icon-1.png"
                                                alt="" width="41" height="41" title="col-icon-1" /></div>
                                        <div class="gdlr-core-column-service-content-wrapper">
                                            <div class="gdlr-core-column-service-title-wrap">
                                                <h3 class="gdlr-core-column-service-title gdlr-core-skin-title"
                                                    style="font-size: 21px ;font-weight: 700 ;text-transform: none ;">
                                                    Education Services</h3>
                                            </div>
                                            <div class="gdlr-core-column-service-content"
                                                style="font-size: 16px ;text-transform: none ;">
                                                <p>Kingster University was established by John Smith in 1920
                                                    for the public benefit and it is recognized.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gdlr-core-pbf-column gdlr-core-column-15">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-top gdlr-core-no-caption gdlr-core-item-pdlr"
                                        style="padding-bottom: 30px;">
                                        <div class="gdlr-core-column-service-media gdlr-core-media-image"
                                            style="margin-bottom: 31px;"><img
                                                src="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/col-icon-2.png"
                                                alt="" width="43" height="45" title="col-icon-2" /></div>
                                        <div class="gdlr-core-column-service-content-wrapper">
                                            <div class="gdlr-core-column-service-title-wrap">
                                                <h3 class="gdlr-core-column-service-title gdlr-core-skin-title"
                                                    style="font-size: 21px ;font-weight: 700 ;text-transform: none ;">
                                                    International Hubs</h3>
                                            </div>
                                            <div class="gdlr-core-column-service-content"
                                                style="font-size: 16px ;text-transform: none ;">
                                                <p>Kingster University was established by John Smith in 1920
                                                    for the public benefit and it is recognized.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gdlr-core-pbf-column gdlr-core-column-15">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-top gdlr-core-no-caption gdlr-core-item-pdlr"
                                        style="padding-bottom: 30px;">
                                        <div class="gdlr-core-column-service-media gdlr-core-media-image"
                                            style="margin-bottom: 33px;"><img
                                                src="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/col-icon-3.png"
                                                alt="" width="40" height="43" title="col-icon-3" /></div>
                                        <div class="gdlr-core-column-service-content-wrapper">
                                            <div class="gdlr-core-column-service-title-wrap">
                                                <h3 class="gdlr-core-column-service-title gdlr-core-skin-title"
                                                    style="font-size: 21px ;font-weight: 700 ;text-transform: none ;">
                                                    Bachelor’s and Master’s</h3>
                                            </div>
                                            <div class="gdlr-core-column-service-content"
                                                style="font-size: 16px ;text-transform: none ;">
                                                <p>Kingster University was established by John Smith in 1920
                                                    for the public benefit and it is recognized.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gdlr-core-pbf-column gdlr-core-column-15">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-top gdlr-core-no-caption gdlr-core-item-pdlr"
                                        style="padding-bottom: 30px;">
                                        <div class="gdlr-core-column-service-media gdlr-core-media-image"
                                            style="margin-bottom: 29px;"><img
                                                src="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/col-icon-4.png"
                                                alt="" width="47" height="47" title="col-icon-4" /></div>
                                        <div class="gdlr-core-column-service-content-wrapper">
                                            <div class="gdlr-core-column-service-title-wrap">
                                                <h3 class="gdlr-core-column-service-title gdlr-core-skin-title"
                                                    style="font-size: 21px ;font-weight: 700 ;text-transform: none ;">
                                                    University Life</h3>
                                            </div>
                                            <div class="gdlr-core-column-service-content"
                                                style="font-size: 16px ;text-transform: none ;">
                                                <p>Kingster University was established by John Smith in 1920
                                                    for the public benefit and it is recognized.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gdlr-core-pbf-wrapper " style="padding: 660px 0px 30px 0px;">
            <div class="gdlr-core-pbf-background-wrap">
                <div class="gdlr-core-pbf-background"
                    style="background-image: url(https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/shutterstock_299633474.jpg) ;background-size: cover ;background-position: center ;background-attachment: fixed ;">
                </div>
            </div>
            <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container"></div>
            </div>
        </div>
        <div class="gdlr-core-pbf-wrapper " style="padding: 90px 0px 30px 0px;">
            <div class="gdlr-core-pbf-background-wrap"></div>
            <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                    <div class="gdlr-core-pbf-element">
                        <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
                            style="padding-bottom: 45px ;">
                            <div class="gdlr-core-title-item-title-wrap clearfix">
                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
                                    style="font-size: 27px ;font-weight: 700 ;letter-spacing: 0px ;text-transform: none ;">
                                    The Application Process</h3>
                            </div>
                        </div>
                    </div>
                    <div class="gdlr-core-pbf-column gdlr-core-column-20 gdlr-core-column-first"
                        data-skin="Blut Title Column Service">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                            <div class="gdlr-core-pbf-background-wrap"></div>
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-left gdlr-core-no-caption gdlr-core-item-pdlr"
                                        style="padding-bottom: 20px;">
                                        <div class="gdlr-core-column-service-media gdlr-core-character"
                                            style="margin-top: 5px;margin-right: 33px;margin-left: 7px;font-size: 45px ;color: #3db166 ;">
                                            1</div>
                                        <div class="gdlr-core-column-service-content-wrapper">
                                            <div class="gdlr-core-column-service-title-wrap">
                                                <h3 class="gdlr-core-column-service-title gdlr-core-skin-title"
                                                    style="font-size: 18px ;text-transform: none ;">Start
                                                    Online Submission</h3>
                                            </div>
                                            <div class="gdlr-core-column-service-content"
                                                style="font-size: 16px ;text-transform: none ;">
                                                <p>A wonderful serenity has taken possession of my entire
                                                    soul, like these sweet mornings of spring which I enjoy
                                                    with my whole heart. I am alone, and feel the charm of
                                                    existence.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gdlr-core-pbf-column gdlr-core-column-20" data-skin="Blut Title Column Service">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                            <div class="gdlr-core-pbf-background-wrap"></div>
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-left gdlr-core-no-caption gdlr-core-item-pdlr"
                                        style="padding-bottom: 20px;">
                                        <div class="gdlr-core-column-service-media gdlr-core-character"
                                            style="margin-top: 5px;margin-right: 28px;margin-left: 3px;font-size: 45px ;color: #3db166 ;">
                                            2</div>
                                        <div class="gdlr-core-column-service-content-wrapper">
                                            <div class="gdlr-core-column-service-title-wrap">
                                                <h3 class="gdlr-core-column-service-title gdlr-core-skin-title"
                                                    style="font-size: 18px ;text-transform: none ;">Submit
                                                    The Form</h3>
                                            </div>
                                            <div class="gdlr-core-column-service-content"
                                                style="font-size: 16px ;text-transform: none ;">
                                                <p>A wonderful serenity has taken possession of my entire
                                                    soul, like these sweet mornings of spring which I enjoy
                                                    with my whole heart. I am alone, and feel the charm of
                                                    existence.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gdlr-core-pbf-column gdlr-core-column-20" data-skin="Blut Title Column Service">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                            <div class="gdlr-core-pbf-background-wrap"></div>
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-left gdlr-core-no-caption gdlr-core-item-pdlr"
                                        style="padding-bottom: 20px;">
                                        <div class="gdlr-core-column-service-media gdlr-core-character"
                                            style="margin-top: 5px;font-size: 45px ;color: #3db166 ;">3
                                        </div>
                                        <div class="gdlr-core-column-service-content-wrapper">
                                            <div class="gdlr-core-column-service-title-wrap">
                                                <h3 class="gdlr-core-column-service-title gdlr-core-skin-title"
                                                    style="font-size: 18px ;text-transform: none ;">Review
                                                    The Submission</h3>
                                            </div>
                                            <div class="gdlr-core-column-service-content"
                                                style="font-size: 16px ;text-transform: none ;">
                                                <p>A wonderful serenity has taken possession of my entire
                                                    soul, like these sweet mornings of spring which I enjoy
                                                    with my whole heart. I am alone, and feel the charm of
                                                    existence.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gdlr-core-pbf-column gdlr-core-column-20 gdlr-core-column-first"
                        data-skin="Blut Title Column Service">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                            <div class="gdlr-core-pbf-background-wrap"></div>
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-left gdlr-core-no-caption gdlr-core-item-pdlr"
                                        style="padding-bottom: 20px;">
                                        <div class="gdlr-core-column-service-media gdlr-core-character"
                                            style="margin-top: 5px;font-size: 45px ;color: #3db166 ;">4
                                        </div>
                                        <div class="gdlr-core-column-service-content-wrapper">
                                            <div class="gdlr-core-column-service-title-wrap">
                                                <h3 class="gdlr-core-column-service-title gdlr-core-skin-title"
                                                    style="font-size: 18px ;text-transform: none ;">Gather
                                                    Necessary Documents</h3>
                                            </div>
                                            <div class="gdlr-core-column-service-content"
                                                style="font-size: 16px ;text-transform: none ;">
                                                <p>A wonderful serenity has taken possession of my entire
                                                    soul, like these sweet mornings of spring which I enjoy
                                                    with my whole heart. I am alone, and feel the charm of
                                                    existence.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gdlr-core-pbf-column gdlr-core-column-20" data-skin="Blut Title Column Service">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                            <div class="gdlr-core-pbf-background-wrap"></div>
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-left gdlr-core-no-caption gdlr-core-item-pdlr"
                                        style="padding-bottom: 20px;">
                                        <div class="gdlr-core-column-service-media gdlr-core-character"
                                            style="margin-top: 5px;font-size: 45px ;color: #3db166 ;">5
                                        </div>
                                        <div class="gdlr-core-column-service-content-wrapper">
                                            <div class="gdlr-core-column-service-title-wrap">
                                                <h3 class="gdlr-core-column-service-title gdlr-core-skin-title"
                                                    style="font-size: 18px ;text-transform: none ;">
                                                    Interviewing Process</h3>
                                            </div>
                                            <div class="gdlr-core-column-service-content"
                                                style="font-size: 16px ;text-transform: none ;">
                                                <p>A wonderful serenity has taken possession of my entire
                                                    soul, like these sweet mornings of spring which I enjoy
                                                    with my whole heart. I am alone, and feel the charm of
                                                    existence.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gdlr-core-pbf-column gdlr-core-column-20" data-skin="Blut Title Column Service">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                            <div class="gdlr-core-pbf-background-wrap"></div>
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-left gdlr-core-no-caption gdlr-core-item-pdlr"
                                        style="padding-bottom: 20px;">
                                        <div class="gdlr-core-column-service-media gdlr-core-character"
                                            style="margin-top: 5px;font-size: 45px ;color: #3db166 ;">6
                                        </div>
                                        <div class="gdlr-core-column-service-content-wrapper">
                                            <div class="gdlr-core-column-service-title-wrap">
                                                <h3 class="gdlr-core-column-service-title gdlr-core-skin-title"
                                                    style="font-size: 18px ;text-transform: none ;">Last
                                                    Decision</h3>
                                            </div>
                                            <div class="gdlr-core-column-service-content"
                                                style="font-size: 16px ;text-transform: none ;">
                                                <p>A wonderful serenity has taken possession of my entire
                                                    soul, like these sweet mornings of spring which I enjoy
                                                    with my whole heart. I am alone, and feel the charm of
                                                    existence.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gdlr-core-pbf-section">
            <div class="gdlr-core-pbf-section-container gdlr-core-container clearfix">
                <div class="gdlr-core-pbf-element">
                    <div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-center-align"
                        style="margin-bottom: 15px ;">
                        <div class="gdlr-core-divider-line gdlr-core-skin-divider"
                            style="border-color: #50bd77 ;border-width: 3px;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gdlr-core-pbf-wrapper " style="padding: 60px 0px 50px 0px;">
            <div class="gdlr-core-pbf-background-wrap"></div>
            <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                    <div class="gdlr-core-pbf-column gdlr-core-column-30 gdlr-core-column-first">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
                                        style="padding-bottom: 40px ;">
                                        <div class="gdlr-core-title-item-title-wrap clearfix">
                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
                                                style="font-size: 22px ;font-weight: 700 ;letter-spacing: 0px ;text-transform: none ;">
                                                Things To Know First</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align"
                                        style="padding-bottom: 10px ;">
                                        <div class="gdlr-core-text-box-item-content"
                                            style="font-size: 17px ;text-transform: none ;">
                                            <p>The Common Application is required for students applying to
                                                any or all of KU’s three degree. You&#8217;ll be able to
                                                choose your campus and program s that you are interested.
                                            </p>
                                            <p>You will need :</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-icon-list-item gdlr-core-item-pdlr gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-style-1"
                                        style="padding-bottom: 25px ;">
                                        <ul>
                                            <li class=" gdlr-core-skin-divider clearfix" style="margin-bottom: 22px ;">
                                                <span class="gdlr-core-icon-list-icon-wrap gdlr-core-left"
                                                    style="margin-top: 5px ;"><i
                                                        class="gdlr-core-icon-list-icon fa fa-dot-circle-o"
                                                        style="color: #50bd77 ;font-size: 18px ;width: 18px ;"></i></span>
                                                <div class="gdlr-core-icon-list-content-wrap"><span
                                                        class="gdlr-core-icon-list-content"
                                                        style="font-size: 17px ;">Contact information for
                                                        the counselor or other school representative who
                                                        will complete your Common Application School Report
                                                        and submit your official high school
                                                        transcript.</span></div>
                                            </li>
                                            <li class=" gdlr-core-skin-divider clearfix" style="margin-bottom: 22px ;">
                                                <span class="gdlr-core-icon-list-icon-wrap gdlr-core-left"
                                                    style="margin-top: 5px ;"><i
                                                        class="gdlr-core-icon-list-icon fa fa-dot-circle-o"
                                                        style="color: #50bd77 ;font-size: 18px ;width: 18px ;"></i></span>
                                                <div class="gdlr-core-icon-list-content-wrap"><span
                                                        class="gdlr-core-icon-list-content"
                                                        style="font-size: 17px ;">Contact information for
                                                        one teacher (or two, maximum) who will complete the
                                                        Teacher Evaluation form.</span></div>
                                            </li>
                                            <li class=" gdlr-core-skin-divider clearfix" style="margin-bottom: 22px ;">
                                                <span class="gdlr-core-icon-list-icon-wrap gdlr-core-left"
                                                    style="margin-top: 5px ;"><i
                                                        class="gdlr-core-icon-list-icon fa fa-dot-circle-o"
                                                        style="color: #50bd77 ;font-size: 18px ;width: 18px ;"></i></span>
                                                <div class="gdlr-core-icon-list-content-wrap"><span
                                                        class="gdlr-core-icon-list-content"
                                                        style="font-size: 17px ;">Nonrefundable $50
                                                        application fee. Students who are unable to pay the
                                                        application fee can request a fee waiver.</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element mx-5">
                                    <div
                                        class="gdlr-core-button-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align ">
                                        <a class="gdlr-core-button  gdlr-core-button-solid gdlr-core-left-align gdlr-core-button-no-border"
                                            href="#" id="gdlr-core-button-id-24271"><span
                                                class="gdlr-core-content">Learn more</span></a>
                                        <a class="gdlr-core-button  gdlr-core-button-solid gdlr-core-left-align gdlr-core-button-no-border "
                                            href="/login" id="gdlr-core-button-id-56004"><span
                                                class="gdlr-core-content">Apply Now</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gdlr-core-pbf-column gdlr-core-column-30">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
                                        style="padding-bottom: 40px ;">
                                        <div class="gdlr-core-title-item-title-wrap clearfix">
                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
                                                style="font-size: 22px ;font-weight: 700 ;letter-spacing: 0px ;text-transform: none ;">
                                                When To Apply?</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align"
                                        style="padding-bottom: 40px ;">
                                        <div class="gdlr-core-text-box-item-content" style="text-transform: none ;">
                                            <div style="overflow-x: auto;">
                                                <table style="min-width: 600px;">
                                                    <tbody>
                                                        <tr>
                                                            <th></th>
                                                            <th>Application Deadline</th>
                                                            <th>Decision</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Early Decision 1</td>
                                                            <td>November 1</td>
                                                            <td>December 15</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Early Decision 2</td>
                                                            <td>January 1</td>
                                                            <td>February 15</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Regular Decision</td>
                                                            <td>January 1</td>
                                                            <td>April 1</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
                                        style="padding-bottom: 25px ;">
                                        <div class="gdlr-core-title-item-title-wrap clearfix">
                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
                                                style="font-size: 22px ;font-weight: 700 ;letter-spacing: 0px ;text-transform: none ;">
                                                Where to submit necessary documents?</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align"
                                        style="padding-bottom: 0px ;">
                                        <div class="gdlr-core-text-box-item-content"
                                            style="font-size: 17px ;text-transform: none ;">
                                            <p>Documents not submitted through the online method can be
                                                mailed to:</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div
                                        class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                        <div class="gdlr-core-text-box-item-content"
                                            style="font-size: 16px ;text-transform: none ;color: #919191 ;">
                                            <p>Box 35300<br />1810 Campus Way NE<br />Bothell, WA 98011-8246
                                                USA</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="">
    <div class="kingster-footer-wrapper ">
        <div class="kingster-footer-container kingster-container clearfix">
            <div class="kingster-footer-column kingster-item-pdlr kingster-column-15">
                <div id="text-2" class="widget widget_text kingster-widget">
                    <div class="textwidget">
                        <p><img src="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/footer-logo.png"
                                alt="" /><br />
                            <span class="gdlr-core-space-shortcode" style="margin-top: 5px ;"></span><br />
                            HighWay 35300<br />
                            1810 Campus Way KL<br />
                            kerala, KL 98011-8246
                        </p>
                        <p><span style="font-size: 15px; color: #ffffff;">+1-2534-4456-345</span><br />
                            <span class="gdlr-core-space-shortcode" style="margin-top: -20px ;"></span><br />
                            <a style="font-size: 15px; color: #ffffff;" href="#"><span class="__cf_email__"
                                    data-cfemail="ceafaaa3a7a08ea5a7a0a9bdbaabbcbba0a7e0abaabb">university@kingster.ac.kl</span></a>
                        </p>
                        <div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-left-align">
                            <div class="gdlr-core-divider-line gdlr-core-skin-divider"
                                style="border-color: #3db166 ;border-width: 2px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kingster-footer-column kingster-item-pdlr kingster-column-15">
                <div id="gdlr-core-custom-menu-widget-2"
                    class="widget widget_gdlr-core-custom-menu-widget kingster-widget">
                    <h3 class="kingster-widget-title">Our Campus</h3><span class="clear"></span>
                    <div class="menu-our-campus-container">
                        <ul id="menu-our-campus" class="gdlr-core-custom-menu-widget gdlr-core-menu-style-plain">
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5709 kingster-normal-menu">
                                <a href="#">Acedemic</a>
                            </li>
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5710 kingster-normal-menu">
                                <a href="#">Planning &#038; Administration</a>
                            </li>
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5711 kingster-normal-menu">
                                <a href="#">Campus Safety</a>
                            </li>
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5712 kingster-normal-menu">
                                <a href="#">Office of the Chancellor</a>
                            </li>
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5713 kingster-normal-menu">
                                <a href="#">Facility Services</a>
                            </li>
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5714 kingster-normal-menu">
                                <a href="#">Human Resources</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="kingster-footer-column kingster-item-pdlr kingster-column-15">
                <div id="gdlr-core-custom-menu-widget-3"
                    class="widget widget_gdlr-core-custom-menu-widget kingster-widget">
                    <h3 class="kingster-widget-title">Campus Life</h3><span class="clear"></span>
                    <div class="menu-campus-life-container">
                        <ul id="menu-campus-life" class="gdlr-core-custom-menu-widget gdlr-core-menu-style-plain">
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5715 kingster-normal-menu">
                                <a href="#">Accessibility</a>
                            </li>
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5716 kingster-normal-menu">
                                <a href="#">Financial Aid</a>
                            </li>
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5717 kingster-normal-menu">
                                <a href="#">Food Services</a>
                            </li>
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5718 kingster-normal-menu">
                                <a href="#">Housing</a>
                            </li>
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5719 kingster-normal-menu">
                                <a href="#">Information Technologies</a>
                            </li>
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5720 kingster-normal-menu">
                                <a href="#">Student Life</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="kingster-footer-column kingster-item-pdlr kingster-column-15">
                <div id="gdlr-core-custom-menu-widget-4"
                    class="widget widget_gdlr-core-custom-menu-widget kingster-widget">
                    <h3 class="kingster-widget-title">Academics</h3><span class="clear"></span>
                    <div class="menu-academics-container">
                        <ul id="menu-academics" class="gdlr-core-custom-menu-widget gdlr-core-menu-style-plain">
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5721 kingster-normal-menu">
                                <a href="#">Canvas</a>
                            </li>
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5722 kingster-normal-menu">
                                <a href="#">Catalyst</a>
                            </li>
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5723 kingster-normal-menu">
                                <a href="#">Library</a>
                            </li>
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5724 kingster-normal-menu">
                                <a href="#">Time Schedule</a>
                            </li>
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5725 kingster-normal-menu">
                                <a href="#">Apply For Admissions</a>
                            </li>
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5726 kingster-normal-menu">
                                <a href="#">Pay My Tuition</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="kingster-copyright-wrapper">
        <div class="kingster-copyright-container kingster-container clearfix">
            <div class="kingster-copyright-left kingster-item-pdlr">Copyright All Right Reserved 2018,
                GoodLayers</div>
            <div class="kingster-copyright-right kingster-item-pdlr">
                <div class="gdlr-core-social-network-item gdlr-core-item-pdb  gdlr-core-none-align"
                    style="padding-bottom: 0px ;"><a href="#" target="_blank" class="gdlr-core-social-network-icon"
                        title="facebook"><i class="fa fa-facebook"></i></a><a href="#" target="_blank"
                        class="gdlr-core-social-network-icon" title="google-plus"><i
                            class="fa fa-google-plus"></i></a><a href="#" target="_blank"
                        class="gdlr-core-social-network-icon" title="linkedin"><i class="fa fa-linkedin"></i></a><a
                        href="#" target="_blank" class="gdlr-core-social-network-icon" title="skype"><i
                            class="fa fa-skype"></i></a><a href="#" target="_blank"
                        class="gdlr-core-social-network-icon" title="twitter"><i class="fa fa-twitter"></i></a><a
                        href="#" target="_blank" class="gdlr-core-social-network-icon" title="instagram"><i
                            class="fa fa-instagram"></i></a></div>
            </div>
        </div>
    </div>
</footer>
</div>
</div>