<div class="container">
        <div class="container-fluid py-5">
            <h2>General Information</h2>
                <div class="form-group col-md-12">
                    <label class="form-label">Date of Birth*</label>
                    <div class="form-line">
                        <div class="form-line">
                            <input type="date" name="dob" class="form-control">
                        </div>
                    </div>
                </div>
                <div>
                    <div class="form-group col-md-12">
                        <label class="form-label">Category*</label>
                        <div>
                         <input type="text" name="aadharNumber" class="form-control">

                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="form-label">Aadhar Card Number</label>
                        <div class="form-line">
                            <input type="text" name="aadharNumber" class="form-control">
                        </div>
                    </div>

                   <div class="rounded-top text-white d-flex flex-row">
                <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                    <img src="{{ApplicationDetails.[0].photograph.filename}}" alt="Generic placeholder image"
                        class="img-fluid img-thumbnail mt-4 mb-2" style="width: 150px; z-index: 1">
                </div>
            </div>
                </div>
                <div>
                    <div>
                        <h2>Contact Information</h2>

                        <div class="form-group col-md-12">
                            <label class="form-label">Address Line 1*</label>
                            <div class="form-line">
                                <input type="text" name="address1" class="form-control">
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="form-label">Address Line 2</label>
                            <div class="form-line">
                                <input type="text" name="address2" class="form-control">
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="form-label">Country*</label>
                            <div class="form">
                               <input type="text" name="pincode" class="form-control">
                        </div>
                        <div class="form-group col-md-12">
                            <label class="form-label">District*</label>
                            <select class="form-control" id="inputDistrict" name="city">
                                <option value="">-- select one -- </option>
                            </select>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="form-label">Pincode*</label>
                            <div class="form-line">
                                <input type="pincode" name="pincode" class="form-control">
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="form-label">Alternate Phone Number</label>
                            <div class="form-line">
                                <input type="text" name="alternatenumber" class="form-control">
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="form-label">WhatsApp Number</label>
                            <div class="form-line">
                                <input type="text" name="whatsappnumber" class="form-control">
                            </div>
                        </div>



                        <h2>Parent's Details</h2>
                        <div class="form-group col-md-12">
                            <label class="form-label">Father's First Name*</label>
                            <div class="form-line">
                                <input type="text" name="fatherfname" class="form-control">
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="form-label">Father's Last Name*</label>
                            <div class="form-line">
                                <input type="text" name="fatherSurename" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="form-group col-md-12">
                            <label class="form-label">Mother's First Name*</label>
                            <div class="form-line">
                                <input type="text" name="motherfname" class="form-control">
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="form-label">Mother's Last Name*</label>
                            <div class="form-line">
                                <input type="text" name="motherSurename" class="form-control">
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="form-label">Parent's Email ID</label>
                            <div class="form-line">
                                <input type="email" name="parantsemail" class="form-control">
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="form-label">Parent's Contact Number (10 Digit Mobile Number) *</label>
                            <div class="form-line">
                                <input type="text" name="parantscontactnumber" class="form-control">
                            </div>
                        </div>
                    </div>
        </div>
    </div>





    <div class="container py-5">
    <div class="container-fluid py-5">
            <h3>Kindly provide your previous qualification details, so that we can assess your scholarship (if
                any) based upon that.</h3>
            <h5>10th Details</h5>
            <table name="tenthDetails" class="table table-bordered table-light">
                <thead>
                    <tr>
                        <th></th>
                        <th>Grade or Percentage </th>
                        <th>Course Commencement Year</th>
                        <th>Course Completion Year </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>10th</td>
                        <td>
                            <div class="col-md-10">
                                <input id="name" type="number" class="form-control" />
                            </div>

                        </td>
                        <td>
                            <div class="col-md-10">
                                <input id="name" type="number" class="form-control" />
                            </div>
                        </td>
                        <td>
                            <div class="col-md-10">
                                <input id="name" type="number" class="form-control" />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <ol>
                    <li>Enter Grades like B- or percentage like 78.56</li>
                    <li>Make sure that you satisfy the eligibility criteria for the programme you are
                        interested.</li>
                </ol>

            </div>
            <div class="rounded-top text-white d-flex flex-row">
                <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                    <img src="{{ApplicationDetails.[0].photograph.filename}}" alt="Generic placeholder image"
                        class="img-fluid img-thumbnail mt-4 mb-2" style="width: 150px; z-index: 1">
                </div>
            </div>
            <div class="form-group form-float">
                <div class="form-line">
                    <input type="text" name="tenthSchoolState" class="form-control">
                    <label class="form-label">10th School/College State</label>
                </div>
            </div>
            <div class="form-group form-float">
                <div class="form-line">
                    <textarea name="tenthSchoolDistrict" cols="30" rows="3" class="form-control no-resize"></textarea>
                    <label class="form-label">10th School/College District</label>
                </div>
            </div>
            <div>
                <div class="form-group form-float">
                    <div class="form-line">

                        <input type="text" name="tenthSchoolCity" class="form-control">
                        <label class="form-label">10th School/College City</label>
                    </div>
                </div>
                <div class="form-group form-float">
                    <div class="form-line">
                        <input type="text" name="tenthSchoolName" class="form-control">
                        <label class="form-label">10th School/College Name</label>
                    </div>
                </div>
                <div class="form-group form-float">
                    <div class="form-line">
                        <input type="text" name="tenthBoard" class="form-control">
                        <label class="form-label">10th Board/University</label>
                    </div>
                </div>
            </div>
            <h5>12th Qualification Details</h5>
            <table name="plustwoDetails" class="table table-bordered table-light">
                <thead>
                    <tr>
                        <th></th>
                        <th>Grade or Percentage </th>
                        <th>Course Commencement Year *</th>
                        <th>Course Completion Year * </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>12th</td>
                        <td>
                            <div class="col-md-10">
                                <input name="GradeorPercentage" id="name" type="text" class="form-control" />
                            </div>

                        </td>
                        <td>
                            <div class="col-md-10">
                                <input id="name" type="text" class="form-control" />
                            </div>
                        </td>
                        <td>
                            <div class="col-md-10">
                                <input id="name" type="text" class="form-control" />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <ol>
                    <li>Make sure that you satisfy the eligibility criteria for the programme you are
                        interested.</li>
                    <li> Enter Grades like B- or percentage like 78.56</li>
                </ol>
            </div>
            <div class="rounded-top text-white d-flex flex-row">
                <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                    <img src="{{ApplicationDetails.[0].photograph.filename}}" alt="Generic placeholder image"
                        class="img-fluid img-thumbnail mt-4 mb-2" style="width: 150px; z-index: 1">
                </div>
            </div>
            <div class="form-group form-float">
                <div class="form-line">
                    <input type="text" name="plustwoSchoolState" class="form-control">
                    <label class="form-label">12th School/College State *</label>
                </div>
            </div>
            <div class="form-group form-float">
                <div class="form-line">
                    <textarea name="plustwoSchoolDistrict" cols="30" rows="3" class="form-control no-resize"></textarea>
                    <label class="form-label">12th School/College District *</label>
                </div>
            </div>
            <div>
                <div class="form-group form-float">
                    <div class="form-line">

                        <input type="text" name="plustwoSchoolCity" class="form-control">
                        <label class="form-label">12th School/College City *</label>
                    </div>
                </div>
                <div class="form-group form-float">
                    <div class="form-line">
                        <input type="text" name="plustwoSchoolName" class="form-control">
                        <label class="form-label">12th School/College Name *</label>
                    </div>
                </div>
                <div class="form-group form-float">
                    <div class="form-line">
                        <input type="text" name="plustwoBoard" class="form-control">
                        <label class="form-label">12th Board/University </label>
                    </div>
                </div>
            </div>
            <div>
    </div>

</div>