<div class="kingster-page-wrapper" id="kingster-page-wrapper">
	<div class="gdlr-core-page-builder-body">
		<div class="gdlr-core-pbf-wrapper " style="padding: 0px 0px 0px 0px;">
			<div class="gdlr-core-pbf-background-wrap" style="background-color: #192f59 ;"></div>
			<div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
				<div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-pbf-wrapper-full-no-space">
					<div class="gdlr-core-pbf-element">
						<div class="gdlr-core-revolution-slider-item gdlr-core-item-pdlr gdlr-core-item-pdb "
							style="padding-bottom: 0px ;">
							<!-- START Homepage REVOLUTION SLIDER 6.5.24 -->
							<p class="rs-p-wp-fix"></p>
							<rs-module-wrap id="rev_slider_1_1_wrapper" data-source="gallery"
								style="visibility:hidden;background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
								<rs-module id="rev_slider_1_1" style="" data-version="6.5.24">
									<rs-slides>
										<rs-slide style="position: absolute;" data-key="rs-3" data-title="Slide"
											data-thumb="//a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/slider-1-2-100x50.jpg"
											data-anim="ms:600;r:0;" data-in="o:0;" data-out="a:false;">
											<img src="//a6e8z9v6.stackpathcdn.com/kingster/wp-content/plugins/revslider/public/assets/assets/dummy.png"
												alt="" title="Homepage" class="rev-slidebg tp-rs-img rs-lazyload"
												data-lazyload="//a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/slider-1-2.jpg"
												data-no-retina>
											<!--
							-->
											<rs-layer id="slider-1-slide-3-layer-1" data-type="text" data-rsp_ch="on"
												data-xy="xo:38px,38px,38px,31px;y:m;yo:-146px,-146px,-146px,-101px;"
												data-text="s:33,33,33,27;l:33;fw:300;a:inherit;"
												data-frame_0="x:-50px;tp:600;" data-frame_1="tp:600;sR:10;"
												data-frame_999="o:0;tp:600;st:w;sR:8690;"
												style="z-index:1;font-family:'Poppins';">The Best University
												Of The State
											</rs-layer>
											<!--

							-->
											<rs-layer id="slider-1-slide-3-layer-2" data-type="text" data-rsp_ch="on"
												data-xy="xo:55px;y:m;yo:-52px,-52px,-52px,-29px;"
												data-text="s:88,88,88,38;l:88;fw:700;a:inherit;"
												data-dim="w:auto,auto,auto,357px;" data-frame_0="tp:600;"
												data-frame_1="tp:600;st:360;sR:360;"
												data-frame_999="o:0;tp:600;st:w;sR:8340;"
												style="z-index:10;font-family:'Playfair Display';">Kingster
											</rs-layer>
											<!--

							-->
											<rs-layer id="slider-1-slide-3-layer-3" data-type="text" data-rsp_ch="on"
												data-xy="xo:423px,423px,423px,221px;y:m;yo:-51px,-51px,-51px,-27px;"
												data-text="s:88,88,88,38;l:88;a:inherit;" data-frame_0="tp:600;"
												data-frame_1="tp:600;st:360;sR:360;"
												data-frame_999="o:0;tp:600;st:w;sR:8340;"
												style="z-index:11;font-family:'Playfair Display';">
												University
											</rs-layer>
											<!--

							-->
											<rs-layer id="slider-1-slide-3-layer-4" class="tp-shape tp-shapewrapper"
												data-type="shape" data-rsp_ch="on"
												data-xy="xo:33px,33px,33px,31px;y:m;yo:-44px,-44px,-44px,-22px;"
												data-text="fw:700;a:inherit;"
												data-dim="w:830px,830px,830px,378px;h:118px,118px,118px,73px;"
												data-border="bor:3px,3px,3px,3px;" data-frame_0="tp:600;"
												data-frame_1="tp:600;st:330;sR:330;"
												data-frame_999="o:0;tp:600;st:w;sR:8370;"
												style="z-index:9;background-color:rgba(24,36,59,0.9);">
											</rs-layer>
											<!--

							-->
											<rs-layer id="slider-1-slide-3-layer-6" class="rev-btn rev-hiddenicon"
												data-type="button" data-color="#2d2d2d"
												data-xy="xo:34px,34px,34px,33px;y:m;yo:80px,80px,80px,67px;"
												data-text="s:17;l:16;fw:600;a:inherit;"
												data-padding="t:19;r:21;b:19;l:21;"
												data-border="bos:solid;boc:#3db166;bow:0,0px,0,5px;bor:0%,0%,0%,0%;"
												data-frame_0="x:-50px;tp:600;" data-frame_1="tp:600;st:660;sR:660;"
												data-frame_999="o:0;tp:600;st:w;sR:8040;"
												data-frame_hover="c:#013d87;bgc:#fff;boc:#3db166;bor:0px,0px,0px,0px;bos:solid;bow:0,0,0,5px;oX:50;oY:50;sp:0;"
												style="z-index:12;background-color:#ffffff;font-family:'Poppins';cursor:pointer;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
												Take A Tour
											</rs-layer>
											<!--
-->
										</rs-slide>
										<rs-slide style="position: absolute;" data-key="rs-1" data-title="Slide"
											data-thumb="//a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/slider-2-100x50.jpg"
											data-anim="ms:600;r:0;" data-in="o:0;" data-out="a:false;">
											<img src="//a6e8z9v6.stackpathcdn.com/kingster/wp-content/plugins/revslider/public/assets/assets/dummy.png"
												alt="" title="Homepage" class="rev-slidebg tp-rs-img rs-lazyload"
												data-lazyload="//a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/slider-2.jpg"
												data-no-retina>
											<!--
							-->
											<rs-layer id="slider-1-slide-1-layer-1" data-type="text" data-rsp_ch="on"
												data-xy="xo:36px,36px,36px,35px;y:m;yo:-120px,-120px,-120px,-91px;"
												data-text="s:33,33,33,28;l:33;fw:300;a:inherit;"
												data-frame_0="x:-50px;tp:600;" data-frame_1="tp:600;sR:10;"
												data-frame_999="o:0;tp:600;st:w;sR:8690;"
												style="z-index:5;font-family:'Poppins';">Kingsters has more
												than
											</rs-layer>
											<!--

							-->
											<rs-layer id="slider-1-slide-1-layer-2" data-type="text" data-rsp_ch="on"
												data-xy="xo:33px;y:m;yo:-31px;"
												data-text="s:83,83,83,41;l:83;fw:600;a:inherit;" data-frame_0="tp:600;"
												data-frame_1="tp:600;st:370;sR:370;"
												data-frame_999="o:0;tp:600;st:w;sR:8330;"
												style="z-index:6;font-family:'Poppins';">180 Majors & Minors
											</rs-layer>
											<!--

							-->
											<rs-layer id="slider-1-slide-1-layer-6" class="rev-btn rev-hiddenicon"
												data-type="button" data-color="#2d2d2d"
												data-xy="xo:34px;y:m;yo:80px,80px,80px,50px;"
												data-text="s:17;l:16;fw:600;a:inherit;"
												data-padding="t:19;r:21;b:19;l:21;"
												data-border="bos:solid;boc:#3db166;bow:0,0px,0,5px;bor:0%,0%,0%,0%;"
												data-frame_0="x:-50px;tp:600;" data-frame_1="tp:600;st:740;sR:740;"
												data-frame_999="o:0;tp:600;st:w;sR:7960;"
												data-frame_hover="c:#004084;bgc:#fff;boc:#3db166;bor:0px,0px,0px,0px;bos:solid;bow:0,0,0,5px;oX:50;oY:50;sp:0;"
												style="z-index:7;background-color:#ffffff;font-family:'Poppins';cursor:pointer;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
												Take A Tour
											</rs-layer>
											<!--
-->
										</rs-slide>
									</rs-slides>
								</rs-module>
								<script data-cfasync="false"
									src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
								<script>
									setREVStartSize({ c: 'rev_slider_1_1', rl: [1240, 1240, 1240, 480], el: [713, 713, 713, 440], gw: [1380, 1380, 1380, 480], gh: [713, 713, 713, 440], type: 'standard', justify: '', layout: 'fullwidth', mh: "0" }); if (window.RS_MODULES !== undefined && window.RS_MODULES.modules !== undefined && window.RS_MODULES.modules["revslider11"] !== undefined) { window.RS_MODULES.modules["revslider11"].once = false; window.revapi1 = undefined; if (window.RS_MODULES.checkMinimal !== undefined) window.RS_MODULES.checkMinimal() }
								</script>
							</rs-module-wrap>
							<!-- END REVOLUTION SLIDER -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="gdlr-core-pbf-wrapper  hp1-col-services"
			style="margin: -43px auto 0px auto;padding: 0px 0px 0px 0px;max-width: 1320px ;" data-skin="Blue Title"
			id="gdlr-core-wrapper-1">
			<div class="gdlr-core-pbf-background-wrap"></div>
			<div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
				<div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-pbf-wrapper-full-no-space">
					<div class=" gdlr-core-pbf-wrapper-container-inner gdlr-core-item-mglr clearfix"
						style="box-shadow: 0 -6px 24px rgba(10, 10, 10,0.09); -moz-box-shadow: 0 -6px 24px rgba(10, 10, 10,0.09); -webkit-box-shadow: 0 -6px 24px rgba(10, 10, 10,0.09); background-color: #ffffff ;border-radius:  3px 3px ;-moz-border-radius:  3px 3px ;-webkit-border-radius:  3px 3px ;z-index: 99 ;">
						<div class="gdlr-core-pbf-column gdlr-core-column-15 gdlr-core-column-first">
							<div class="gdlr-core-pbf-column-content-margin gdlr-core-js "
								style="padding: 52px 0px 0px 66px;">
								<div class="gdlr-core-pbf-background-wrap"></div>
								<div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
									<div class="gdlr-core-pbf-element">
										<div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-left gdlr-core-with-caption gdlr-core-item-pdlr"
											style="padding-bottom: 30px;">
											<div class="gdlr-core-column-service-media gdlr-core-media-image">
												<img src="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/icon-1.png"
													alt="" width="40" height="40" title="icon-1" />
											</div>
											<div class="gdlr-core-column-service-content-wrapper">
												<div class="gdlr-core-column-service-title-wrap">
													<h3 class="gdlr-core-column-service-title gdlr-core-skin-title"
														style="font-size: 18px ;font-weight: 600 ;text-transform: none ;">
														University Life</h3>
													<div class="gdlr-core-column-service-caption gdlr-core-info-font gdlr-core-skin-caption"
														style="font-size: 16px ;font-weight: 500 ;font-style: normal ;">
														Overall in here</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="gdlr-core-pbf-column gdlr-core-column-15" id="gdlr-core-column-9967">
							<div class="gdlr-core-pbf-column-content-margin gdlr-core-js "
								style="margin: 0px 0px 0px 0px;padding: 52px 0px 0px 66px;">
								<div class="gdlr-core-pbf-background-wrap"></div>
								<div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
									<div class="gdlr-core-pbf-element">
										<div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-left gdlr-core-with-caption gdlr-core-item-pdlr"
											style="padding-bottom: 30px;">
											<div class="gdlr-core-column-service-media gdlr-core-media-image">
												<img src="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/icon-2.png"
													alt="" width="44" height="40" title="icon-2" />
											</div>
											<div class="gdlr-core-column-service-content-wrapper">
												<div class="gdlr-core-column-service-title-wrap">
													<h3 class="gdlr-core-column-service-title gdlr-core-skin-title"
														style="font-size: 18px ;font-weight: 600 ;text-transform: none ;">
														Graduation</h3>
													<div class="gdlr-core-column-service-caption gdlr-core-info-font gdlr-core-skin-caption"
														style="font-size: 16px ;font-weight: 500 ;font-style: normal ;">
														Getting Diploma</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="gdlr-core-pbf-column gdlr-core-column-15" id="gdlr-core-column-50677">
							<div class="gdlr-core-pbf-column-content-margin gdlr-core-js "
								style="padding: 52px 0px 0px 66px;">
								<div class="gdlr-core-pbf-background-wrap"></div>
								<div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
									<div class="gdlr-core-pbf-element">
										<div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-left gdlr-core-with-caption gdlr-core-item-pdlr"
											style="padding-bottom: 30px;">
											<div class="gdlr-core-column-service-media gdlr-core-media-image">
												<img src="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/icon-3.png"
													alt="" width="44" height="39" title="icon-3" />
											</div>
											<div class="gdlr-core-column-service-content-wrapper">
												<div class="gdlr-core-column-service-title-wrap">
													<h3 class="gdlr-core-column-service-title gdlr-core-skin-title"
														style="font-size: 18px ;font-weight: 600 ;text-transform: none ;">
														Athletics</h3>
													<div class="gdlr-core-column-service-caption gdlr-core-info-font gdlr-core-skin-caption"
														style="font-size: 16px ;font-weight: 500 ;font-style: normal ;">
														Sport Clubs</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="gdlr-core-pbf-column gdlr-core-column-15" id="gdlr-core-column-60919">
							<div class="gdlr-core-pbf-column-content-margin gdlr-core-js "
								style="padding: 52px 0px 0px 46px;">
								<div class="gdlr-core-pbf-background-wrap"></div>
								<div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
									<div class="gdlr-core-pbf-element">
										<div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-left gdlr-core-with-caption gdlr-core-item-pdlr"
											style="padding-bottom: 30px;">
											<div class="gdlr-core-column-service-media gdlr-core-media-image">
												<img src="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/icon-4.png"
													alt="" width="41" height="41" title="icon-4" />
											</div>
											<div class="gdlr-core-column-service-content-wrapper">
												<div class="gdlr-core-column-service-title-wrap">
													<h3 class="gdlr-core-column-service-title gdlr-core-skin-title"
														style="font-size: 18px ;font-weight: 600 ;text-transform: none ;">
														Social</h3>
													<div class="gdlr-core-column-service-caption gdlr-core-info-font gdlr-core-skin-caption"
														style="font-size: 16px ;font-weight: 500 ;font-style: normal ;">
														Overall in here</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="gdlr-core-pbf-wrapper "
			style="margin-left: auto;margin-right: auto;padding: 0px 0px 85px 0px;max-width: 1320px ;"
			id="gdlr-core-wrapper-2">
			<div class="gdlr-core-pbf-background-wrap">
				<div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js"
					style="background-size: cover ;background-position: center ;" data-parallax-speed="0.8">
				</div>
			</div>
			<div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
				<div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container-custom">
					<div class="gdlr-core-pbf-column gdlr-core-column-30 gdlr-core-column-first">
						<div class="gdlr-core-pbf-column-content-margin gdlr-core-js " style="min-height: 450px ;"
							data-sync-height="height-1">
							<div class="gdlr-core-pbf-background-wrap">
								<div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js"
									style="background-image: url(https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/about-bg-1.jpg) ;background-size: cover ;background-position: center ;"
									data-parallax-speed="0"></div>
							</div>
							<div
								class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content">
							</div>
						</div>
					</div>
					<div class="gdlr-core-pbf-column gdlr-core-column-30" id="gdlr-core-column-21850">
						<div class="gdlr-core-pbf-column-content-margin gdlr-core-js "
							style="padding: 80px 70px 55px 55px;" data-sync-height="height-1">
							<div class="gdlr-core-pbf-background-wrap">
								<div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js"
									style="background-image: url(https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/about-bg-2.jpg) ;background-size: cover ;background-position: center ;"
									data-parallax-speed="0.1"></div>
							</div>
							<div
								class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content">
								<div class="gdlr-core-pbf-element">
									<div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr"
										style="padding-bottom: 20px ;">
										<div class="gdlr-core-title-item-title-wrap clearfix">
											<h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
												style="font-size: 29px ;font-weight: 700 ;letter-spacing: 0px ;text-transform: none ;color: #ffffff ;">
												Apply for Admission</h3>
										</div><span
											class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption"
											style="font-size: 19px ;font-weight: 500 ;font-style: normal ;color: #51be78 ;">Fall
											2023 applications are now open</span>
									</div>
								</div>
								<div class="gdlr-core-pbf-element">
									<div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align"
										style="padding-bottom: 20px ;">
										<div class="gdlr-core-text-box-item-content"
											style="font-size: 18px ;text-transform: none ;color: #c1d3ff ;">
											<p>We don’t just give students an education and experiences that
												set them up for success in a career. We help them succeed in
												their career—to discover a field they’re passionate about
												and dare to lead it.</p>
										</div>
									</div>
								</div>
								<div class="gdlr-core-pbf-element">
									<div
										class="gdlr-core-button-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
										<a class="gdlr-core-button  gdlr-core-button-solid gdlr-core-left-align gdlr-core-button-no-border"
											href="/admissions"
											style="font-size: 15px ;color: #ffffff ;padding: 12px 29px 17px 31px;text-transform: none ;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;"><span
												class="gdlr-core-content">Apply Now</span></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="gdlr-core-pbf-wrapper " style="padding: 125px 0px 70px 0px;">
			<div class="gdlr-core-pbf-background-wrap">
				<div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js"
					style="background-image: url(https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/about-bg-3.jpg) ;background-size: cover ;background-position: center ;"
					data-parallax-speed="0.2"></div>
			</div>
			<div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
				<div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
					<div class="gdlr-core-pbf-column gdlr-core-column-20 gdlr-core-column-first">
						<div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
							<div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
								<div class="gdlr-core-pbf-element">
									<div class="gdlr-core-image-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-item-pdlr"
										style="padding-bottom: 20px ;">
										<div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-rectangle"
											style="border-width: 0px;"><img
												src="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/logo-white.png"
												alt="" width="262" height="35" title="logo-white" /></div>
									</div>
								</div>
								<div class="gdlr-core-pbf-element">
									<div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr"
										style="padding-bottom: 20px ;">
										<div class="gdlr-core-title-item-title-wrap clearfix">
											<h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
												style="font-size: 31px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;color: #51be78 ;">
												About Our University</h3>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="gdlr-core-pbf-column gdlr-core-column-40">
						<div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
							<div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
								<div class="gdlr-core-pbf-element">
									<div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align"
										style="padding-bottom: 15px ;">
										<div class="gdlr-core-text-box-item-content"
											style="font-size: 23px ;text-transform: none ;color: #d8e3fb ;">
											<p>We are one of the largest, most diverse universities in the
												Kerala with over 90,000 students in Kerala, and a further 30,000
												studying across 180 countries for Kingster University.</p>
										</div>
									</div>
								</div>
								<div class="gdlr-core-pbf-element">
									<div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align"
										style="padding-bottom: 15px ;">
										<div class="gdlr-core-text-box-item-content"
											style="font-size: 19px ;font-weight: 500 ;text-transform: none ;color: #ffffff ;">
											<p>Kingster University was established by John Smith in 1920 for
												the public benefit and it is recognized globally. Throughout
												our great history, Kingster has offered access to a wide
												range of academic opportunities. As a world leader in higher
												education, the University has pioneered change in the
												sector.</p>
										</div>
									</div>
								</div>
								<div class="gdlr-core-pbf-element">
									<div
										class="gdlr-core-button-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
										<a class="gdlr-core-button  gdlr-core-button-transparent gdlr-core-left-align gdlr-core-button-no-border"
											href="#" id="gdlr-core-button-id-84866"><span class="gdlr-core-content">Read
												More</span><i class="gdlr-core-pos-right fa fa-long-arrow-right"
												style="font-size: 18px ;color: #ffffff ;"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="gdlr-core-pbf-wrapper " style="padding: 75px 0px 40px 0px;" data-skin="Column Service">
			<div class="gdlr-core-pbf-background-wrap" style="background-color: #1b2945 ;"></div>
			<div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
				<div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
					<div class="gdlr-core-pbf-column gdlr-core-column-15 gdlr-core-column-first">
						<div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
							<div class="gdlr-core-pbf-background-wrap"></div>
							<div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
								<div class="gdlr-core-pbf-element">
									<div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-top gdlr-core-no-caption gdlr-core-item-pdlr"
										style="padding-bottom: 30px;">
										<div class="gdlr-core-column-service-media gdlr-core-media-image"
											style="margin-bottom: 35px;"><img
												src="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/col-icon-1.png"
												alt="" width="41" height="41" title="col-icon-1" /></div>
										<div class="gdlr-core-column-service-content-wrapper">
											<div class="gdlr-core-column-service-title-wrap">
												<h3 class="gdlr-core-column-service-title gdlr-core-skin-title"
													style="font-size: 21px ;font-weight: 700 ;text-transform: none ;">
													Education Services</h3>
											</div>
											<div class="gdlr-core-column-service-content"
												style="font-size: 16px ;text-transform: none ;">
												<p>Kingster University was established by Javad Ali in 1920
													for the public benefit and it is recognized.</p>
												<a class="gdlr-core-column-service-read-more gdlr-core-info-font"
													href="#" style="font-style: normal ;margin-top: 0px ;">Learn
													More</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="gdlr-core-pbf-column gdlr-core-column-15" id="gdlr-core-column-80743">
						<div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
							<div class="gdlr-core-pbf-background-wrap"></div>
							<div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
								<div class="gdlr-core-pbf-element">
									<div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-top gdlr-core-no-caption gdlr-core-item-pdlr"
										style="padding-bottom: 30px;">
										<div class="gdlr-core-column-service-media gdlr-core-media-image"
											style="margin-bottom: 31px;"><img
												src="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/col-icon-2.png"
												alt="" width="43" height="45" title="col-icon-2" /></div>
										<div class="gdlr-core-column-service-content-wrapper">
											<div class="gdlr-core-column-service-title-wrap">
												<h3 class="gdlr-core-column-service-title gdlr-core-skin-title"
													style="font-size: 21px ;font-weight: 700 ;text-transform: none ;">
													International Hubs</h3>
											</div>
											<div class="gdlr-core-column-service-content"
												style="font-size: 16px ;text-transform: none ;">
												<p>Kingster University was established by Javad Ali in 1920
													for the public benefit and it is recognized.</p>
												<a class="gdlr-core-column-service-read-more gdlr-core-info-font"
													href="#" style="font-style: normal ;margin-top: 0px ;">Learn
													More</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="gdlr-core-pbf-column gdlr-core-column-15" id="gdlr-core-column-32705">
						<div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
							<div class="gdlr-core-pbf-background-wrap"></div>
							<div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
								<div class="gdlr-core-pbf-element">
									<div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-top gdlr-core-no-caption gdlr-core-item-pdlr"
										style="padding-bottom: 30px;">
										<div class="gdlr-core-column-service-media gdlr-core-media-image"
											style="margin-bottom: 33px;"><img
												src="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/col-icon-3.png"
												alt="" width="40" height="43" title="col-icon-3" /></div>
										<div class="gdlr-core-column-service-content-wrapper">
											<div class="gdlr-core-column-service-title-wrap">
												<h3 class="gdlr-core-column-service-title gdlr-core-skin-title"
													style="font-size: 21px ;font-weight: 700 ;text-transform: none ;">
													Bachelor’s and Master’s</h3>
											</div>
											<div class="gdlr-core-column-service-content"
												style="font-size: 16px ;text-transform: none ;">
												<p>Kingster University was established by Javad Ali in 1920
													for the public benefit and it is recognized.</p>
												<a class="gdlr-core-column-service-read-more gdlr-core-info-font"
													href="#" style="font-style: normal ;margin-top: 0px ;">Learn
													More</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="gdlr-core-pbf-column gdlr-core-column-15" id="gdlr-core-column-36872">
						<div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
							<div class="gdlr-core-pbf-background-wrap"></div>
							<div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
								<div class="gdlr-core-pbf-element">
									<div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-top gdlr-core-no-caption gdlr-core-item-pdlr"
										style="padding-bottom: 30px;">
										<div class="gdlr-core-column-service-media gdlr-core-media-image"
											style="margin-bottom: 29px;"><img
												src="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/col-icon-4.png"
												alt="" width="47" height="47" title="col-icon-4" /></div>
										<div class="gdlr-core-column-service-content-wrapper">
											<div class="gdlr-core-column-service-title-wrap">
												<h3 class="gdlr-core-column-service-title gdlr-core-skin-title"
													style="font-size: 21px ;font-weight: 700 ;text-transform: none ;">
													University Life</h3>
											</div>
											<div class="gdlr-core-column-service-content"
												style="font-size: 16px ;text-transform: none ;">
												<p>Kingster University was established by Javad Ali in 1920
													for the public benefit and it is recognized.</p>
												<a class="gdlr-core-column-service-read-more gdlr-core-info-font"
													href="#" style="font-style: normal ;margin-top: 0px ;">Learn
													More</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="gdlr-core-pbf-wrapper " style="padding: 0px 0px 0px 0px;">
			<div class="gdlr-core-pbf-background-wrap"></div>
			<div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
				<div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
					<div class="gdlr-core-pbf-column gdlr-core-column-40 gdlr-core-column-first">
						<div class="gdlr-core-pbf-column-content-margin gdlr-core-js "
							style="margin: 0px 20px 0px 0px;padding: 80px 50px 0px 0px;" data-sync-height="height-2">
							<div class="gdlr-core-pbf-background-wrap"></div>
							<div
								class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content">
								<div class="gdlr-core-pbf-element">
									<div
										class="gdlr-core-blog-item gdlr-core-item-pdb clearfix  gdlr-core-style-blog-widget">
										<div class="gdlr-core-block-item-title-wrap  gdlr-core-left-align gdlr-core-item-mglr"
											style="margin-bottom: 35px ;">
											<div class="gdlr-core-block-item-title-inner clearfix">
												<h3 class="gdlr-core-block-item-title"
													style="font-size: 24px ;font-style: normal ;text-transform: none ;letter-spacing: 0px ;color: #163269 ;">
													News & Updates</h3>
												<div class="gdlr-core-block-item-title-divider"
													style="font-size: 24px ;border-bottom-width: 3px ;">
												</div>
											</div><a class="gdlr-core-block-item-read-more" href="#" target="_self"
												style="color: #3db166 ;">Read All News</a>
										</div>
										<div class="gdlr-core-blog-item-holder gdlr-core-js-2 clearfix"
											data-layout="fitrows">
											<div class="gdlr-core-item-list-wrap gdlr-core-column-30">
												<div class="gdlr-core-item-list-inner gdlr-core-item-mglr">
													<div class="gdlr-core-blog-grid ">
														<div
															class="gdlr-core-blog-thumbnail gdlr-core-media-image  gdlr-core-opacity-on-hover gdlr-core-zoom-on-hover">
															<a href="#"><img
																	src="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2016/06/shutterstock_135948689-700x430.jpg"
																	width="700" height="430"
																	srcset="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2016/06/shutterstock_135948689-400x245.jpg 400w, https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2016/06/shutterstock_135948689-700x430.jpg 700w"
																	sizes="(max-width: 767px) 100vw, (max-width: 1150px) 66vw, 766px"
																	alt="" /></a>
														</div>
														<div class="gdlr-core-blog-grid-content-wrap">
															<div
																class="gdlr-core-blog-info-wrapper gdlr-core-skin-divider">
																<span
																	class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-date"><a
																		href="#">June
																		6, 2016</a></span><span
																	class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-tag"><a
																		href="/admissions" rel="tag">Admission</a><span
																		class="gdlr-core-sep">,</span> <a href="#"
																		rel="tag">Student</a></span>
															</div>
															<h3 class="gdlr-core-blog-title gdlr-core-skin-title"
																style="font-size: 19px ;font-weight: 700 ;letter-spacing: 0px ;">
																<a href="#">Professor
																	Anoop Krishna research on mobile money in
																	Tanzania</a>
															</h3>
															<div class="gdlr-core-blog-content clearfix">
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="gdlr-core-item-list-wrap gdlr-core-column-30">
												<div
													class="gdlr-core-item-list gdlr-core-blog-widget gdlr-core-item-mglr clearfix gdlr-core-style-small">
													<div
														class="gdlr-core-blog-thumbnail gdlr-core-media-image  gdlr-core-opacity-on-hover gdlr-core-zoom-on-hover">
														<a href="#"><img
																src="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/shutterstock_218235004-150x150.jpg"
																alt="" width="150" height="150" title="Student" /></a>
													</div>
													<div class="gdlr-core-blog-widget-content">
														<div class="gdlr-core-blog-info-wrapper gdlr-core-skin-divider">
															<span
																class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-date"><a
																	href="#">June
																	6, 2016</a></span><span
																class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-tag"><a
																	href="#" rel="tag">Hot</a><span
																	class="gdlr-core-sep">,</span> <a href="#"
																	rel="tag">Updates</a></span>
														</div>
														<h3 class="gdlr-core-blog-title gdlr-core-skin-title"
															style="font-size: 16px ;font-weight: 700 ;letter-spacing: 0px ;">
															<a href="#">A
																Global MBA for the next generation of
																business leaders</a>
														</h3>
													</div>
												</div>
												<div
													class="gdlr-core-item-list gdlr-core-blog-widget gdlr-core-item-mglr clearfix gdlr-core-style-small">
													<div
														class="gdlr-core-blog-thumbnail gdlr-core-media-image  gdlr-core-opacity-on-hover gdlr-core-zoom-on-hover">
														<a href="#"><img
																src="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2016/06/shutterstock_481869205-150x150.jpg"
																alt="" width="150" height="150"
																title="shutterstock_481869205" /></a>
													</div>
													<div class="gdlr-core-blog-widget-content">
														<div class="gdlr-core-blog-info-wrapper gdlr-core-skin-divider">
															<span
																class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-date"><a
																	href="#">June
																	6, 2022</a></span><span
																class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-tag"><a
																	href="/admissions" rel="tag">Admission</a><span
																	class="gdlr-core-sep">,</span> <a href="#"
																	rel="tag">Event</a></span>
														</div>
														<h3 class="gdlr-core-blog-title gdlr-core-skin-title"
															style="font-size: 16px ;font-weight: 700 ;letter-spacing: 0px ;">
															<a href="#">Professor
																Tom comments on voluntary recalls by snack
																brands</a>
														</h3>
													</div>
												</div>
												<div
													class="gdlr-core-item-list gdlr-core-blog-widget gdlr-core-item-mglr clearfix gdlr-core-style-small">
													<div
														class="gdlr-core-blog-thumbnail gdlr-core-media-image  gdlr-core-opacity-on-hover gdlr-core-zoom-on-hover">
														<a href="#"><img
																src="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2016/06/shutterstock_361397258-150x150.jpg"
																alt="" width="150" height="150"
																title="shutterstock_361397258" /></a>
													</div>
													<div class="gdlr-core-blog-widget-content">
														<div class="gdlr-core-blog-info-wrapper gdlr-core-skin-divider">
															<span
																class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-date"><a
																	href="#">June
																	6, 2022</a></span><span
																class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-tag"><a
																	href="#" rel="tag">Article</a><span
																	class="gdlr-core-sep">,</span> <a href="#"
																	rel="tag">Research</a></span>
														</div>
														<h3 class="gdlr-core-blog-title gdlr-core-skin-title"
															style="font-size: 16px ;font-weight: 700 ;letter-spacing: 0px ;">
															<a href="#">Professor
																Aswanth is interviewed about Twitter&#8217;s
																valuation</a>
														</h3>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="gdlr-core-pbf-column gdlr-core-column-20" id="gdlr-core-column-56937">
						<div class="gdlr-core-pbf-column-content-margin gdlr-core-js  gdlr-core-column-extend-right"
							style="padding: 90px 0px 0px 65px;" data-sync-height="height-2">
							<div class="gdlr-core-pbf-background-wrap">
								<div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js"
									style="background-image: url(https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/link-bg.jpg) ;background-size: cover ;background-position: center ;"
									data-parallax-speed="0"></div>
							</div>
							<div
								class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content">
								<div class="gdlr-core-pbf-element">
									<div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
										style="padding-bottom: 40px ;">
										<div class="gdlr-core-title-item-left-icon"
											style="margin: 0px 15px 0px 0px;font-size: 20px ;"><i class="icon_link_alt"
												style="color: #ffffff ;"></i></div>
										<div class="gdlr-core-title-item-left-icon-wrap">
											<div class="gdlr-core-title-item-title-wrap clearfix">
												<h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
													style="font-size: 25px ;font-weight: 700 ;letter-spacing: 0px ;text-transform: none ;color: #ffffff ;">
													Quick Links</h3>
											</div>
										</div>
									</div>
								</div>
								<div class="gdlr-core-pbf-element">
									<div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
										style="padding-bottom: 20px ;" id="gdlr-core-title-item-id-73031">
										<div class="gdlr-core-title-item-title-wrap clearfix">
											<h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
												style="font-size: 16px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;color: #3db166 ;">
												<a href="#" target="_self">Alumni & Donors</a>
											</h3>
										</div>
									</div>
								</div>
								<div class="gdlr-core-pbf-element">
									<div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-center-align"
										style="margin-bottom: 17px ;">
										<div class="gdlr-core-divider-line gdlr-core-skin-divider"
											style="border-color: #53607a ;"></div>
									</div>
								</div>
								<div class="gdlr-core-pbf-element">
									<div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
										style="padding-bottom: 20px ;" id="gdlr-core-title-item-id-48341">
										<div class="gdlr-core-title-item-title-wrap clearfix">
											<h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
												style="font-size: 16px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;color: #3db166 ;">
												<a href="#" target="_self">Athletic Calendar</a>
											</h3>
										</div>
									</div>
								</div>
								<div class="gdlr-core-pbf-element">
									<div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-center-align"
										style="margin-bottom: 17px ;">
										<div class="gdlr-core-divider-line gdlr-core-skin-divider"
											style="border-color: #53607a ;"></div>
									</div>
								</div>
								<div class="gdlr-core-pbf-element">
									<div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
										style="padding-bottom: 20px ;" id="gdlr-core-title-item-id-15342">
										<div class="gdlr-core-title-item-title-wrap clearfix">
											<h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
												style="font-size: 16px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;color: #3db166 ;">
												<a href="#" target="_self">All Kingster’s Events</a>
											</h3>
										</div>
									</div>
								</div>
								<div class="gdlr-core-pbf-element">
									<div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-center-align"
										style="margin-bottom: 17px ;">
										<div class="gdlr-core-divider-line gdlr-core-skin-divider"
											style="border-color: #53607a ;"></div>
									</div>
								</div>
								<div class="gdlr-core-pbf-element">
									<div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
										style="padding-bottom: 20px ;" id="gdlr-core-title-item-id-3117">
										<div class="gdlr-core-title-item-title-wrap clearfix">
											<h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
												style="font-size: 16px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;color: #3db166 ;">
												<a href="#" target="_self">Partnership & Out Reach</a>
											</h3>
										</div>
									</div>
								</div>
								<div class="gdlr-core-pbf-element">
									<div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-center-align"
										style="margin-bottom: 17px ;">
										<div class="gdlr-core-divider-line gdlr-core-skin-divider"
											style="border-color: #53607a ;"></div>
									</div>
								</div>
								<div class="gdlr-core-pbf-element">
									<div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
										style="padding-bottom: 20px ;" id="gdlr-core-title-item-id-84048">
										<div class="gdlr-core-title-item-title-wrap clearfix">
											<h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
												style="font-size: 16px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;color: #3db166 ;">
												<a href="#" target="_self">Academic Programs</a>
											</h3>
										</div>
									</div>
								</div>
								<div class="gdlr-core-pbf-element">
									<div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-center-align"
										style="margin-bottom: 17px ;">
										<div class="gdlr-core-divider-line gdlr-core-skin-divider"
											style="border-color: #53607a ;"></div>
									</div>
								</div>
								<div class="gdlr-core-pbf-element">
									<div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
										style="padding-bottom: 20px ;" id="gdlr-core-title-item-id-52457">
										<div class="gdlr-core-title-item-title-wrap clearfix">
											<h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
												style="font-size: 16px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;color: #3db166 ;">
												<a href="#" target="_self">Tution And Fees</a>
											</h3>
										</div>
									</div>
								</div>
								<div class="gdlr-core-pbf-element">
									<div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-center-align"
										style="margin-bottom: 15px ;">
										<div class="gdlr-core-divider-line gdlr-core-skin-divider"
											style="border-color: #53607a ;"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="gdlr-core-pbf-column gdlr-core-column-40 gdlr-core-column-first" data-skin="Blue Title">
						<div class="gdlr-core-pbf-column-content-margin gdlr-core-js  gdlr-core-column-extend-left"
							style="padding: 35px 15px 5px 0px;" data-sync-height="height-3" data-sync-height-center>
							<div class="gdlr-core-pbf-background-wrap" style="background-color: #f3f3f3 ;">
							</div>
							<div
								class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content">
								<div class="gdlr-core-pbf-element">
									<div
										class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
										<div class="gdlr-core-text-box-item-content" style="text-transform: none ;">
											<div class="gdlr-core-twitter-item gdlr-core-item-pdb"
												style="padding-bottom: 0px;">
												<div class="gdlr-core-block-item-title-nav ">
													<div
														class="gdlr-core-flexslider-nav gdlr-core-plain-style gdlr-core-block-center">
													</div>
												</div>
												<div class="gdlr-core-twitter-content">
													<div class="gdlr-core-flexslider flexslider gdlr-core-js-2 "
														data-type="carousel" data-column="1" data-nav="navigation"
														data-nav-parent="gdlr-core-twitter-item">
														<ul class="slides" style="width: 600%; margin-left: 0px;">
															<li class="gdlr-core-item-mglr">
																<div class="gdlr-core-twitter-item-list">
																	<span
																		class="gdlr-core-twitter-item-list-content">Shaking
																		off the working week! What&#8217;s
																		on the agenda for the weekend? by
																		KonstantinKolosov via… <a href="#"
																			target="_blank"
																			rel="noopener">https://t.co/fSyxq53H6P</a></span><span
																		class="gdlr-core-twitter-item-list-date gdlr-core-skin-caption"><a
																			class="gdlr-core-twitter-date" href="#"
																			target="_blank" rel="noopener">
																			18 hours ago</a></span>
																</div>
															</li>
															<li class="gdlr-core-item-mglr">
																<div class="gdlr-core-twitter-item-list">
																	<span class="gdlr-core-twitter-item-list-content">RT
																		<a href="#">@placeitapp</a>:
																		Making a <a href="#" target="_blank"
																			rel="noopener">#YouTube</a>
																		banner for your channel is easy with
																		Placeit&#8217;s <a href="h#" target="_blank"
																			rel="noopener">#bannermaker!</a>
																		Make your own in sec… <a href="#"
																			target="_blank"
																			rel="noopener">https://t.co/0X22tX3wtm</a></span><span
																		class="gdlr-core-twitter-item-list-date gdlr-core-skin-caption"><a
																			class="gdlr-core-twitter-date" href="#"
																			target="_blank" rel="noopener">
																			yesterday</a></span>
																</div>
															</li>
															<li class="gdlr-core-item-mglr">
																<div class="gdlr-core-twitter-item-list">
																	<span
																		class="gdlr-core-twitter-item-list-content">Our
																		Chief People Officer <a
																			href="#">@MRidsdale16</a>
																		joined <a href="#">@benjaminlaw</a>
																		and <a href="#">@raejohnston</a>
																		on <a href="#">@tsushow</a>
																		to discuss all things Cultu… <a href="#"
																			target="_blank"
																			rel="noopener">https://t.co/uszxz0qicU</a></span><span
																		class="gdlr-core-twitter-item-list-date gdlr-core-skin-caption"><a
																			class="gdlr-core-twitter-date" href="#"
																			target="_blank" rel="noopener">
																			2 days ago</a></span>
																</div>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="gdlr-core-pbf-column gdlr-core-column-20" data-skin="White Text">
						<div class="gdlr-core-pbf-column-content-margin gdlr-core-js  gdlr-core-column-extend-right"
							style="padding: 40px 0px 35px 35px;" data-sync-height="height-3">
							<div class="gdlr-core-pbf-background-wrap" style="background-color: #3db166 ;">
							</div>
							<div
								class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content">
								<div class="gdlr-core-pbf-element">
									<div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-left gdlr-core-no-caption gdlr-core-item-pdlr"
										style="padding-bottom: 0px;">
										<div class="gdlr-core-column-service-media gdlr-core-media-image"
											style="margin-top: -2px;margin-right: 15px;"><img
												src="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/apply-logo.png"
												alt="" width="42" height="39" title="apply-logo" /></div>
										<div class="gdlr-core-column-service-content-wrapper">
											<div class="gdlr-core-column-service-title-wrap">
												<h3 class="gdlr-core-column-service-title gdlr-core-skin-title"
													style="font-size: 19px ;font-weight: 700 ;text-transform: none ;">
													Apply To Kingster</h3>
											</div>
										</div>
									</div>
								</div>
							</div><a class="gdlr-core-pbf-column-link" href="/admissions" target="_self"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="gdlr-core-pbf-wrapper " style="padding: 220px 0px 170px 0px;">
			<div class="gdlr-core-pbf-background-wrap">
				<div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js"
					style="background-image: url(https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/video-bg.jpg) ;background-size: cover ;background-position: center ;"
					data-parallax-speed="0.2"></div>
			</div>
			<div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
				<div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container-custom"
					style="max-width: 710px ;">
					<div class="gdlr-core-pbf-element">
						<div class="gdlr-core-image-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-item-pdlr"
							style="padding-bottom: 40px ;">
							<div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-rectangle"
								style="border-width: 0px;"><a class="gdlr-core-lightgallery gdlr-core-js " href="#"><img
										src="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/icon-play.png"
										alt="" width="82" height="82" title="icon-play" /></a></div>
						</div>
					</div>
					<div class="gdlr-core-pbf-element">
						<div
							class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
							<div class="gdlr-core-title-item-title-wrap clearfix">
								<h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
									style="font-size: 38px ;font-weight: 700 ;letter-spacing: 0px ;text-transform: none ;color: #ffffff ;">
									Video Tour in Kingster</h3>
							</div>
						</div>
					</div>
					<div class="gdlr-core-pbf-element">
						<div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-center-align"
							style="padding-bottom: 0px ;">
							<div class="gdlr-core-text-box-item-content"
								style="font-size: 19px ;font-weight: 500 ;text-transform: none ;color: #ffffff ;">
								<p>Take a tour in Kingster and you will find the best university in the
									state. The video will take you to every places in this university.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="gdlr-core-pbf-wrapper " style="padding: 90px 0px 60px 0px;">
			<div class="gdlr-core-pbf-background-wrap" style="background-color: #efefef ;"></div>
			<div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
				<div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
					<div class="gdlr-core-pbf-element">
						<div
							class="gdlr-core-tab-item gdlr-core-js gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-tab-style1-horizontal gdlr-core-item-pdlr">
							<div class="gdlr-core-tab-item-content-image-wrap clearfix">
								<div class="gdlr-core-tab-item-image  gdlr-core-active" data-tab-id="1"><span
										class="gdlr-core-tab-item-image-background"
										style="background-image: url(https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/tab-1-1.jpg) ;"></span>
								</div>
								<div class="gdlr-core-tab-item-image " data-tab-id="2"><span
										class="gdlr-core-tab-item-image-background"
										style="background-image: url(https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/tab-2.jpg) ;"></span>
								</div>
								<div class="gdlr-core-tab-item-image " data-tab-id="3"><span
										class="gdlr-core-tab-item-image-background"
										style="background-image: url(https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/tab-3.jpg) ;"></span>
								</div>
								<div class="gdlr-core-tab-item-image " data-tab-id="4"><span
										class="gdlr-core-tab-item-image-background"
										style="background-image: url(https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/tab-4.jpg) ;"></span>
								</div>
							</div>
							<div class="gdlr-core-tab-item-wrap">
								<div class="gdlr-core-tab-item-title-wrap clearfix gdlr-core-title-font">
									<div class="gdlr-core-tab-item-title  gdlr-core-active" data-tab-id="1">
										Benefits</div>
									<div class="gdlr-core-tab-item-title " data-tab-id="2">Self Development
									</div>
									<div class="gdlr-core-tab-item-title " data-tab-id="3">Spirituality
									</div>
									<div class="gdlr-core-tab-item-title " data-tab-id="4">Alumni</div>
								</div>
								<div class="gdlr-core-tab-item-content-wrap clearfix">
									<div class="gdlr-core-tab-item-content  gdlr-core-active" data-tab-id="1"
										style="background-color: #ffffff ;background-image: url(https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/tab-bg.png) ;background-position: top right ;">
										<div
											class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top">
											<div class="gdlr-core-title-item-title-wrap ">
												<h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
													style="font-size: 22px ;font-weight: 700 ;text-transform: none ;color: #314e85 ;">
													Why Choose Kingster?<span
														class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span>
												</h3>
											</div>
										</div>
										<p>The Kingster University Alumni Association is excited to announce
											the arrival of KU Alumni Connect. This is a new community
											building platform for Kinster’s alumni. It is the only place
											online where you can find, and connect with, all 90,000
											Kingster’s alumni. All alumni are automatically enrolled!</p>
										<p>Kingster University was established by John Smith in 1920 for the
											public benefit and it is recognized globally. Throughout our
											great history, Kingster has offered access to a wide range of
											academic opportunities. As a world leader in higher education,
											the University has pioneered change in the sector.</p>
									</div>
									<div class="gdlr-core-tab-item-content " data-tab-id="2"
										style="background-color: #ffffff ;background-image: url(https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/tab-bg.png) ;background-position: top right ;">
										<div
											class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top">
											<div class="gdlr-core-title-item-title-wrap ">
												<h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
													style="font-size: 22px ;font-weight: 700 ;text-transform: none ;color: #314e85 ;">
													Self Development<span
														class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span>
												</h3>
											</div>
										</div>
										<p>The Kingster University Alumni Association is excited to announce
											the arrival of KU Alumni Connect. This is a new community
											building platform for Kinster’s alumni. It is the only place
											online where you can find, and connect with, all 90,000
											Kingster’s alumni. All alumni are automatically enrolled!</p>
										<p>Kingster University was established by John Smith in 1920 for the
											public benefit and it is recognized globally. Throughout our
											great history, Kingster has offered access to a wide range of
											academic opportunities. As a world leader in higher education,
											the University has pioneered change in the sector.</p>
									</div>
									<div class="gdlr-core-tab-item-content " data-tab-id="3"
										style="background-color: #ffffff ;background-image: url(https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/tab-bg.png) ;background-position: top right ;">
										<div
											class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top">
											<div class="gdlr-core-title-item-title-wrap ">
												<h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
													style="font-size: 22px ;font-weight: 700 ;text-transform: none ;color: #314e85 ;">
													Spirituality<span
														class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span>
												</h3>
											</div>
										</div>
										<p>The Kingster University Alumni Association is excited to announce
											the arrival of KU Alumni Connect. This is a new community
											building platform for Kinster’s alumni. It is the only place
											online where you can find, and connect with, all 90,000
											Kingster’s alumni. All alumni are automatically enrolled!</p>
										<p>Kingster University was established by John Smith in 1920 for the
											public benefit and it is recognized globally. Throughout our
											great history, Kingster has offered access to a wide range of
											academic opportunities. As a world leader in higher education,
											the University has pioneered change in the sector.</p>
									</div>
									<div class="gdlr-core-tab-item-content " data-tab-id="4"
										style="background-color: #ffffff ;background-image: url(https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/tab-bg.png) ;background-position: top right ;">
										<div
											class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top">
											<div class="gdlr-core-title-item-title-wrap ">
												<h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
													style="font-size: 22px ;font-weight: 700 ;text-transform: none ;color: #314e85 ;">
													Alumni<span
														class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span>
												</h3>
											</div>
										</div>
										<p>The Kingster University Alumni Association is excited to announce
											the arrival of KU Alumni Connect. This is a new community
											building platform for Kinster’s alumni. It is the only place
											online where you can find, and connect with, all 90,000
											Kingster’s alumni. All alumni are automatically enrolled!</p>
										<p>Kingster University was established by John Smith in 1920 for the
											public benefit and it is recognized globally. Throughout our
											great history, Kingster has offered access to a wide range of
											academic opportunities. As a world leader in higher education,
											the University has pioneered change in the sector.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="gdlr-core-pbf-wrapper " style="padding: 60px 0px 5px 0px;" id="gdlr-core-wrapper-3">
			<div class="gdlr-core-pbf-background-wrap"></div>
			<div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
				<div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container-custom"
					style="max-width: 1280px ;">
					<div class="gdlr-core-pbf-column gdlr-core-column-20 gdlr-core-column-first">
						<div class="gdlr-core-pbf-column-content-margin gdlr-core-js "
							style="padding: 80px 50px 80px 50px;" data-sync-height="height-column"
							data-sync-height-center>
							<div class="gdlr-core-pbf-background-wrap">
								<div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js"
									style="background-image: url(https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/col-bg-1.jpg) ;background-size: cover ;background-position: center ;"
									data-parallax-speed="0"></div>
							</div>
							<div
								class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content">
								<div class="gdlr-core-pbf-element">
									<div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr"
										style="padding-bottom: 0px ;">
										<div class="gdlr-core-title-item-title-wrap clearfix">
											<h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
												style="font-size: 18px ;font-weight: 700 ;letter-spacing: 0px ;text-transform: none ;color: #ffffff ;">
												Undergraduate</h3>
										</div><span
											class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption"
											style="font-size: 15px ;font-style: normal ;color: #d4e1f8 ;">Kingster
											University was established by Javad Ali in 1920 for the public
											benefit and it is recognized globally.</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="gdlr-core-pbf-column gdlr-core-column-20">
						<div class="gdlr-core-pbf-column-content-margin gdlr-core-js "
							style="padding: 80px 50px 80px 50px;" data-sync-height="height-column"
							data-sync-height-center>
							<div class="gdlr-core-pbf-background-wrap" style="background-color: #1c2e51 ;">
							</div>
							<div
								class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content">
								<div class="gdlr-core-pbf-element">
									<div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr"
										style="padding-bottom: 0px ;">
										<div class="gdlr-core-title-item-title-wrap clearfix">
											<h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
												style="font-size: 18px ;font-weight: 700 ;letter-spacing: 0px ;text-transform: none ;color: #ffffff ;">
												Graduated & Professional</h3>
										</div><span
											class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption"
											style="font-size: 15px ;font-style: normal ;color: #d4e1f8 ;">Kingster
											University was established by Javad Ali in 1920 for the public
											benefit and it is recognized globally.</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="gdlr-core-pbf-column gdlr-core-column-20">
						<div class="gdlr-core-pbf-column-content-margin gdlr-core-js "
							style="padding: 80px 50px 80px 50px;" data-sync-height="height-column"
							data-sync-height-center>
							<div class="gdlr-core-pbf-background-wrap">
								<div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js"
									style="background-image: url(https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/col-bg-3.jpg) ;background-size: cover ;background-position: center ;"
									data-parallax-speed="0"></div>
							</div>
							<div
								class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content">
								<div class="gdlr-core-pbf-element">
									<div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr"
										style="padding-bottom: 0px ;">
										<div class="gdlr-core-title-item-title-wrap clearfix">
											<h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
												style="font-size: 18px ;font-weight: 700 ;letter-spacing: 0px ;text-transform: none ;color: #ffffff ;">
												Scholarships & Financial AID</h3>
										</div><span
											class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption"
											style="font-size: 15px ;font-style: normal ;color: #d4e1f8 ;">Kingster
											University was established by Javad Ali in 1920 for the public
											benefit and it is recognized globally.</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="gdlr-core-pbf-wrapper " style="padding: 60px 0px 75px 0px;">
			<div class="gdlr-core-pbf-background-wrap"></div>
			<div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
				<div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
					<div class="gdlr-core-pbf-column gdlr-core-column-20 gdlr-core-column-first">
						<div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
							<div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
								<div class="gdlr-core-pbf-element">
									<div
										class="gdlr-core-image-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-item-pdlr">
										<div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-round"
											style="border-width: 0px;"><img
												src="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/hp-donation.jpg"
												width="700" height="372"
												srcset="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/hp-donation-400x212.jpg 400w, https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/hp-donation.jpg 700w"
												sizes="(max-width: 767px) 100vw, (max-width: 1150px) 33vw, 383px"
												alt="" /></div>
									</div>
								</div>
								<div class="gdlr-core-pbf-element">
									<div
										class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr">
										<div class="gdlr-core-title-item-title-wrap clearfix">
											<h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
												style="font-size: 22px ;font-weight: 700 ;letter-spacing: 0px ;text-transform: none ;color: #182847 ;">
												Donation helps us</h3>
										</div><span
											class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption"
											style="font-size: 15px ;font-style: normal ;margin-top: 14px ;">The
											Campaign for the Kingster University is the <strong>largest
												fundraising campaign in history.</strong> With a historic $1
											billion goal, the campaign is expanding U of T’s global
											leadership capacity.</span>
									</div>
								</div>
								<div class="gdlr-core-pbf-element">
									<div
										class="gdlr-core-button-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
										<a class="gdlr-core-button  gdlr-core-button-solid gdlr-core-left-align gdlr-core-button-no-border"
											href="#"
											style="font-size: 13px ;letter-spacing: 0px ;padding: 17px 31px 18px 31px;text-transform: none ;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;"><i
												class="gdlr-core-pos-left fa fa-heart"></i><span
												class="gdlr-core-content">Become a donor</span></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="gdlr-core-pbf-column gdlr-core-column-20">
						<div class="gdlr-core-pbf-column-content-margin gdlr-core-js "
							style="padding: 0px 20px 0px 0px;">
							<div class="gdlr-core-pbf-background-wrap"></div>
							<div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
								<div class="gdlr-core-pbf-element">
									<div class="gdlr-core-event-item gdlr-core-item-pdb" style="padding-bottom: 0px ;">
										<div class="gdlr-core-block-item-title-wrap  gdlr-core-left-align gdlr-core-item-mglr"
											style="margin-bottom: 47px ;">
											<div class="gdlr-core-block-item-title-inner clearfix">
												<h3 class="gdlr-core-block-item-title"
													style="font-size: 22px ;font-style: normal ;text-transform: none ;letter-spacing: 0px ;color: #182847 ;">
													Upcoming Events </h3>
												<div class="gdlr-core-block-item-title-divider"
													style="font-size: 22px ;border-bottom-color: #dcdcdc ;border-bottom-width: 2px ;">
												</div>
											</div>
										</div>
										<div class="gdlr-core-event-item-holder clearfix">
											<div class="gdlr-core-event-item-list gdlr-core-item-pdlr  gdlr-core-style-widget  clearfix"
												style="margin-bottom: 38px ;">
												<div class="gdlr-core-event-widget clearfix"><span
														class="gdlr-core-event-item-info gdlr-core-skin-caption gdlr-core-type-start-date-month"><span
															class="gdlr-core-date">17</span><span
															class="gdlr-core-month">Dec</span></span>
													<div class="gdlr-core-event-item-content-wrap">
														<h3 class="gdlr-core-event-item-title"
															style="letter-spacing: 0px ;text-transform: none ;">
															<a href="#">Fintech
																&#038; Key Investment Conference</a>
														</h3>
														<div class="gdlr-core-event-item-info-wrap"><span
																class="gdlr-core-event-item-info gdlr-core-skin-caption gdlr-core-type-time"><span
																	class="gdlr-core-head"><i
																		class="icon_clock_alt"></i></span><span
																	class="gdlr-core-tail">1:00 pm - 1:00
																	pm</span></span><span
																class="gdlr-core-event-item-info gdlr-core-skin-caption gdlr-core-type-location"><span
																	class="gdlr-core-head"><i
																		class="icon_pin_alt"></i></span><span
																	class="gdlr-core-tail">Kingster Grand
																	Hall</span></span></div>
													</div>
												</div>
											</div>
											<div class="gdlr-core-event-item-list gdlr-core-item-pdlr  gdlr-core-style-widget  clearfix"
												style="margin-bottom: 38px ;">
												<div class="gdlr-core-event-widget clearfix"><span
														class="gdlr-core-event-item-info gdlr-core-skin-caption gdlr-core-type-start-date-month"><span
															class="gdlr-core-date">04</span><span
															class="gdlr-core-month">Nov</span></span>
													<div class="gdlr-core-event-item-content-wrap">
														<h3 class="gdlr-core-event-item-title"
															style="letter-spacing: 0px ;text-transform: none ;">
															<a href="#">Sport
																Management Information Webinar</a>
														</h3>
														<div class="gdlr-core-event-item-info-wrap"><span
																class="gdlr-core-event-item-info gdlr-core-skin-caption gdlr-core-type-time"><span
																	class="gdlr-core-head"><i
																		class="icon_clock_alt"></i></span><span
																	class="gdlr-core-tail">1:00 pm - 1:00
																	pm</span></span><span
																class="gdlr-core-event-item-info gdlr-core-skin-caption gdlr-core-type-location"><span
																	class="gdlr-core-head"><i
																		class="icon_pin_alt"></i></span><span
																	class="gdlr-core-tail">Kingster Grand
																	Hall</span></span></div>
													</div>
												</div>
											</div>
											<div class="gdlr-core-event-item-list gdlr-core-item-pdlr  gdlr-core-style-widget  clearfix"
												style="margin-bottom: 38px ;">
												<div class="gdlr-core-event-widget clearfix"><span
														class="gdlr-core-event-item-info gdlr-core-skin-caption gdlr-core-type-start-date-month"><span
															class="gdlr-core-date">11</span><span
															class="gdlr-core-month">Sep</span></span>
													<div class="gdlr-core-event-item-content-wrap">
														<h3 class="gdlr-core-event-item-title"
															style="letter-spacing: 0px ;text-transform: none ;">
															<a href="#">Planning
																and Facilitating Effective Meetings</a>
														</h3>
														<div class="gdlr-core-event-item-info-wrap"><span
																class="gdlr-core-event-item-info gdlr-core-skin-caption gdlr-core-type-time"><span
																	class="gdlr-core-head"><i
																		class="icon_clock_alt"></i></span><span
																	class="gdlr-core-tail">8:00 am - 8:00
																	am</span></span><span
																class="gdlr-core-event-item-info gdlr-core-skin-caption gdlr-core-type-location"><span
																	class="gdlr-core-head"><i
																		class="icon_pin_alt"></i></span><span
																	class="gdlr-core-tail">Kingster Grand
																	Hall</span></span></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="gdlr-core-pbf-element">
									<div class="gdlr-core-button-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align"
										style="padding-bottom: 0px ;margin-top: -30px ;"><a
											class="gdlr-core-button  gdlr-core-button-transparent gdlr-core-left-align gdlr-core-button-no-border"
											href="#"
											style="font-size: 14px ;letter-spacing: 1px ;color: #475c87 ;padding: 0px 0px 0px 0px;text-transform: none ;border-radius: 0px;-moz-border-radius: 0px;-webkit-border-radius: 0px;"><span
												class="gdlr-core-content">View All Events</span><i
												class="gdlr-core-pos-right fa fa-long-arrow-right"
												style="color: #475c87 ;"></i></a></div>
								</div>
							</div>
						</div>
					</div>
					<div class="gdlr-core-pbf-column gdlr-core-column-20" data-skin="Newsletter">
						<div class="gdlr-core-pbf-column-content-margin gdlr-core-js "
							style="margin: 0px 20px 0px 0px;padding: 115px 25px 15px 25px;">
							<div class="gdlr-core-pbf-background-wrap">
								<div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js"
									style="background-image: url(https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/newsletter-bg.jpg) ;background-size: cover ;background-position: center ;"
									data-parallax-speed="0"></div>
							</div>
							<div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
								<div class="gdlr-core-pbf-element">
									<div class="gdlr-core-image-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-item-pdlr"
										style="padding-bottom: 55px ;">
										<div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-rectangle"
											style="border-width: 0px;margin: 0px 0px 0px 0px;"><img
												src="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/icon-envelope.png"
												alt="" width="78" height="60" title="icon-envelope" /></div>
									</div>
								</div>
								<div class="gdlr-core-pbf-element">
									<div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr"
										style="padding-bottom: 50px ;">
										<div class="gdlr-core-title-item-title-wrap clearfix">
											<h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
												style="font-size: 20px ;font-weight: 700 ;letter-spacing: 0px ;text-transform: none ;color: #ffffff ;">
												Subscribe To Newsletter</h3>
										</div><span
											class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption"
											style="font-style: normal ;color: #96aad3 ;">Get updates to news
											& events</span>
									</div>
								</div>
								<div class="gdlr-core-pbf-element">
									<div
										class="gdlr-core-newsletter-item gdlr-core-item-pdlr gdlr-core-item-pdb  gdlr-core-style-rectangle-full">
										<div class="newsletter newsletter-subscription">
											<form class="gdlr-core-newsletter-form clearfix" method="post" action="#"
												onsubmit="return newsletter_check(this)">
												<div class="gdlr-core-newsletter-email"><input
														class="newsletter-email gdlr-core-skin-e-background gdlr-core-skin-e-content"
														placeholder="Your Email Address" type="email" name="ne"
														size="30" required /></div>
												<div class="gdlr-core-newsletter-submit"><input
														class="newsletter-submit" type="submit" value="Subscribe" />
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="gdlr-core-pbf-wrapper " style="padding: 55px 0px 20px 0px;">
			<div class="gdlr-core-pbf-background-wrap" style="background-color: #1b2434 ;"></div>
			<div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
				<div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container-custom"
					style="max-width: 1440px ;">
					<div class="gdlr-core-pbf-element">
						<div class="gdlr-core-gallery-item gdlr-core-item-pdb clearfix  gdlr-core-gallery-item-style-grid"
							style="padding-bottom: 0px ;">
							<div class="gdlr-core-gallery-item-holder gdlr-core-js-2 clearfix" data-layout="fitrows">
								<div
									class="gdlr-core-item-list gdlr-core-gallery-column  gdlr-core-column-12 gdlr-core-column-first gdlr-core-item-pdlr gdlr-core-item-mgb">
									<div class="gdlr-core-gallery-list gdlr-core-media-image"><img
											src="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/banner-1.png"
											alt="" width="248" height="120" title="banner-1" /></div>
								</div>
								<div
									class="gdlr-core-item-list gdlr-core-gallery-column  gdlr-core-column-12 gdlr-core-item-pdlr gdlr-core-item-mgb">
									<div class="gdlr-core-gallery-list gdlr-core-media-image"><img
											src="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/banner-2.png"
											alt="" width="248" height="120" title="banner-2" /></div>
								</div>
								<div
									class="gdlr-core-item-list gdlr-core-gallery-column  gdlr-core-column-12 gdlr-core-item-pdlr gdlr-core-item-mgb">
									<div class="gdlr-core-gallery-list gdlr-core-media-image"><img
											src="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/banner-3.png"
											alt="" width="248" height="120" title="banner-3" /></div>
								</div>
								<div
									class="gdlr-core-item-list gdlr-core-gallery-column  gdlr-core-column-12 gdlr-core-item-pdlr gdlr-core-item-mgb">
									<div class="gdlr-core-gallery-list gdlr-core-media-image"><img
											src="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/banner-4-1.png"
											alt="" width="248" height="120" title="banner-4" /></div>
								</div>
								<div
									class="gdlr-core-item-list gdlr-core-gallery-column  gdlr-core-column-12 gdlr-core-item-pdlr gdlr-core-item-mgb">
									<div class="gdlr-core-gallery-list gdlr-core-media-image"><img
											src="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/banner-5.png"
											alt="" width="248" height="120" title="banner-5" /></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer class="">
	<div class="kingster-footer-wrapper ">
		<div class="kingster-footer-container kingster-container clearfix">
			<div class="kingster-footer-column kingster-item-pdlr kingster-column-15">
				<div id="text-2" class="widget widget_text kingster-widget">
					<div class="textwidget">
						<p><img src="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/footer-logo.png"
								alt="" /><br />
							<span class="gdlr-core-space-shortcode" style="margin-top: 5px ;"></span><br />
							HighWay 35300<br />
							1810 Campus Way KL<br />
							kerala, KL 98011-8246
						</p>
						<p><span style="font-size: 15px; color: #ffffff;">+1-2534-4456-345</span><br />
							<span class="gdlr-core-space-shortcode" style="margin-top: -20px ;"></span><br />
							<a style="font-size: 15px; color: #ffffff;" href="#"><span class="__cf_email__"
									data-cfemail="2243464f4b4c62494b4c4551564750574c4b0c474657">university@kingster.ac.kl</span></a>
						</p>
						<div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-left-align">
							<div class="gdlr-core-divider-line gdlr-core-skin-divider"
								style="border-color: #3db166 ;border-width: 2px;"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="kingster-footer-column kingster-item-pdlr kingster-column-15">
				<div id="gdlr-core-custom-menu-widget-2"
					class="widget widget_gdlr-core-custom-menu-widget kingster-widget">
					<h3 class="kingster-widget-title">Our Campus</h3><span class="clear"></span>
					<div class="menu-our-campus-container">
						<ul id="menu-our-campus" class="gdlr-core-custom-menu-widget gdlr-core-menu-style-plain">
							<li
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5709 kingster-normal-menu">
								<a href="#">Acedemic</a>
							</li>
							<li
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5710 kingster-normal-menu">
								<a href="#">Planning &#038; Administration</a>
							</li>
							<li
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5711 kingster-normal-menu">
								<a href="#">Campus Safety</a>
							</li>
							<li
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5712 kingster-normal-menu">
								<a href="#">Office of the Chancellor</a>
							</li>
							<li
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5713 kingster-normal-menu">
								<a href="#">Facility Services</a>
							</li>
							<li
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5714 kingster-normal-menu">
								<a href="#">Human Resources</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="kingster-footer-column kingster-item-pdlr kingster-column-15">
				<div id="gdlr-core-custom-menu-widget-3"
					class="widget widget_gdlr-core-custom-menu-widget kingster-widget">
					<h3 class="kingster-widget-title">Campus Life</h3><span class="clear"></span>
					<div class="menu-campus-life-container">
						<ul id="menu-campus-life" class="gdlr-core-custom-menu-widget gdlr-core-menu-style-plain">
							<li
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5715 kingster-normal-menu">
								<a href="#">Accessibility</a>
							</li>
							<li
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5716 kingster-normal-menu">
								<a href="#">Financial Aid</a>
							</li>
							<li
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5717 kingster-normal-menu">
								<a href="#">Food Services</a>
							</li>
							<li
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5718 kingster-normal-menu">
								<a href="#">Housing</a>
							</li>
							<li
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5719 kingster-normal-menu">
								<a href="#">Information Technologies</a>
							</li>
							<li
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5720 kingster-normal-menu">
								<a href="#">Student Life</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="kingster-footer-column kingster-item-pdlr kingster-column-15">
				<div id="gdlr-core-custom-menu-widget-4"
					class="widget widget_gdlr-core-custom-menu-widget kingster-widget">
					<h3 class="kingster-widget-title">Academics</h3><span class="clear"></span>
					<div class="menu-academics-container">
						<ul id="menu-academics" class="gdlr-core-custom-menu-widget gdlr-core-menu-style-plain">
							<li
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5721 kingster-normal-menu">
								<a href="#">Canvas</a>
							</li>
							<li
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5722 kingster-normal-menu">
								<a href="#">Catalyst</a>
							</li>
							<li
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5723 kingster-normal-menu">
								<a href="#">Library</a>
							</li>
							<li
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5724 kingster-normal-menu">
								<a href="#">Time Schedule</a>
							</li>
							<li
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5725 kingster-normal-menu">
								<a href="/admissions">Apply For Admissions</a>
							</li>
							<li
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5726 kingster-normal-menu">
								<a href="#">Pay My Tuition</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="kingster-copyright-wrapper">
		<div class="kingster-copyright-container kingster-container clearfix">
			<div class="kingster-copyright-left kingster-item-pdlr">Copyright All Right Reserved 2023,
				Kingster University</div>
			<div class="kingster-copyright-right kingster-item-pdlr">
				<div class="gdlr-core-social-network-item gdlr-core-item-pdb  gdlr-core-none-align"
					style="padding-bottom: 0px ;"><a href="#" target="_blank" class="gdlr-core-social-network-icon"
						title="facebook"><i class="fa fa-facebook"></i></a><a href="#" target="_blank"
						class="gdlr-core-social-network-icon" title="google-plus"><i
							class="fa fa-google-plus"></i></a><a href="#" target="_blank"
						class="gdlr-core-social-network-icon" title="linkedin"><i class="fa fa-linkedin"></i></a><a
						href="#" target="_blank" class="gdlr-core-social-network-icon" title="skype"><i
							class="fa fa-skype"></i></a><a href="#" target="_blank"
						class="gdlr-core-social-network-icon" title="twitter"><i class="fa fa-twitter"></i></a><a
						href="#" target="_blank" class="gdlr-core-social-network-icon" title="instagram"><i
							class="fa fa-instagram"></i></a></div>
			</div>
		</div>
	</div>
</footer>
</div>
</div>