<div class="kingster-page-title-wrap  kingster-style-medium kingster-left-align">
    <div class="kingster-header-transparent-substitute"></div>
    <div class="kingster-page-title-overlay"></div>
    <div class="kingster-page-title-container kingster-container">
        <div class="kingster-page-title-content kingster-item-pdlr">
            <h1 class="kingster-page-title">My Account</h1>
        </div>
    </div>
</div>
<div class="kingster-page-wrapper" id="kingster-page-wrapper">
    <div class="kingster-content-container kingster-container">
        <div class="kingster-content-area kingster-item-pdlr kingster-sidebar-style-none clearfix">
            <div class="woocommerce">
                <div class="woocommerce-notices-wrapper"></div>

                <h2>Login</h2>

                <form class="woocommerce-form woocommerce-form-login login" action="/login" method="post">


                    <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                        <label for="username">Username or email address&nbsp;<span class="required">*</span></label>
                        <input type="text" class="woocommerce-Input woocommerce-Input--text input-text" name="username"
                            id="username" autocomplete="username" value="" />
                    </p>
                    <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                        <label for="password">Password&nbsp;<span class="required">*</span></label>
                        <input class="woocommerce-Input woocommerce-Input--text input-text" type="password"
                            name="password" id="password" autocomplete="current-password" />
                    </p>

                    {{#if session.usernotfound}}
                    <p class="text-danger">Invalid Username</p>
                    {{/if}}
                    {{#if session.wrongpassword}}
                    <p class="text-danger">Invalid password</p>
                    {{/if}}
                    <p class="form-row">
                        <label
                            class="woocommerce-form__label woocommerce-form__label-for-checkbox woocommerce-form-login__rememberme">
                            <input class="woocommerce-form__input woocommerce-form__input-checkbox" name="rememberme"
                                type="checkbox" id="rememberme" value="forever" />
                            <span>Remember me</span>
                        </label>
                        <input type="hidden" id="woocommerce-login-nonce" name="woocommerce-login-nonce"
                            value="0965297ee1" /><input type="hidden" name="_wp_http_referer"
                            value="/kingster/my-account/" /> <button type="submit"
                            class="woocommerce-button button woocommerce-form-login__submit" name="login"
                            value="Log in">Log in</button>
                    </p>
                    <p class="woocommerce-LostPassword lost_password">
                        <a href="#">Lost your
                            password?</a>
                    </p>

                    <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="/signup"
                            class="link-danger">Register</a></p>

                    <div class="row small fw-bold mt-2 pt-5 mb-0">
                        <a href="/otp" class="bg-danger">Login via OTP</a>
                    </div>


                </form>


            </div>
        </div>
    </div>
</div>
<footer class="">
    <div class="kingster-footer-wrapper ">
        <div class="kingster-footer-container kingster-container clearfix">
            <div class="kingster-footer-column kingster-item-pdlr kingster-column-15">
                <div id="text-2" class="widget widget_text kingster-widget">
                    <div class="textwidget">
                        <p><img src="https://demo.goodlayers.com/kingster/wp-content/uploads/2018/08/footer-logo.png"
                                alt="" /><br />
                            <span class="gdlr-core-space-shortcode" style="margin-top: 5px ;"></span><br />
                            Box 35300<br />
                            1810 Campus Way NE<br />
                            Bothell, WA 98011-8246
                        </p>
                        <p><span style="font-size: 15px; color: #ffffff;">+91-9446588245</span><br />
                            <span class="gdlr-core-space-shortcode" style="margin-top: -20px ;"></span><br />
                            <a style="font-size: 15px; color: #ffffff;" href="#"><span class="__cf_email__"
                                    data-cfemail="0d6c696064634d6664636a7e79687f78636423686978">[email&#160;protected]</span></a>
                        </p>
                        <div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-left-align">
                            <div class="gdlr-core-divider-line gdlr-core-skin-divider"
                                style="border-color: #3db166 ;border-width: 2px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kingster-footer-column kingster-item-pdlr kingster-column-15">
                <div id="gdlr-core-custom-menu-widget-2"
                    class="widget widget_gdlr-core-custom-menu-widget kingster-widget">
                    <h3 class="kingster-widget-title">Our Campus</h3><span class="clear"></span>
                    <div class="menu-our-campus-container">
                        <ul id="menu-our-campus" class="gdlr-core-custom-menu-widget gdlr-core-menu-style-plain">
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5709 kingster-normal-menu">
                                <a href="#">Acedemic</a>
                            </li>
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5710 kingster-normal-menu">
                                <a href="#">Planning &#038; Administration</a>
                            </li>
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5711 kingster-normal-menu">
                                <a href="#">Campus Safety</a>
                            </li>
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5712 kingster-normal-menu">
                                <a href="#">Office of the Chancellor</a>
                            </li>
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5713 kingster-normal-menu">
                                <a href="#">Facility Services</a>
                            </li>
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5714 kingster-normal-menu">
                                <a href="#">Human Resources</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="kingster-footer-column kingster-item-pdlr kingster-column-15">
                <div id="gdlr-core-custom-menu-widget-3"
                    class="widget widget_gdlr-core-custom-menu-widget kingster-widget">
                    <h3 class="kingster-widget-title">Campus Life</h3><span class="clear"></span>
                    <div class="menu-campus-life-container">
                        <ul id="menu-campus-life" class="gdlr-core-custom-menu-widget gdlr-core-menu-style-plain">
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5715 kingster-normal-menu">
                                <a href="#">Accessibility</a>
                            </li>
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5716 kingster-normal-menu">
                                <a href="#">Financial Aid</a>
                            </li>
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5717 kingster-normal-menu">
                                <a href="#">Food Services</a>
                            </li>
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5718 kingster-normal-menu">
                                <a href="#">Housing</a>
                            </li>
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5719 kingster-normal-menu">
                                <a href="#">Information Technologies</a>
                            </li>
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5720 kingster-normal-menu">
                                <a href="#">Student Life</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="kingster-footer-column kingster-item-pdlr kingster-column-15">
                <div id="gdlr-core-custom-menu-widget-4"
                    class="widget widget_gdlr-core-custom-menu-widget kingster-widget">
                    <h3 class="kingster-widget-title">Academics</h3><span class="clear"></span>
                    <div class="menu-academics-container">
                        <ul id="menu-academics" class="gdlr-core-custom-menu-widget gdlr-core-menu-style-plain">
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5721 kingster-normal-menu">
                                <a href="#">Canvas</a>
                            </li>
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5722 kingster-normal-menu">
                                <a href="#">Catalyst</a>
                            </li>
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5723 kingster-normal-menu">
                                <a href="#">Library</a>
                            </li>
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5724 kingster-normal-menu">
                                <a href="#">Time Schedule</a>
                            </li>
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5725 kingster-normal-menu">
                                <a href="#">Apply For Admissions</a>
                            </li>
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5726 kingster-normal-menu">
                                <a href="#">Pay My Tuition</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="kingster-copyright-wrapper">
        <div class="kingster-copyright-container kingster-container clearfix">
            <div class="kingster-copyright-left kingster-item-pdlr">Copyright All Right Reserved 2018,
                GoodLayers</div>
            <div class="kingster-copyright-right kingster-item-pdlr">
                <div class="gdlr-core-social-network-item gdlr-core-item-pdb  gdlr-core-none-align"
                    style="padding-bottom: 0px ;"><a href="#" target="_blank" class="gdlr-core-social-network-icon"
                        title="facebook"><i class="fa fa-facebook"></i></a><a href="#" target="_blank"
                        class="gdlr-core-social-network-icon" title="google-plus"><i
                            class="fa fa-google-plus"></i></a><a href="#" target="_blank"
                        class="gdlr-core-social-network-icon" title="linkedin"><i class="fa fa-linkedin"></i></a><a
                        href="#" target="_blank" class="gdlr-core-social-network-icon" title="skype"><i
                            class="fa fa-skype"></i></a><a href="#" target="_blank"
                        class="gdlr-core-social-network-icon" title="twitter"><i class="fa fa-twitter"></i></a><a
                        href="#" target="_blank" class="gdlr-core-social-network-icon" title="instagram"><i
                            class="fa fa-instagram"></i></a></div>
            </div>
        </div>
    </div>
</footer>
</div>
</div>
</body>