<div class="container py-5">
    <div class="container-fluid py-5">
        <form action="/qualificationInformation" method="post">
            <h3>Kindly provide your previous qualification details, so that we can assess your scholarship (if
                any) based upon that.</h3>
            <h5>10th Details</h5>
            <table  class="table table-bordered table-light">
                <thead>
                    <tr>
                        <th></th>
                        <th>Grade or Percentage </th>
                        <th>Course Commencement Year</th>
                        <th>Course Completion Year </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>10th</td>
                        <td>
                            <div class="col-md-10">
                                <input id="name" name="tenthpercentage" type="number" class="form-control" />
                            </div>

                        </td>
                        <td>
                            <div class="col-md-10">
                                <input id="name" name="tenthCourseCommencementYear" type="number" class="form-control" />
                            </div>
                        </td>
                        <td>
                            <div class="col-md-10">
                                <input id="name" name="tenthCourseCompletionYear" type="number" class="form-control" />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <ol>
                    <li>Enter Grades like B- or percentage like 78.56</li>
                    <li>Make sure that you satisfy the eligibility criteria for the programme you are
                        interested.</li>
                </ol>

            </div>
            <div class="form-group col-md-12">
                <div class="form-1">
                    <label class="form-2">Upload Your 10th Certificate*</label>
                    <input type="file" name="qualificationDocumentOftenth" id="photograph" class="form-control">
                </div>
            </div>
            <div class="form-group form-float">
                <div class="form-line">
                    <input type="text" name="tenthSchoolState" class="form-control">
                    <label class="form-label">10th School/College State</label>
                </div>
            </div>
            <div class="form-group form-float">
                <div class="form-line">
                    <textarea name="tenthSchoolDistrict" cols="30" rows="3" class="form-control no-resize"></textarea>
                    <label class="form-label">10th School/College District</label>
                </div>
            </div>
            <div>
                <div class="form-group form-float">
                    <div class="form-line">

                        <input type="text" name="tenthSchoolCity" class="form-control">
                        <label class="form-label">10th School/College City</label>
                    </div>
                </div>
                <div class="form-group form-float">
                    <div class="form-line">
                        <input type="text" name="tenthSchoolName" class="form-control">
                        <label class="form-label">10th School/College Name</label>
                    </div>
                </div>
                <div class="form-group form-float">
                    <div class="form-line">
                        <input type="text" name="tenthBoard" class="form-control">
                        <label class="form-label">10th Board/University</label>
                    </div>
                </div>
            </div>
            <h5>12th Qualification Details</h5>
            <table class="table table-bordered table-light">
                <thead>
                    <tr>
                        <th></th>
                        <th>Grade or Percentage </th>
                        <th>Course Commencement Year *</th>
                        <th>Course Completion Year * </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>12th</td>
                        <td>
                            <div class="col-md-10">
                                <input name="GradeorPercentage" id="name" type="text" class="form-control" />
                            </div>

                        </td>
                        <td>
                            <div class="col-md-10">
                                <input id="name" name="CourseCommencementYear" type="text" class="form-control" >
                            </div>
                        </td>
                        <td>
                            <div class="col-md-10">
                                <input id="name" name="CourseCompletionYear" type="text" class="form-control" />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <ol>
                    <li>Make sure that you satisfy the eligibility criteria for the programme you are
                        interested.</li>
                    <li> Enter Grades like B- or percentage like 78.56</li>
                </ol>
            </div>
            <div class="form-group col-md-12">
                <div class="form-1">
                    <label class="form-2">Upload Your 12th Certificate*</label>
                    <input type="file" name="qualificationDocumentOfPlustwo" id="photograph" class="form-control">
                </div>
            </div>
            <div class="form-group form-float">
                <div class="form-line">
                    <input type="text" name="plustwoSchoolState" class="form-control">
                    <label class="form-label">12th School/College State *</label>
                </div>
            </div>
            <div class="form-group form-float">
                <div class="form-line">
                    <textarea name="plustwoSchoolDistrict" cols="30" rows="3" class="form-control no-resize"></textarea>
                    <label class="form-label">12th School/College District *</label>
                </div>
            </div>
            <div>
                <div class="form-group form-float">
                    <div class="form-line">

                        <input type="text" name="plustwoSchoolCity" class="form-control">
                        <label class="form-label">12th School/College City *</label>
                    </div>
                </div>
                <div class="form-group form-float">
                    <div class="form-line">
                        <input type="text" name="plustwoSchoolName" class="form-control">
                        <label class="form-label">12th School/College Name *</label>
                    </div>
                </div>
                <div class="form-group form-float">
                    <div class="form-line">
                        <input type="text" name="plustwoBoard" class="form-control">
                        <label class="form-label">12th Board/University </label>
                    </div>
                </div>
            </div>
            <div>
                <div style="display: flex; justify-content:flex-end;">
                    <div>
                        <a href="/personalform" class="btn btn-dark mx-3">Back</a>
                    </div>
                    <button type="submit" class="btn btn-success">Continue</button>
                </div>
        </form>
    </div>

</div>