<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Signup</title>

  <!-- Prevent the demo from appearing in search engines (REMOVE THIS) -->
  <meta name="robots" content="noindex" />

  <!-- Custom Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,500,700%7CRoboto:400,500%7CRoboto:400,500&display=swap"
    rel="stylesheet" />

  <!-- Perfect Scrollbar -->
  <link type="text/css" href="assets/vendor/perfect-scrollbar.css" rel="stylesheet" />

  <!-- Material Design Icons -->
  <link type="text/css" href="assets/css/material-icons.css" rel="stylesheet" />

  <!-- Font Awesome Icons -->
  <link type="text/css" href="assets/css/fontawesome.css" rel="stylesheet" />

  <!-- Preloader -->
  <link type="text/css" href="assets/vendor/spinkit.css" rel="stylesheet" />

  <!-- App CSS -->
  <link type="text/css" href="assets/css/app.css" rel="stylesheet" />

  {{! icon CDN }}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/bootstrap-icons.svg" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css"
    integrity="sha512-5PV92qsds/16vyYIJo3T/As4m2d8b6oWYfoqV+vtizRB6KhF1F9kYzWzQmsO6T3z3QG2Xdhrx7FQ+5R1LiQdUA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body class="login">

  <!-- Jquery Core CDN -->

  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>

  <div class="d-flex align-items-center" style="min-height: 100vh">
    <div class="col-sm-8 col-md-6 col-lg-4 mx-auto" style="min-width: 300px;">
      <div class="text-center mt-5 mb-1">
        <div class="avatar avatar-lg">
          <img src="assets/images/logo/primary.svg" class="avatar-img rounded-circle" alt="LearnPlus" />
        </div>
      </div>
      <div class="d-flex justify-content-center mb-5 navbar-light">
        <a href="student-dashboard.html" class="navbar-brand m-0">Kingster
          University</a>
      </div>
      <div class="card navbar-shadow">
        <div class="card-header text-center">
          <h4 class="card-title">Sign Up</h4>
          <p class="card-subtitle">Create a new account</p>
        </div>
        <div class="card-body">
          <form method="post" action="/signup" id="myForm">
            {{! <div class="form-group">
              <label class="form-label" for="name">Name:</label>
              <div class="input-group input-group-merge">
                <input id="name" type="text" required="" class="form-control form-control-prepended"
                  placeholder="Your first and last name" name="fname" name="lname">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <span class="far fa-user"></span>
                  </div>
                </div>
              </div>
            </div> }}
            <div class="form-group row">
              <label for="name" class="col-sm-3 col-form-label form-label">Full Name</label>
              <div class="col-sm-8">
                <div class="row">
                  <div class="col-md-6">
                    <input id="name" type="text" class="form-control" placeholder="First Name" name="fname" />
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Last Name" name="lname" />
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="form-label" for="email">Email address:</label>
              <div class="input-group input-group-merge">
                <input id="email" type="email" name="email" required="" class="form-control form-control-prepended"
                  placeholder="Your email address" />
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <span class="far fa-envelope"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="form-label" for="name">MOBILE NO:</label>
              <div class="input-group input-group-merge">
                <input id="name" type="number" name="mobile" required="" class="form-control form-control-prepended"
                  placeholder="Enter Phone Number" />
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <span class="bi bi-phone"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row form-group">
              <form>
                <div class="form-group col-md-6">
                  <label for="inputState">State</label>
                  <select class="form-control" id="inputState">
                    <option value="SelectState">Select State</option>
                    <option value="Andra Pradesh">Andra Pradesh</option>
                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                    <option value="Assam">Assam</option>
                    <option value="Bihar">Bihar</option>
                    <option value="Chhattisgarh">Chhattisgarh</option>
                    <option value="Goa">Goa</option>
                    <option value="Gujarat">Gujarat</option>
                    <option value="Haryana">Haryana</option>
                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                    <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                    <option value="Jharkhand">Jharkhand</option>
                    <option value="Karnataka">Karnataka</option>
                    <option value="Kerala">Kerala</option>
                    <option value="Madya Pradesh">Madya Pradesh</option>
                    <option value="Maharashtra">Maharashtra</option>
                    <option value="Manipur">Manipur</option>
                    <option value="Meghalaya">Meghalaya</option>
                    <option value="Mizoram">Mizoram</option>
                    <option value="Nagaland">Nagaland</option>
                    <option value="Orissa">Orissa</option>
                    <option value="Punjab">Punjab</option>
                    <option value="Rajasthan">Rajasthan</option>
                    <option value="Sikkim">Sikkim</option>
                    <option value="Tamil Nadu">Tamil Nadu</option>
                    <option value="Telangana">Telangana</option>
                    <option value="Tripura">Tripura</option>
                    <option value="Uttaranchal">Uttaranchal</option>
                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                    <option value="West Bengal">West Bengal</option>
                    <option disabled style="background-color:#aaa; color:#fff">UNION Territories</option>
                    <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                    <option value="Chandigarh">Chandigarh</option>
                    <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                    <option value="Daman and Diu">Daman and Diu</option>
                    <option value="Delhi">Delhi</option>
                    <option value="Lakshadeep">Lakshadeep</option>
                    <option value="Pondicherry">Pondicherry</option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputDistrict">District</label>
                  <select class="form-control" id="inputDistrict">
                    <option value="">-- select one -- </option>
                  </select>
                </div>

              </form>
            </div>
            <div class="form-group">
              <label class="form-label" for="name">GENDER:</label>
              <div class="input-group input-group-merge">
                {{! <input id="name" type="text" required="" class="form-control form-control-prepended"
                  placeholder="Your first and last name">
                }}
                <select class="select" name="gender" style="width: 90%;padding: 10px;">
                  <option value="1"></option>
                  <option value="2">Male</option>
                  <option value="3">Female</option>
                  <option value="4">Other</option>
                </select>
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <span class="bi bi-gender-ambiguous"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="form-label" for="name">QUALIFICATION:</label>
              <div class="input-group input-group-merge">
                {{! <input id="name" type="text" required="" class="form-control form-control-prepended"
                  placeholder="Your first and last name">
                }}
                <select class="select" name="QUALIFICATION" style="width: 90%;padding: 10px;" id="QUALIFICATION">
                  <option value="1"></option>
                  <option value="12">12th</option>
                  <option value="ug">Graduate</option>
                  <option value="pg">Post Graduate</option>
                </select>
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <span class="bi bi-book"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="form-label" for="name">Select Course:</label>
              <div class="input-group input-group-merge">
                {{! <input id="name" type="text" required="" class="form-control form-control-prepended"
                  placeholder="Your first and last name">
                }}
                <select id="selects" class="select" name="course" style="width: 90%;padding: 10px;" type="course">
                  <option value=""></option>

                  <option value="designer">Designer</option>
                  <option value="marketing">Marketing</option>
                </select>
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <span class="bi bi-book"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="form-label" for="password">Password:</label>
              <div class="input-group input-group-merge">
                <input id="password" name="password" type="password" required=""
                  class="form-control form-control-prepended" placeholder="Choose a password" />
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <span class="bi bi-key"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="form-label" for="password2">Confirm Password:</label>
              <div class="input-group input-group-merge">
                <input id="password2" name="cpassword" type="password" required=""
                  class="form-control form-control-prepended" placeholder="Confirm password" />
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <span class="bi bi-key"></span>
                  </div>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block mb-3">Sign
              Up</button>
            <div class="form-group text-center mb-0">
              <div class="custom-control custom-checkbox">
                <input id="terms" type="checkbox" class="custom-control-input" checked required="" />
                <label for="terms" class="custom-control-label text-black-70">I agree to the
                  <a href="#" class="text-black-70" style="text-decoration: underline;">Terms of Use</a></label>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer text-center text-black-50">Already signed up?
          <a href="/login">Login</a>
        </div>
      </div>
    </div>
  </div>

  <!-- jQuery -->
  <script src="/assets/vendor/jquery.min.js"></script>
  <script>
    $(document).ready(() => {
      $('#QUALIFICATION').on('blur', function () {
        const QUALIFICATION = $(this).val()
        console.log(QUALIFICATION)
        if (QUALIFICATION == 12) {
          $('#selects').html(' <option value="Ayurvedic Pharmaceutical Sciences">Ayurvedic Pharmaceutical Sciences</option><option value="Botany">Botany</option><option value="Agriculture">Agriculture</option><option value="Architecture">Architecture</option><option value="Arts (Humanities)">Arts (Humanities)</option><option value="Biotechnology">Biotechnology</option><option value="Chemistry">Chemistry</option><option value="Commerce">Commerce</option><option value="Computer Applications">Computer Applications</option><option value="Economics">Economics</option><option value="Engineering">Engineering</option><option value="Fashion Design">Fashion Design</option><option value="Fine Arts">Fine Arts</option><option value="Food Technology">Food Technology</option><option value="Forensic Sciences">Forensic Sciences</option><option value="Hotel Management and Tourism">Hotel Management and Tourism</option><option value="Interaction Design">Interaction Design</option><option value="Interior and Furniture Design">Interior and Furniture Design</option><option value="Journalism and Film Production">Journalism and Film Production</option><option value="Law">Law</option><option value="Library Science">Library Science</option><option value="Management">Management</option><option value="Mathematics">Mathematics</option><option value="Medical Laboratory Sciences">Medical Laboratory Sciences</option><option value="Microbiology">Microbiology</option><option value="Multimedia and Animation">Multimedia and Animation</option><option value="Nutrition and Dietetics">Nutrition and Dietetics</option><option value="Performing Arts">Performing Arts</option><option value="Pharmaceutical Sciences">Pharmaceutical Sciences</option><option value="Physical Education">Physical Education</option><option value="Physics">Physics</option><option value="Physiotherapy">Physiotherapy</option><option value="Planning">Planning</option><option value="Product and Industrial Design">Product and Industrial Design</option><option value="Zoology">Zoology</option>')
        } else if (QUALIFICATION == Graduate)
          $('#selects').html('<option value="Agriculture">Agriculture</option><option value="Architecture">Architecture</option><option value="Ayurvedic Pharmaceutical Sciences">Ayurvedic Pharmaceutical Sciences</option><option value="Bioinformatics">Bioinformatics</option><option value="Biotechnology">Biotechnology</option><option value="Botany">Botany</option><option value="Chemistry">Chemistry</option><option value="Commerce">Commerce</option><option value="Computer Applications">Computer Applications</option><option value="Economics">Economics</option><option value="Education">Education</option><option value="Engineering">Engineering</option><option value="Engineering (CE)">Engineering (CE)</option><option value="Engineering (CSE)">Engineering (CSE)</option><option value="designer">Designer</option><option value="designer">Designer</option><option value="designer">Designer</option><option value="designer">Designer</option><option value="designer">Designer</option><option value="designer">Designer</option><option value="designer">Designer</option><option value="designer">Designer</option><option value="designer">Designer</option><option value="designer">Designer</option><option value="designer">Designer</option><option value="designer">Designer</option><option value="designer">Designer</option><option value="designer">Designer</option><option value="designer">Designer</option><option value="designer">Designer</option><option value="designer">Designer</option><option value="designer">Designer</option><option value="designer">Designer</option><option value="designer">Designer</option><option value="designer">Designer</option><option value="designer">Designer</option><option value="designer">Designer</option><option value="designer">Designer</option><option value="designer">Designer</option><option value="designer">Designer</option><option value="designer">Designer</option><option value="designer">Designer</option><option value="designer">Designer</option><option value="designer">Designer</option><option value="designer">Designer</option><option value="designer">Designer</option><option value="designer">Designer</option><option value="designer">Designer</option><option value="designer">Designer</option><option value="designer">Designer</option><option value="designer">Designer</option><option value="designer">Designer</option><option value="designer">Designer</option><option value="designer">Designer</option><option value="designer">Designer</option>')
      })
    })




    var AndraPradesh = ["Anantapur", "Chittoor", "East Godavari", "Guntur", "Kadapa", "Krishna", "Kurnool", "Prakasam", "Nellore", "Srikakulam", "Visakhapatnam", "Vizianagaram", "West Godavari"];
    var ArunachalPradesh = ["Anjaw", "Changlang", "Dibang Valley", "East Kameng", "East Siang", "Kra Daadi", "Kurung Kumey", "Lohit", "Longding", "Lower Dibang Valley", "Lower Subansiri", "Namsai", "Papum Pare", "Siang", "Tawang", "Tirap", "Upper Siang", "Upper Subansiri", "West Kameng", "West Siang", "Itanagar"];
    var Assam = ["Baksa", "Barpeta", "Biswanath", "Bongaigaon", "Cachar", "Charaideo", "Chirang", "Darrang", "Dhemaji", "Dhubri", "Dibrugarh", "Goalpara", "Golaghat", "Hailakandi", "Hojai", "Jorhat", "Kamrup Metropolitan", "Kamrup (Rural)", "Karbi Anglong", "Karimganj", "Kokrajhar", "Lakhimpur", "Majuli", "Morigaon", "Nagaon", "Nalbari", "Dima Hasao", "Sivasagar", "Sonitpur", "South Salmara Mankachar", "Tinsukia", "Udalguri", "West Karbi Anglong"];
    var Bihar = ["Araria", "Arwal", "Aurangabad", "Banka", "Begusarai", "Bhagalpur", "Bhojpur", "Buxar", "Darbhanga", "East Champaran", "Gaya", "Gopalganj", "Jamui", "Jehanabad", "Kaimur", "Katihar", "Khagaria", "Kishanganj", "Lakhisarai", "Madhepura", "Madhubani", "Munger", "Muzaffarpur", "Nalanda", "Nawada", "Patna", "Purnia", "Rohtas", "Saharsa", "Samastipur", "Saran", "Sheikhpura", "Sheohar", "Sitamarhi", "Siwan", "Supaul", "Vaishali", "West Champaran"];
    var Chhattisgarh = ["Balod", "Baloda Bazar", "Balrampur", "Bastar", "Bemetara", "Bijapur", "Bilaspur", "Dantewada", "Dhamtari", "Durg", "Gariaband", "Janjgir Champa", "Jashpur", "Kabirdham", "Kanker", "Kondagaon", "Korba", "Koriya", "Mahasamund", "Mungeli", "Narayanpur", "Raigarh", "Raipur", "Rajnandgaon", "Sukma", "Surajpur", "Surguja"];
    var Goa = ["North Goa", "South Goa"];
    var Gujarat = ["Ahmedabad", "Amreli", "Anand", "Aravalli", "Banaskantha", "Bharuch", "Bhavnagar", "Botad", "Chhota Udaipur", "Dahod", "Dang", "Devbhoomi Dwarka", "Gandhinagar", "Gir Somnath", "Jamnagar", "Junagadh", "Kheda", "Kutch", "Mahisagar", "Mehsana", "Morbi", "Narmada", "Navsari", "Panchmahal", "Patan", "Porbandar", "Rajkot", "Sabarkantha", "Surat", "Surendranagar", "Tapi", "Vadodara", "Valsad"];
    var Haryana = ["Ambala", "Bhiwani", "Charkhi Dadri", "Faridabad", "Fatehabad", "Gurugram", "Hisar", "Jhajjar", "Jind", "Kaithal", "Karnal", "Kurukshetra", "Mahendragarh", "Mewat", "Palwal", "Panchkula", "Panipat", "Rewari", "Rohtak", "Sirsa", "Sonipat", "Yamunanagar"];
    var HimachalPradesh = ["Bilaspur", "Chamba", "Hamirpur", "Kangra", "Kinnaur", "Kullu", "Lahaul Spiti", "Mandi", "Shimla", "Sirmaur", "Solan", "Una"];
    var JammuKashmir = ["Anantnag", "Bandipora", "Baramulla", "Budgam", "Doda", "Ganderbal", "Jammu", "Kargil", "Kathua", "Kishtwar", "Kulgam", "Kupwara", "Leh", "Poonch", "Pulwama", "Rajouri", "Ramban", "Reasi", "Samba", "Shopian", "Srinagar", "Udhampur"];
    var Jharkhand = ["Bokaro", "Chatra", "Deoghar", "Dhanbad", "Dumka", "East Singhbhum", "Garhwa", "Giridih", "Godda", "Gumla", "Hazaribagh", "Jamtara", "Khunti", "Koderma", "Latehar", "Lohardaga", "Pakur", "Palamu", "Ramgarh", "Ranchi", "Sahebganj", "Seraikela Kharsawan", "Simdega", "West Singhbhum"];
    var Karnataka = ["Bagalkot", "Bangalore Rural", "Bangalore Urban", "Belgaum", "Bellary", "Bidar", "Vijayapura", "Chamarajanagar", "Chikkaballapur", "Chikkamagaluru", "Chitradurga", "Dakshina Kannada", "Davanagere", "Dharwad", "Gadag", "Gulbarga", "Hassan", "Haveri", "Kodagu", "Kolar", "Koppal", "Mandya", "Mysore", "Raichur", "Ramanagara", "Shimoga", "Tumkur", "Udupi", "Uttara Kannada", "Yadgir"];
    var Kerala = ["Alappuzha", "Ernakulam", "Idukki", "Kannur", "Kasaragod", "Kollam", "Kottayam", "Kozhikode", "Malappuram", "Palakkad", "Pathanamthitta", "Thiruvananthapuram", "Thrissur", "Wayanad"];
    var MadhyaPradesh = ["Agar Malwa", "Alirajpur", "Anuppur", "Ashoknagar", "Balaghat", "Barwani", "Betul", "Bhind", "Bhopal", "Burhanpur", "Chhatarpur", "Chhindwara", "Damoh", "Datia", "Dewas", "Dhar", "Dindori", "Guna", "Gwalior", "Harda", "Hoshangabad", "Indore", "Jabalpur", "Jhabua", "Katni", "Khandwa", "Khargone", "Mandla", "Mandsaur", "Morena", "Narsinghpur", "Neemuch", "Panna", "Raisen", "Rajgarh", "Ratlam", "Rewa", "Sagar", "Satna",
      "Sehore", "Seoni", "Shahdol", "Shajapur", "Sheopur", "Shivpuri", "Sidhi", "Singrauli", "Tikamgarh", "Ujjain", "Umaria", "Vidisha"];
    var Maharashtra = ["Ahmednagar", "Akola", "Amravati", "Aurangabad", "Beed", "Bhandara", "Buldhana", "Chandrapur", "Dhule", "Gadchiroli", "Gondia", "Hingoli", "Jalgaon", "Jalna", "Kolhapur", "Latur", "Mumbai City", "Mumbai Suburban", "Nagpur", "Nanded", "Nandurbar", "Nashik", "Osmanabad", "Palghar", "Parbhani", "Pune", "Raigad", "Ratnagiri", "Sangli", "Satara", "Sindhudurg", "Solapur", "Thane", "Wardha", "Washim", "Yavatmal"];
    var Manipur = ["Bishnupur", "Chandel", "Churachandpur", "Imphal East", "Imphal West", "Jiribam", "Kakching", "Kamjong", "Kangpokpi", "Noney", "Pherzawl", "Senapati", "Tamenglong", "Tengnoupal", "Thoubal", "Ukhrul"];
    var Meghalaya = ["East Garo Hills", "East Jaintia Hills", "East Khasi Hills", "North Garo Hills", "Ri Bhoi", "South Garo Hills", "South West Garo Hills", "South West Khasi Hills", "West Garo Hills", "West Jaintia Hills", "West Khasi Hills"];
    var Mizoram = ["Aizawl", "Champhai", "Kolasib", "Lawngtlai", "Lunglei", "Mamit", "Saiha", "Serchhip", "Aizawl", "Champhai", "Kolasib", "Lawngtlai", "Lunglei", "Mamit", "Saiha", "Serchhip"];
    var Nagaland = ["Dimapur", "Kiphire", "Kohima", "Longleng", "Mokokchung", "Mon", "Peren", "Phek", "Tuensang", "Wokha", "Zunheboto"];
    var Odisha = ["Angul", "Balangir", "Balasore", "Bargarh", "Bhadrak", "Boudh", "Cuttack", "Debagarh", "Dhenkanal", "Gajapati", "Ganjam", "Jagatsinghpur", "Jajpur", "Jharsuguda", "Kalahandi", "Kandhamal", "Kendrapara", "Kendujhar", "Khordha", "Koraput", "Malkangiri", "Mayurbhanj", "Nabarangpur", "Nayagarh", "Nuapada", "Puri", "Rayagada", "Sambalpur", "Subarnapur", "Sundergarh"];
    var Punjab = ["Amritsar", "Barnala", "Bathinda", "Faridkot", "Fatehgarh Sahib", "Fazilka", "Firozpur", "Gurdaspur", "Hoshiarpur", "Jalandhar", "Kapurthala", "Ludhiana", "Mansa", "Moga", "Mohali", "Muktsar", "Pathankot", "Patiala", "Rupnagar", "Sangrur", "Shaheed Bhagat Singh Nagar", "Tarn Taran"];
    var Rajasthan = ["Ajmer", "Alwar", "Banswara", "Baran", "Barmer", "Bharatpur", "Bhilwara", "Bikaner", "Bundi", "Chittorgarh", "Churu", "Dausa", "Dholpur", "Dungarpur", "Ganganagar", "Hanumangarh", "Jaipur", "Jaisalmer", "Jalore", "Jhalawar", "Jhunjhunu", "Jodhpur", "Karauli", "Kota", "Nagaur", "Pali", "Pratapgarh", "Rajsamand", "Sawai Madhopur", "Sikar", "Sirohi", "Tonk", "Udaipur"];
    var Sikkim = ["East Sikkim", "North Sikkim", "South Sikkim", "West Sikkim"];
    var TamilNadu = ["Ariyalur", "Chennai", "Coimbatore", "Cuddalore", "Dharmapuri", "Dindigul", "Erode", "Kanchipuram", "Kanyakumari", "Karur", "Krishnagiri", "Madurai", "Nagapattinam", "Namakkal", "Nilgiris", "Perambalur", "Pudukkottai", "Ramanathapuram", "Salem", "Sivaganga", "Thanjavur", "Theni", "Thoothukudi", "Tiruchirappalli", "Tirunelveli", "Tiruppur", "Tiruvallur", "Tiruvannamalai", "Tiruvarur", "Vellore", "Viluppuram", "Virudhunagar"];
    var Telangana = ["Adilabad", "Bhadradri Kothagudem", "Hyderabad", "Jagtial", "Jangaon", "Jayashankar", "Jogulamba", "Kamareddy", "Karimnagar", "Khammam", "Komaram Bheem", "Mahabubabad", "Mahbubnagar", "Mancherial", "Medak", "Medchal", "Nagarkurnool", "Nalgonda", "Nirmal", "Nizamabad", "Peddapalli", "Rajanna Sircilla", "Ranga Reddy", "Sangareddy", "Siddipet", "Suryapet", "Vikarabad", "Wanaparthy", "Warangal Rural", "Warangal Urban", "Yadadri Bhuvanagiri"];
    var Tripura = ["Dhalai", "Gomati", "Khowai", "North Tripura", "Sepahijala", "South Tripura", "Unakoti", "West Tripura"];
    var UttarPradesh = ["Agra", "Aligarh", "Allahabad", "Ambedkar Nagar", "Amethi", "Amroha", "Auraiya", "Azamgarh", "Baghpat", "Bahraich", "Ballia", "Balrampur", "Banda", "Barabanki", "Bareilly", "Basti", "Bhadohi", "Bijnor", "Budaun", "Bulandshahr", "Chandauli", "Chitrakoot", "Deoria", "Etah", "Etawah", "Faizabad", "Farrukhabad", "Fatehpur", "Firozabad", "Gautam Buddha Nagar", "Ghaziabad", "Ghazipur", "Gonda", "Gorakhpur", "Hamirpur", "Hapur", "Hardoi", "Hathras", "Jalaun", "Jaunpur", "Jhansi", "Kannauj", "Kanpur Dehat", "Kanpur Nagar", "Kasganj", "Kaushambi", "Kheri", "Kushinagar", "Lalitpur", "Lucknow", "Maharajganj", "Mahoba", "Mainpuri", "Mathura", "Mau", "Meerut", "Mirzapur", "Moradabad", "Muzaffarnagar", "Pilibhit", "Pratapgarh", "Raebareli", "Rampur", "Saharanpur", "Sambhal", "Sant Kabir Nagar", "Shahjahanpur", "Shamli", "Shravasti", "Siddharthnagar", "Sitapur", "Sonbhadra", "Sultanpur", "Unnao", "Varanasi"];
    var Uttarakhand = ["Almora", "Bageshwar", "Chamoli", "Champawat", "Dehradun", "Haridwar", "Nainital", "Pauri", "Pithoragarh", "Rudraprayag", "Tehri", "Udham Singh Nagar", "Uttarkashi"];
    var WestBengal = ["Alipurduar", "Bankura", "Birbhum", "Cooch Behar", "Dakshin Dinajpur", "Darjeeling", "Hooghly", "Howrah", "Jalpaiguri", "Jhargram", "Kalimpong", "Kolkata", "Malda", "Murshidabad", "Nadia", "North 24 Parganas", "Paschim Bardhaman", "Paschim Medinipur", "Purba Bardhaman", "Purba Medinipur", "Purulia", "South 24 Parganas", "Uttar Dinajpur"];
    var AndamanNicobar = ["Nicobar", "North Middle Andaman", "South Andaman"];
    var Chandigarh = ["Chandigarh"];
    var DadraHaveli = ["Dadra Nagar Haveli"];
    var DamanDiu = ["Daman", "Diu"];
    var Delhi = ["Central Delhi", "East Delhi", "New Delhi", "North Delhi", "North East Delhi", "North West Delhi", "Shahdara", "South Delhi", "South East Delhi", "South West Delhi", "West Delhi"];
    var Lakshadweep = ["Lakshadweep"];
    var Puducherry = ["Karaikal", "Mahe", "Puducherry", "Yanam"];


    $("#inputState").change(function () {
      var StateSelected = $(this).val();
      var optionsList;
      var htmlString = "";

      switch (StateSelected) {
        case "Andra Pradesh":
          optionsList = AndraPradesh;
          break;
        case "Arunachal Pradesh":
          optionsList = ArunachalPradesh;
          break;
        case "Assam":
          optionsList = Assam;
          break;
        case "Bihar":
          optionsList = Bihar;
          break;
        case "Chhattisgarh":
          optionsList = Chhattisgarh;
          break;
        case "Goa":
          optionsList = Goa;
          break;
        case "Gujarat":
          optionsList = Gujarat;
          break;
        case "Haryana":
          optionsList = Haryana;
          break;
        case "Himachal Pradesh":
          optionsList = HimachalPradesh;
          break;
        case "Jammu and Kashmir":
          optionsList = JammuKashmir;
          break;
        case "Jharkhand":
          optionsList = Jharkhand;
          break;
        case "Karnataka":
          optionsList = Karnataka;
          break;
        case "Kerala":
          optionsList = Kerala;
          break;
        case "Madya Pradesh":
          optionsList = MadhyaPradesh;
          break;
        case "Maharashtra":
          optionsList = Maharashtra;
          break;
        case "Manipur":
          optionsList = Manipur;
          break;
        case "Meghalaya":
          optionsList = Meghalaya;
          break;
        case "Mizoram":
          optionsList = Mizoram;
          break;
        case "Nagaland":
          optionsList = Nagaland;
          break;
        case "Orissa":
          optionsList = Orissa;
          break;
        case "Punjab":
          optionsList = Punjab;
          break;
        case "Rajasthan":
          optionsList = Rajasthan;
          break;
        case "Sikkim":
          optionsList = Sikkim;
          break;
        case "Tamil Nadu":
          optionsList = TamilNadu;
          break;
        case "Telangana":
          optionsList = Telangana;
          break;
        case "Tripura":
          optionsList = Tripura;
          break;
        case "Uttaranchal":
          optionsList = Uttaranchal;
          break;
        case "Uttar Pradesh":
          optionsList = UttarPradesh;
          break;
        case "West Bengal":
          optionsList = WestBengal;
          break;
        case "Andaman and Nicobar Islands":
          optionsList = AndamanNicobar;
          break;
        case "Chandigarh":
          optionsList = Chandigarh;
          break;
        case "Dadar and Nagar Haveli":
          optionsList = DadraHaveli;
          break;
        case "Daman and Diu":
          optionsList = DamanDiu;
          break;
        case "Delhi":
          optionsList = Delhi;
          break;
        case "Lakshadeep":
          optionsList = Lakshadeep;
          break;
        case "Pondicherry":
          optionsList = Pondicherry;
          break;
      }


      for (var i = 0; i < optionsList.length; i++) {
        htmlString = htmlString + "<option value='" + optionsList[i] + "'>" + optionsList[i] + "</option>";
      }
      $("#inputDistrict").html(htmlString);

    });

  </script>

  <!-- Bootstrap -->
  <script src="/assets/vendor/popper.min.js"></script>
  <script src="/assets/vendor/bootstrap.min.js"></script>

  <!-- Perfect Scrollbar -->
  <script src="/assets/vendor/perfect-scrollbar.min.js"></script>

  <!-- MDK -->
  <script src="/assets/vendor/dom-factory.js"></script>
  <script src="/assets/vendor/material-design-kit.js"></script>

  <!-- App JS -->
  <script src="/assets/js/app.js"></script>

  <!-- Highlight.js -->
  <script src="/assets/js/hljs.js"></script>

  <!-- App Settings (safe to remove) -->
  <script src="/assets/js/app-settings.js"></script>

  <!-- Jquery Validation -->

  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/additional-methods.js"></script>



</body>

</html>