</header><!-- header -->
<div class="kingster-page-wrapper" id="kingster-page-wrapper">
    <div class="gdlr-core-page-builder-body">
        <div class="gdlr-core-pbf-wrapper " style="padding: 530px 0px 75px 0px;">
            <div class="gdlr-core-pbf-background-wrap"
                style="background-color: #3a3a3a ;background: linear-gradient(rgba(58, 58, 58, 0.4), rgba(51, 51, 51, 0.3));-moz-background: linear-gradient(rgba(58, 58, 58, 0.4), rgba(51, 51, 51, 0.3));-o-background: linear-gradient(rgba(58, 58, 58, 0.4), rgba(51, 51, 51, 0.3));-webkit-background: linear-gradient(rgba(58, 58, 58, 0.4), rgba(51, 51, 51, 0.3));">
                <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js"
                    style="background-image: url(https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/life-title-bg.jpg) ;background-size: cover ;background-position: center ;"
                    data-parallax-speed="0"></div>
            </div>
            <div class="gdlr-core-page-builder-wrapper-bottom-gradient"
                style="height: 413px ;background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 100));-moz-background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 100));-o-background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 100));-webkit-background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 100));">
            </div>
            <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                    <div class="gdlr-core-pbf-column gdlr-core-column-20 gdlr-core-column-first">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
                                        style="padding-bottom: 20px ;">
                                        <div class="gdlr-core-title-item-title-wrap clearfix">
                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
                                                style="font-size: 40px ;font-weight: 700 ;letter-spacing: 0px ;text-transform: none ;color: #ffffff ;">
                                                University Life</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div
                                        class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-left-align">
                                        <div class="gdlr-core-divider-container" style="max-width: 285px ;">
                                            <div class="gdlr-core-divider-line gdlr-core-skin-divider"
                                                style="border-color: #3db166 ;border-width: 5px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gdlr-core-pbf-column gdlr-core-column-40">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align"
                                        style="padding-bottom: 0px ;">
                                        <div class="gdlr-core-text-box-item-content"
                                            style="font-size: 18px ;text-transform: none ;color: #ffffff ;">
                                            <p>Campus on a tour designed for prospective graduate and professional
                                                students. You will see how our university like, facilities, studenst and
                                                life in this university. Meet our graduate admissions representative to
                                                learn more about our graduate programs and decide what it the best for
                                                you.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gdlr-core-pbf-wrapper " style="padding: 0px 0px 0px 0px;">
            <div class="gdlr-core-pbf-background-wrap"></div>
            <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                    <div class="gdlr-core-pbf-column gdlr-core-column-30 gdlr-core-column-first">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js "
                            style="margin: 0px 20px 0px 0px;padding: 85px 0px 35px 0px;" data-sync-height="height-1">
                            <div class="gdlr-core-pbf-background-wrap"></div>
                            <div
                                class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content">
                                <div class="gdlr-core-pbf-element">
                                    <div
                                        class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                                        <div class="gdlr-core-title-item-title-wrap clearfix">
                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
                                                style="font-size: 22px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;">
                                                Event and Traditions</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align"
                                        style="padding-bottom: 0px ;">
                                        <div class="gdlr-core-text-box-item-content"
                                            style="font-size: 19px ;text-transform: none ;color: #3db166 ;">
                                            <p>Far far away, behind the word mountains, far from the countries Vokalia
                                                and Consonantia, there live the blind texts. Separated they live in</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div
                                        class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                        <div class="gdlr-core-text-box-item-content"
                                            style="font-size: 16px ;text-transform: none ;color: #8f8f8f ;">
                                            <p>Separated they live in Bookmarksgrove right at the coast of the
                                                Semantics, a large language ocean. A small river named Duden flows by
                                                their place and supplies it with the necessary regelialia. It is a
                                                paradisematic country, in which roasted parts of sentences fly into your
                                                mouth. Even the all-powerful Pointing has no control about the blind
                                                texts it is an almost unorthographic life.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-center-align"
                                        style="margin-bottom: 55px ;">
                                        <div class="gdlr-core-divider-line gdlr-core-skin-divider"
                                            style="border-color: #3db166 ;border-width: 3px;"></div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-flipbox-item gdlr-core-item-pdlr gdlr-core-item-pdb ">
                                        <div class="gdlr-core-flipbox gdlr-core-js">
                                            <div class="gdlr-core-flipbox-front gdlr-core-js  gdlr-core-left-align gdlr-core-icon-top gdlr-core-flipbox-type-outer"
                                                style="padding: 50px 40px 30px 50px;border-width: 0px 0px 0px 0px;border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;"
                                                data-sync-height="gdlr-core-flipbox-id-1752">
                                                <div class="gdlr-core-flipbox-content gdlr-core-sync-height-content">
                                                    <div class="gdlr-core-flipbox-item-image gdlr-core-media-image"><img
                                                            src="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/icon-activity.png"
                                                            alt="" width="43" height="32" title="icon-activity" /></div>
                                                    <div class="gdlr-core-flipbox-content-wrap">
                                                        <h3 class="gdlr-core-flipbox-item-title">Student Activities</h3>
                                                        <div class="gdlr-core-flipbox-item-content"
                                                            style="font-size: 16px ;">
                                                            <p>Separated they live in Bookmarksgrove right at the coast
                                                                of the Semantics, a large language ocean. A small river
                                                                named Duden flows by their place and supplies it with
                                                                the necessary regelialia. It is a paradisematic country
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-flipbox-back gdlr-core-js  gdlr-core-left-align gdlr-core-icon-top gdlr-core-flipbox-type-outer"
                                                style="padding: 50px 40px 30px 50px;border-width: 0px 0px 0px 0px;"
                                                data-sync-height="gdlr-core-flipbox-id-1752">
                                                <div class="gdlr-core-flipbox-content gdlr-core-sync-height-content">
                                                    <div class="gdlr-core-flipbox-item-image gdlr-core-media-image"><img
                                                            src="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/icon-trophy.png"
                                                            alt="" width="28" height="33" title="icon-trophy" /></div>
                                                    <div class="gdlr-core-flipbox-content-wrap ">
                                                        <h3 class="gdlr-core-flipbox-item-title">Social Life</h3>
                                                        <div class="gdlr-core-flipbox-item-content"
                                                            style="font-size: 16px ;">
                                                            <p>Bookmarksgrove right at the coast of the Semantics, a
                                                                large language ocean. A small river named Duden flows by
                                                                their place and supplies it with the necessary
                                                                regelialia. It is a paradisematic country, in which
                                                                roasted parts.</p>
                                                        </div><a class="gdlr-core-flipbox-link" href="#"
                                                            target="_self"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gdlr-core-pbf-column gdlr-core-column-30">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js  gdlr-core-column-extend-right"
                            style="margin: 0px 0px 0px 20px;padding: 80px 0px 25px 50px;" data-sync-height="height-1">
                            <div class="gdlr-core-pbf-background-wrap" style="background-color: #f5f5f5 ;"></div>
                            <div
                                class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-image-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-item-pdlr"
                                        style="padding-bottom: 60px ;">
                                        <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-rectangle"
                                            style="border-width: 0px;"><img
                                                src="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/life-bus.jpg"
                                                width="700" height="354"
                                                srcset="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/life-bus-400x202.jpg 400w, https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/life-bus.jpg 700w"
                                                sizes="(max-width: 767px) 100vw, (max-width: 1150px) 50vw, 575px"
                                                alt="" /></div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div
                                        class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                                        <div class="gdlr-core-title-item-left-image gdlr-core-media-image"
                                            style="margin: -6px 20px 0px 0px;"><img
                                                src="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/icon-transportation.png"
                                                alt="" width="25" height="31" title="icon-transportation" /></div>
                                        <div class="gdlr-core-title-item-left-image-wrap">
                                            <div class="gdlr-core-title-item-title-wrap clearfix">
                                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
                                                    style="font-size: 19px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;">
                                                    Transportations</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align"
                                        style="padding-bottom: 28px ;">
                                        <div class="gdlr-core-text-box-item-content"
                                            style="font-size: 16px ;text-transform: none ;color: #8f8f8f ;">
                                            <p><strong>There are many options to travel in the campus.</strong></p>
                                            <p>There live the blind texts. Separated they live in Bookmarksgrove right
                                                at the coast of the Semantics, a large language ocean. A small river
                                                named Duden flows by their place and supplies it with the necessary
                                                regelialia. It is a paradisematic. It is a paradise matic country, in
                                                which roasted parts of sentences fly into.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
                                        style="padding-bottom: 26px ;">
                                        <div class="gdlr-core-title-item-left-image gdlr-core-media-image"
                                            style="margin: -9px 20px 0px 0px;"><img
                                                src="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/icon-parking.png"
                                                alt="" width="39" height="34" title="icon-parking" /></div>
                                        <div class="gdlr-core-title-item-left-image-wrap">
                                            <div class="gdlr-core-title-item-title-wrap clearfix">
                                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
                                                    style="font-size: 19px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;">
                                                    Parking</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align"
                                        style="padding-bottom: 35px ;">
                                        <div class="gdlr-core-text-box-item-content"
                                            style="font-size: 16px ;text-transform: none ;color: #8f8f8f ;">
                                            <p>More than 1000 parking lots avilable in the west side of the compus.
                                                <strong>The parking is available 24 hours</strong> with 24hours
                                                security. We make sure that everything is under control.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gdlr-core-pbf-wrapper " style="padding: 175px 0px 100px 0px;">
            <div class="gdlr-core-pbf-background-wrap">
                <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js"
                    style="background-image: url(https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/life-bg.jpg) ;background-size: cover ;background-position: center ;"
                    data-parallax-speed="0.8"></div>
            </div>
            <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                    <div class="gdlr-core-pbf-column gdlr-core-column-20 gdlr-core-column-first">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                <div class="gdlr-core-pbf-element">
                                    <div
                                        class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                                        <div class="gdlr-core-title-item-title-wrap clearfix">
                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
                                                style="font-size: 29px ;font-weight: 700 ;letter-spacing: 0px ;text-transform: none ;color: #ffffff ;">
                                                The Campus Experience</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gdlr-core-pbf-column gdlr-core-column-40">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                <div class="gdlr-core-pbf-element">
                                    <div
                                        class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                        <div class="gdlr-core-text-box-item-content"
                                            style="font-size: 20px ;font-weight: 500 ;text-transform: none ;color: #ffffff ;">
                                            <p>Kingster University was established by John Smith in 1920 for the public
                                                benefit and it is recognized globally. Throughout our great history,
                                                Kingster has offered access to a wide range of academic opportunities.
                                                As a world leader in higher education, the University has pioneered
                                                change in the sector.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gdlr-core-pbf-wrapper " style="padding: 80px 0px 65px 0px;">
            <div class="gdlr-core-pbf-background-wrap"></div>
            <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                    <div class="gdlr-core-pbf-column gdlr-core-column-20 gdlr-core-column-first">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " style="padding-bottom: 20px;">
                            <div class="gdlr-core-pbf-background-wrap"></div>
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-image-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-item-pdlr"
                                        style="padding-bottom: 33px ;">
                                        <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-round"
                                            style="border-width: 0px;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;">
                                            <a class="gdlr-core-lightgallery gdlr-core-js "
                                                href="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/dan-gold-105699-unsplash.jpg"><img
                                                    src="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/dan-gold-105699-unsplash-900x500.jpg"
                                                    width="900" height="500"
                                                    srcset="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/dan-gold-105699-unsplash-400x222.jpg 400w, https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/dan-gold-105699-unsplash-600x333.jpg 600w, https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/dan-gold-105699-unsplash-900x500.jpg 900w"
                                                    sizes="(max-width: 767px) 100vw, (max-width: 1150px) 33vw, 383px"
                                                    alt="" /><span class="gdlr-core-image-overlay "
                                                    style="border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;"><i
                                                        class="gdlr-core-image-overlay-icon  gdlr-core-size-22 fa fa-search"></i></span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
                                        style="padding-bottom: 20px ;">
                                        <div class="gdlr-core-title-item-title-wrap clearfix">
                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
                                                style="font-size: 18px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;">
                                                Dining On Campus</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align"
                                        style="padding-bottom: 2px ;">
                                        <div class="gdlr-core-text-box-item-content"
                                            style="font-size: 16px ;text-transform: none ;color: #8f8f8f ;">
                                            <p>Separated they live in Bookmarksgrove right at the coast of the
                                                Semantics, a large language ocean. A small river named Dudenmouth.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div
                                        class="gdlr-core-button-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                        <a class="gdlr-core-button  gdlr-core-button-transparent gdlr-core-left-align gdlr-core-button-no-border"
                                            href="#"
                                            style="font-size: 16px ;font-weight: 400 ;letter-spacing: 0px ;color: #3db166 ;padding: 0px 0px 0px 0px;text-transform: none ;border-radius: 0px;-moz-border-radius: 0px;-webkit-border-radius: 0px;"><span
                                                class="gdlr-core-content">Read More</span><i
                                                class="gdlr-core-pos-right arrow_right"
                                                style="font-size: 21px ;color: #3db166 ;"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gdlr-core-pbf-column gdlr-core-column-20">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js "
                            style="padding: 0px 0px 20px 0px;">
                            <div class="gdlr-core-pbf-background-wrap"></div>
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-image-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-item-pdlr"
                                        style="padding-bottom: 33px ;">
                                        <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-round"
                                            style="border-width: 0px;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;">
                                            <a class="gdlr-core-lightgallery gdlr-core-js "
                                                href="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/marvin-ronsdorf-196913-unsplash.jpg"><img
                                                    src="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/marvin-ronsdorf-196913-unsplash-900x500.jpg"
                                                    width="900" height="500"
                                                    srcset="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/marvin-ronsdorf-196913-unsplash-400x222.jpg 400w, https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/marvin-ronsdorf-196913-unsplash-600x333.jpg 600w, https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/marvin-ronsdorf-196913-unsplash-900x500.jpg 900w"
                                                    sizes="(max-width: 767px) 100vw, (max-width: 1150px) 33vw, 383px"
                                                    alt="" /><span class="gdlr-core-image-overlay "
                                                    style="border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;"><i
                                                        class="gdlr-core-image-overlay-icon  gdlr-core-size-22 fa fa-search"></i></span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
                                        style="padding-bottom: 20px ;">
                                        <div class="gdlr-core-title-item-title-wrap clearfix">
                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
                                                style="font-size: 18px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;">
                                                Athletics</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align"
                                        style="padding-bottom: 2px ;">
                                        <div class="gdlr-core-text-box-item-content"
                                            style="font-size: 16px ;text-transform: none ;color: #8f8f8f ;">
                                            <p>Separated they live in Bookmarksgrove right at the coast of the
                                                Semantics, a large language ocean. A small river named Dudenmouth.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div
                                        class="gdlr-core-button-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                        <a class="gdlr-core-button  gdlr-core-button-transparent gdlr-core-left-align gdlr-core-button-no-border"
                                            href="#"
                                            style="font-size: 16px ;font-weight: 400 ;letter-spacing: 0px ;color: #3db166 ;padding: 0px 0px 0px 0px;text-transform: none ;border-radius: 0px;-moz-border-radius: 0px;-webkit-border-radius: 0px;"><span
                                                class="gdlr-core-content">Read More</span><i
                                                class="gdlr-core-pos-right arrow_right"
                                                style="font-size: 21px ;color: #3db166 ;"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gdlr-core-pbf-column gdlr-core-column-20">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js "
                            style="padding: 0px 0px 20px 0px;">
                            <div class="gdlr-core-pbf-background-wrap"></div>
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-image-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-item-pdlr"
                                        style="padding-bottom: 33px ;">
                                        <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-round"
                                            style="border-width: 0px;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;">
                                            <a class="gdlr-core-lightgallery gdlr-core-js "
                                                href="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/joshua-fuller-368384-unsplash.jpg"><img
                                                    src="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/joshua-fuller-368384-unsplash-900x500.jpg"
                                                    width="900" height="500"
                                                    srcset="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/joshua-fuller-368384-unsplash-400x222.jpg 400w, https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/joshua-fuller-368384-unsplash-600x333.jpg 600w, https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/joshua-fuller-368384-unsplash-900x500.jpg 900w"
                                                    sizes="(max-width: 767px) 100vw, (max-width: 1150px) 33vw, 383px"
                                                    alt="" /><span class="gdlr-core-image-overlay "
                                                    style="border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;"><i
                                                        class="gdlr-core-image-overlay-icon  gdlr-core-size-22 fa fa-search"></i></span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
                                        style="padding-bottom: 20px ;">
                                        <div class="gdlr-core-title-item-title-wrap clearfix">
                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
                                                style="font-size: 18px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;">
                                                Arts & Culture</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align"
                                        style="padding-bottom: 2px ;">
                                        <div class="gdlr-core-text-box-item-content"
                                            style="font-size: 16px ;text-transform: none ;color: #8f8f8f ;">
                                            <p>Separated they live in Bookmarksgrove right at the coast of the
                                                Semantics, a large language ocean. A small river named Dudenmouth.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div
                                        class="gdlr-core-button-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                        <a class="gdlr-core-button  gdlr-core-button-transparent gdlr-core-left-align gdlr-core-button-no-border"
                                            href="#"
                                            style="font-size: 16px ;font-weight: 400 ;letter-spacing: 0px ;color: #3db166 ;padding: 0px 0px 0px 0px;text-transform: none ;border-radius: 0px;-moz-border-radius: 0px;-webkit-border-radius: 0px;"><span
                                                class="gdlr-core-content">Read More</span><i
                                                class="gdlr-core-pos-right arrow_right"
                                                style="font-size: 21px ;color: #3db166 ;"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gdlr-core-pbf-column gdlr-core-column-20 gdlr-core-column-first">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-image-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-item-pdlr"
                                        style="padding-bottom: 33px ;">
                                        <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-round"
                                            style="border-width: 0px;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;">
                                            <a class="gdlr-core-lightgallery gdlr-core-js "
                                                href="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/annie-spratt-294450-unsplash.jpg"><img
                                                    src="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/annie-spratt-294450-unsplash-900x500.jpg"
                                                    width="900" height="500"
                                                    srcset="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/annie-spratt-294450-unsplash-400x222.jpg 400w, https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/annie-spratt-294450-unsplash-600x333.jpg 600w, https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/annie-spratt-294450-unsplash-900x500.jpg 900w"
                                                    sizes="(max-width: 767px) 100vw, (max-width: 1150px) 33vw, 383px"
                                                    alt="" /><span class="gdlr-core-image-overlay "
                                                    style="border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;"><i
                                                        class="gdlr-core-image-overlay-icon  gdlr-core-size-22 fa fa-search"></i></span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
                                        style="padding-bottom: 20px ;">
                                        <div class="gdlr-core-title-item-title-wrap clearfix">
                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
                                                style="font-size: 18px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;">
                                                Information Technology</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align"
                                        style="padding-bottom: 2px ;">
                                        <div class="gdlr-core-text-box-item-content"
                                            style="font-size: 16px ;text-transform: none ;color: #8f8f8f ;">
                                            <p>Separated they live in Bookmarksgrove right at the coast of the
                                                Semantics, a large language ocean. A small river named Dudenmouth.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div
                                        class="gdlr-core-button-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                        <a class="gdlr-core-button  gdlr-core-button-transparent gdlr-core-left-align gdlr-core-button-no-border"
                                            href="#"
                                            style="font-size: 16px ;font-weight: 400 ;letter-spacing: 0px ;color: #3db166 ;padding: 0px 0px 0px 0px;text-transform: none ;border-radius: 0px;-moz-border-radius: 0px;-webkit-border-radius: 0px;"><span
                                                class="gdlr-core-content">Read More</span><i
                                                class="gdlr-core-pos-right arrow_right"
                                                style="font-size: 21px ;color: #3db166 ;"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gdlr-core-pbf-column gdlr-core-column-20">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-image-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-item-pdlr"
                                        style="padding-bottom: 33px ;">
                                        <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-round"
                                            style="border-width: 0px;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;">
                                            <a class="gdlr-core-lightgallery gdlr-core-js "
                                                href="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/pawel-czerwinski-705954-unsplash.jpg"><img
                                                    src="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/pawel-czerwinski-705954-unsplash-900x500.jpg"
                                                    width="900" height="500"
                                                    srcset="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/pawel-czerwinski-705954-unsplash-400x222.jpg 400w, https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/pawel-czerwinski-705954-unsplash-600x333.jpg 600w, https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/pawel-czerwinski-705954-unsplash-900x500.jpg 900w"
                                                    sizes="(max-width: 767px) 100vw, (max-width: 1150px) 33vw, 383px"
                                                    alt="" /><span class="gdlr-core-image-overlay "
                                                    style="border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;"><i
                                                        class="gdlr-core-image-overlay-icon  gdlr-core-size-22 fa fa-search"></i></span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
                                        style="padding-bottom: 20px ;">
                                        <div class="gdlr-core-title-item-title-wrap clearfix">
                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
                                                style="font-size: 18px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;">
                                                Safety and Security</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align"
                                        style="padding-bottom: 2px ;">
                                        <div class="gdlr-core-text-box-item-content"
                                            style="font-size: 16px ;text-transform: none ;color: #8f8f8f ;">
                                            <p>Separated they live in Bookmarksgrove right at the coast of the
                                                Semantics, a large language ocean. A small river named Dudenmouth.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div
                                        class="gdlr-core-button-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                        <a class="gdlr-core-button  gdlr-core-button-transparent gdlr-core-left-align gdlr-core-button-no-border"
                                            href="#"
                                            style="font-size: 16px ;font-weight: 400 ;letter-spacing: 0px ;color: #3db166 ;padding: 0px 0px 0px 0px;text-transform: none ;border-radius: 0px;-moz-border-radius: 0px;-webkit-border-radius: 0px;"><span
                                                class="gdlr-core-content">Read More</span><i
                                                class="gdlr-core-pos-right arrow_right"
                                                style="font-size: 21px ;color: #3db166 ;"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gdlr-core-pbf-column gdlr-core-column-20">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-image-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-item-pdlr"
                                        style="padding-bottom: 33px ;">
                                        <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-round"
                                            style="border-width: 0px;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;">
                                            <a class="gdlr-core-lightgallery gdlr-core-js "
                                                href="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/rawpixel-577480-unsplash.jpg"><img
                                                    src="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/rawpixel-577480-unsplash-900x500.jpg"
                                                    width="900" height="500"
                                                    srcset="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/rawpixel-577480-unsplash-400x222.jpg 400w, https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/rawpixel-577480-unsplash-600x333.jpg 600w, https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/rawpixel-577480-unsplash-900x500.jpg 900w"
                                                    sizes="(max-width: 767px) 100vw, (max-width: 1150px) 33vw, 383px"
                                                    alt="" /><span class="gdlr-core-image-overlay "
                                                    style="border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;"><i
                                                        class="gdlr-core-image-overlay-icon  gdlr-core-size-22 fa fa-search"></i></span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
                                        style="padding-bottom: 20px ;">
                                        <div class="gdlr-core-title-item-title-wrap clearfix">
                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
                                                style="font-size: 18px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;">
                                                Health & Wellness</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align"
                                        style="padding-bottom: 2px ;">
                                        <div class="gdlr-core-text-box-item-content"
                                            style="font-size: 16px ;text-transform: none ;color: #8f8f8f ;">
                                            <p>Separated they live in Bookmarksgrove right at the coast of the
                                                Semantics, a large language ocean. A small river named Dudenmouth.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div
                                        class="gdlr-core-button-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                        <a class="gdlr-core-button  gdlr-core-button-transparent gdlr-core-left-align gdlr-core-button-no-border"
                                            href="#"
                                            style="font-size: 16px ;font-weight: 400 ;letter-spacing: 0px ;color: #3db166 ;padding: 0px 0px 0px 0px;text-transform: none ;border-radius: 0px;-moz-border-radius: 0px;-webkit-border-radius: 0px;"><span
                                                class="gdlr-core-content">Read More</span><i
                                                class="gdlr-core-pos-right arrow_right"
                                                style="font-size: 21px ;color: #3db166 ;"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gdlr-core-pbf-wrapper "
            style="margin: 0px auto 0px auto;padding: 0px 0px 0px 0px;max-width: 100% ;">
            <div class="gdlr-core-pbf-background-wrap" style="background-color: #f2f2f2 ;"></div>
            <div class="gdlr-core-pbf-wrapper-content gdlr-core-js " data-gdlr-animation="fadeIn"
                data-gdlr-animation-duration="600ms" data-gdlr-animation-offset="0.8">
                <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                    <div class="gdlr-core-pbf-column gdlr-core-column-30 gdlr-core-column-first">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js  gdlr-core-column-extend-left"
                            data-sync-height="quote-height">
                            <div class="gdlr-core-pbf-background-wrap">
                                <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js"
                                    style="background-image: url(https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/shutterstock_780740548.jpg) ;background-size: cover ;background-position: center ;"
                                    data-parallax-speed="0"></div>
                            </div>
                            <div
                                class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content">
                            </div>
                        </div>
                    </div>
                    <div class="gdlr-core-pbf-column gdlr-core-column-30">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js "
                            style="padding: 160px 60px 140px 75px;" data-sync-height="quote-height"
                            data-sync-height-center>
                            <div class="gdlr-core-pbf-background-wrap"></div>
                            <div
                                class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-blockquote-item gdlr-core-item-pdlr gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-large-size"
                                        style="padding-bottom: 0px ;">
                                        <div class="gdlr-core-blockquote gdlr-core-info-font">
                                            <div class="gdlr-core-blockquote-item-quote gdlr-core-quote-font gdlr-core-skin-icon"
                                                style="font-size: 170px ;">&#8220;</div>
                                            <div class="gdlr-core-blockquote-item-content-wrap">
                                                <div class="gdlr-core-blockquote-item-content gdlr-core-skin-content"
                                                    style="font-size: 21px ;font-weight: 600 ;letter-spacing: 0px ;">
                                                    <p>Our goal is to be at the heart of the financial services industry
                                                        as businesses expand across.</p>
                                                </div>
                                                <div class="gdlr-core-blockquote-item-author gdlr-core-skin-caption"
                                                    style="font-size: 18px ;font-weight: 600 ;"><span
                                                        class="gdlr-core-blockquote-item-author-name">John
                                                        Smith</span><span
                                                        class="gdlr-core-blockquote-item-author-position"
                                                        style="font-size: 18px ;font-weight: 600 ;">CEO Of
                                                        Financity</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="">
    <div class="kingster-footer-wrapper ">
        <div class="kingster-footer-container kingster-container clearfix">
            <div class="kingster-footer-column kingster-item-pdlr kingster-column-15">
                <div id="text-2" class="widget widget_text kingster-widget">
                    <div class="textwidget">
                        <p><img src="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/footer-logo.png"
                                alt="" /><br />
                            <span class="gdlr-core-space-shortcode" style="margin-top: 5px ;"></span><br />
                       HighWay 35300<br />
							1810 Campus Way KL<br />
							kerala, KL 98011-82466
                        </p>
                        <p><span style="font-size: 15px; color: #ffffff;">+1-2534-4456-345</span><br />
                            <span class="gdlr-core-space-shortcode" style="margin-top: -20px ;"></span><br />
                            <a style="font-size: 15px; color: #ffffff;"
                                href="/cdn-cgi/l/email-protection#4627222b2f28062d2f28213532233433282f68232233"><span
                                    class="__cf_email__"
                                    data-cfemail="6706030a0e09270c0e09001413021512090e49020312">[email&#160;protected]</span></a>
                        </p>
                        <div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-left-align">
                            <div class="gdlr-core-divider-line gdlr-core-skin-divider"
                                style="border-color: #3db166 ;border-width: 2px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kingster-footer-column kingster-item-pdlr kingster-column-15">
                <div id="gdlr-core-custom-menu-widget-2"
                    class="widget widget_gdlr-core-custom-menu-widget kingster-widget">
                    <h3 class="kingster-widget-title">Our Campus</h3><span class="clear"></span>
                    <div class="menu-our-campus-container">
                        <ul id="menu-our-campus" class="gdlr-core-custom-menu-widget gdlr-core-menu-style-plain">
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5709 kingster-normal-menu">
                                <a href="#">Acedemic</a></li>
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5710 kingster-normal-menu">
                                <a href="#">Planning &#038; Administration</a></li>
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5711 kingster-normal-menu">
                                <a href="#">Campus Safety</a></li>
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5712 kingster-normal-menu">
                                <a href="#">Office of the Chancellor</a></li>
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5713 kingster-normal-menu">
                                <a href="#">Facility Services</a></li>
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5714 kingster-normal-menu">
                                <a href="#">Human Resources</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="kingster-footer-column kingster-item-pdlr kingster-column-15">
                <div id="gdlr-core-custom-menu-widget-3"
                    class="widget widget_gdlr-core-custom-menu-widget kingster-widget">
                    <h3 class="kingster-widget-title">Campus Life</h3><span class="clear"></span>
                    <div class="menu-campus-life-container">
                        <ul id="menu-campus-life" class="gdlr-core-custom-menu-widget gdlr-core-menu-style-plain">
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5715 kingster-normal-menu">
                                <a href="#">Accessibility</a></li>
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5716 kingster-normal-menu">
                                <a href="#">Financial Aid</a></li>
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5717 kingster-normal-menu">
                                <a href="#">Food Services</a></li>
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5718 kingster-normal-menu">
                                <a href="#">Housing</a></li>
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5719 kingster-normal-menu">
                                <a href="#">Information Technologies</a></li>
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5720 kingster-normal-menu">
                                <a href="#">Student Life</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="kingster-footer-column kingster-item-pdlr kingster-column-15">
                <div id="gdlr-core-custom-menu-widget-4"
                    class="widget widget_gdlr-core-custom-menu-widget kingster-widget">
                    <h3 class="kingster-widget-title">Academics</h3><span class="clear"></span>
                    <div class="menu-academics-container">
                        <ul id="menu-academics" class="gdlr-core-custom-menu-widget gdlr-core-menu-style-plain">
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5723 kingster-normal-menu">
                                <a href="#">Library</a></li>
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5724 kingster-normal-menu">
                                <a href="#">Time Schedule</a></li>
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5725 kingster-normal-menu">
                                <a href="/admissions">Apply For Admissions</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="kingster-copyright-wrapper">
        <div class="kingster-copyright-container kingster-container clearfix">
            <div class="kingster-copyright-left kingster-item-pdlr">Copyright All Right Reserved 2022, Kingster University</div>
            <div class="kingster-copyright-right kingster-item-pdlr">
                <div class="gdlr-core-social-network-item gdlr-core-item-pdb  gdlr-core-none-align"
                    style="padding-bottom: 0px ;"><a href="#" target="_blank" class="gdlr-core-social-network-icon"
                        title="facebook"><i class="fa fa-facebook"></i></a><a href="#" target="_blank"
                        class="gdlr-core-social-network-icon" title="google-plus"><i
                            class="fa fa-google-plus"></i></a><a href="#" target="_blank"
                        class="gdlr-core-social-network-icon" title="linkedin"><i class="fa fa-linkedin"></i></a><a
                        href="#" target="_blank" class="gdlr-core-social-network-icon" title="skype"><i
                            class="fa fa-skype"></i></a><a href="#" target="_blank"
                        class="gdlr-core-social-network-icon" title="twitter"><i class="fa fa-twitter"></i></a><a
                        href="#" target="_blank" class="gdlr-core-social-network-icon" title="instagram"><i
                            class="fa fa-instagram"></i></a></div>
            </div>
        </div>
    </div>
</footer>
</div>
</div>