<!DOCTYPE html>
<html>

<!-- Mirrored from thememakker.com/templates/swift/university/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 20 Oct 2019 12:26:30 GMT -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Kingster - University Admin</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <!-- Custom Css -->
    <link href="/assets/css/main.css" rel="stylesheet">

    <link href="/assets/css/themes/all-themes.css" rel="stylesheet" />
</head>

<body class="theme-blush">
    <!-- Page Loader -->

    <!--Side menu and right menu -->

    {{#if admin_header}}

    {{>admin_header}}

    {{/if}}

    {{{body}}}

    <!-- Jquery Core Js -->
    <script src="/assets/bundles/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->
    <script src="/assets/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->
    <script src="/assets/bundles/morphingsearchscripts.bundle.js"></script> <!-- Main top morphing search -->

    <script src="/assets/plugins/jquery-sparkline/jquery.sparkline.min.js"></script> <!-- Sparkline Plugin Js -->
    <script src="/assets/plugins/chartjs/Chart.bundle.min.js"></script> <!-- Chart Plugins Js -->

    <script src="/assets/bundles/mainscripts.bundle.js"></script><!-- Custom Js -->
    <script src="/assets/js/pages/charts/sparkline.min.js"></script>
    <script src="/assets/js/pages/index.js"></script>
</body>

<!-- Mirrored from thememakker.com/templates/swift/university/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 20 Oct 2019 12:27:04 GMT -->

</html>