<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="profile" href="https://gmpg.org/xfn/11">
	<link rel="pingback" href="https://demo.goodlayers.com/kingster/xmlrpc.php">
	<title>Kingster &#8211; School, College &amp; University WordPress Theme</title><link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Poppins%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CABeeZee%3Aregular%2Citalic%7CPlayfair%20Display%3A700%2C400%7CRoboto%3A700%2C400&#038;subset=devanagari%2Clatin%2Clatin-ext&#038;display=swap" /><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CABeeZee%3Aregular%2Citalic%7CPlayfair%20Display%3A700%2C400%7CRoboto%3A700%2C400&#038;subset=devanagari%2Clatin%2Clatin-ext&#038;display=swap" media="print" onload="this.media='all'" /><noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CABeeZee%3Aregular%2Citalic%7CPlayfair%20Display%3A700%2C400%7CRoboto%3A700%2C400&#038;subset=devanagari%2Clatin%2Clatin-ext&#038;display=swap" /></noscript><link rel="stylesheet" href="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/cache/min/1/6eccdd672af84ffb9633273f82c5a12c.css" media="all" data-minify="1" />
<meta name='robots' content='max-image-preview:large' />
<link rel='dns-prefetch' href='//fonts.googleapis.com' />
<link rel='dns-prefetch' href='//a6e8z9v6.stackpathcdn.com' />
<link href='https://fonts.gstatic.com' crossorigin rel='preconnect' />
<link href='//a6e8z9v6.stackpathcdn.com' rel='preconnect' />
<link rel="alternate" type="application/rss+xml" title="Kingster &raquo; Feed" href="https://demo.goodlayers.com/kingster/feed/" />
<link rel="alternate" type="application/rss+xml" title="Kingster &raquo; Comments Feed" href="https://demo.goodlayers.com/kingster/comments/feed/" />
<link rel="alternate" type="text/calendar" title="Kingster &raquo; iCal Feed" href="https://demo.goodlayers.com/kingster/events/?ical=1" />
<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 0.07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
	


<style id='global-styles-inline-css' type='text/css'>
body{--wp--preset--color--black: #000000;--wp--preset--color--cyan-bluish-gray: #abb8c3;--wp--preset--color--white: #ffffff;--wp--preset--color--pale-pink: #f78da7;--wp--preset--color--vivid-red: #cf2e2e;--wp--preset--color--luminous-vivid-orange: #ff6900;--wp--preset--color--luminous-vivid-amber: #fcb900;--wp--preset--color--light-green-cyan: #7bdcb5;--wp--preset--color--vivid-green-cyan: #00d084;--wp--preset--color--pale-cyan-blue: #8ed1fc;--wp--preset--color--vivid-cyan-blue: #0693e3;--wp--preset--color--vivid-purple: #9b51e0;--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg,rgba(6,147,227,1) 0%,rgb(155,81,224) 100%);--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg,rgb(122,220,180) 0%,rgb(0,208,130) 100%);--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg,rgba(252,185,0,1) 0%,rgba(255,105,0,1) 100%);--wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg,rgba(255,105,0,1) 0%,rgb(207,46,46) 100%);--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg,rgb(238,238,238) 0%,rgb(169,184,195) 100%);--wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg,rgb(74,234,220) 0%,rgb(151,120,209) 20%,rgb(207,42,186) 40%,rgb(238,44,130) 60%,rgb(251,105,98) 80%,rgb(254,248,76) 100%);--wp--preset--gradient--blush-light-purple: linear-gradient(135deg,rgb(255,206,236) 0%,rgb(152,150,240) 100%);--wp--preset--gradient--blush-bordeaux: linear-gradient(135deg,rgb(254,205,165) 0%,rgb(254,45,45) 50%,rgb(107,0,62) 100%);--wp--preset--gradient--luminous-dusk: linear-gradient(135deg,rgb(255,203,112) 0%,rgb(199,81,192) 50%,rgb(65,88,208) 100%);--wp--preset--gradient--pale-ocean: linear-gradient(135deg,rgb(255,245,203) 0%,rgb(182,227,212) 50%,rgb(51,167,181) 100%);--wp--preset--gradient--electric-grass: linear-gradient(135deg,rgb(202,248,128) 0%,rgb(113,206,126) 100%);--wp--preset--gradient--midnight: linear-gradient(135deg,rgb(2,3,129) 0%,rgb(40,116,252) 100%);--wp--preset--duotone--dark-grayscale: url('#wp-duotone-dark-grayscale');--wp--preset--duotone--grayscale: url('#wp-duotone-grayscale');--wp--preset--duotone--purple-yellow: url('#wp-duotone-purple-yellow');--wp--preset--duotone--blue-red: url('#wp-duotone-blue-red');--wp--preset--duotone--midnight: url('#wp-duotone-midnight');--wp--preset--duotone--magenta-yellow: url('#wp-duotone-magenta-yellow');--wp--preset--duotone--purple-green: url('#wp-duotone-purple-green');--wp--preset--duotone--blue-orange: url('#wp-duotone-blue-orange');--wp--preset--font-size--small: 13px;--wp--preset--font-size--medium: 20px;--wp--preset--font-size--large: 36px;--wp--preset--font-size--x-large: 42px;}.has-black-color{color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-color{color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-color{color: var(--wp--preset--color--white) !important;}.has-pale-pink-color{color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-color{color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-color{color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-color{color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-color{color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-color{color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-color{color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-color{color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-color{color: var(--wp--preset--color--vivid-purple) !important;}.has-black-background-color{background-color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-background-color{background-color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-background-color{background-color: var(--wp--preset--color--white) !important;}.has-pale-pink-background-color{background-color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-background-color{background-color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-background-color{background-color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-background-color{background-color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-background-color{background-color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-background-color{background-color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-background-color{background-color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-background-color{background-color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-background-color{background-color: var(--wp--preset--color--vivid-purple) !important;}.has-black-border-color{border-color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-border-color{border-color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-border-color{border-color: var(--wp--preset--color--white) !important;}.has-pale-pink-border-color{border-color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-border-color{border-color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-border-color{border-color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-border-color{border-color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-border-color{border-color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-border-color{border-color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-border-color{border-color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-border-color{border-color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-border-color{border-color: var(--wp--preset--color--vivid-purple) !important;}.has-vivid-cyan-blue-to-vivid-purple-gradient-background{background: var(--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple) !important;}.has-light-green-cyan-to-vivid-green-cyan-gradient-background{background: var(--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan) !important;}.has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background{background: var(--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange) !important;}.has-luminous-vivid-orange-to-vivid-red-gradient-background{background: var(--wp--preset--gradient--luminous-vivid-orange-to-vivid-red) !important;}.has-very-light-gray-to-cyan-bluish-gray-gradient-background{background: var(--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray) !important;}.has-cool-to-warm-spectrum-gradient-background{background: var(--wp--preset--gradient--cool-to-warm-spectrum) !important;}.has-blush-light-purple-gradient-background{background: var(--wp--preset--gradient--blush-light-purple) !important;}.has-blush-bordeaux-gradient-background{background: var(--wp--preset--gradient--blush-bordeaux) !important;}.has-luminous-dusk-gradient-background{background: var(--wp--preset--gradient--luminous-dusk) !important;}.has-pale-ocean-gradient-background{background: var(--wp--preset--gradient--pale-ocean) !important;}.has-electric-grass-gradient-background{background: var(--wp--preset--gradient--electric-grass) !important;}.has-midnight-gradient-background{background: var(--wp--preset--gradient--midnight) !important;}.has-small-font-size{font-size: var(--wp--preset--font-size--small) !important;}.has-medium-font-size{font-size: var(--wp--preset--font-size--medium) !important;}.has-large-font-size{font-size: var(--wp--preset--font-size--large) !important;}.has-x-large-font-size{font-size: var(--wp--preset--font-size--x-large) !important;}
</style>








<link rel='stylesheet' id='woocommerce-smallscreen-css'  href='https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/plugins/woocommerce/assets/css/woocommerce-smallscreen.css?ver=6.7.0' type='text/css' media='only screen and (max-width: 768px)' />

<style id='woocommerce-inline-inline-css' type='text/css'>
.woocommerce form .form-row .required { visibility: visible; }
</style>




<script type='text/javascript' src='https://a6e8z9v6.stackpathcdn.com/kingster/wp-includes/js/jquery/jquery.min.js?ver=3.6.0' id='jquery-core-js'></script>
<script type='text/javascript' src='https://a6e8z9v6.stackpathcdn.com/kingster/wp-includes/js/jquery/jquery-migrate.min.js?ver=3.3.2' id='jquery-migrate-js'></script>


<script type='text/javascript' id='snazzymaps-js-js-extra'>
/* <![CDATA[ */
var SnazzyDataForSnazzyMaps = [];
SnazzyDataForSnazzyMaps={"id":134,"name":"light dream","description":"Light coloured map, works great with most tones and colours","url":"https:\/\/snazzymaps.com\/style\/134\/light-dream","imageUrl":"https:\/\/snazzy-maps-cdn.azureedge.net\/assets\/134-light-dream.png?v=20170626074023","json":"[\r\n\t{\r\n\t\t\"featureType\": \"landscape\",\r\n\t\t\"stylers\": [\r\n\t\t\t{\r\n\t\t\t\t\"hue\": \"#FFBB00\"\r\n\t\t\t},\r\n\t\t\t{\r\n\t\t\t\t\"saturation\": 43.400000000000006\r\n\t\t\t},\r\n\t\t\t{\r\n\t\t\t\t\"lightness\": 37.599999999999994\r\n\t\t\t},\r\n\t\t\t{\r\n\t\t\t\t\"gamma\": 1\r\n\t\t\t}\r\n\t\t]\r\n\t},\r\n\t{\r\n\t\t\"featureType\": \"road.highway\",\r\n\t\t\"stylers\": [\r\n\t\t\t{\r\n\t\t\t\t\"hue\": \"#FFC200\"\r\n\t\t\t},\r\n\t\t\t{\r\n\t\t\t\t\"saturation\": -61.8\r\n\t\t\t},\r\n\t\t\t{\r\n\t\t\t\t\"lightness\": 45.599999999999994\r\n\t\t\t},\r\n\t\t\t{\r\n\t\t\t\t\"gamma\": 1\r\n\t\t\t}\r\n\t\t]\r\n\t},\r\n\t{\r\n\t\t\"featureType\": \"road.arterial\",\r\n\t\t\"stylers\": [\r\n\t\t\t{\r\n\t\t\t\t\"hue\": \"#FF0300\"\r\n\t\t\t},\r\n\t\t\t{\r\n\t\t\t\t\"saturation\": -100\r\n\t\t\t},\r\n\t\t\t{\r\n\t\t\t\t\"lightness\": 51.19999999999999\r\n\t\t\t},\r\n\t\t\t{\r\n\t\t\t\t\"gamma\": 1\r\n\t\t\t}\r\n\t\t]\r\n\t},\r\n\t{\r\n\t\t\"featureType\": \"road.local\",\r\n\t\t\"stylers\": [\r\n\t\t\t{\r\n\t\t\t\t\"hue\": \"#FF0300\"\r\n\t\t\t},\r\n\t\t\t{\r\n\t\t\t\t\"saturation\": -100\r\n\t\t\t},\r\n\t\t\t{\r\n\t\t\t\t\"lightness\": 52\r\n\t\t\t},\r\n\t\t\t{\r\n\t\t\t\t\"gamma\": 1\r\n\t\t\t}\r\n\t\t]\r\n\t},\r\n\t{\r\n\t\t\"featureType\": \"water\",\r\n\t\t\"stylers\": [\r\n\t\t\t{\r\n\t\t\t\t\"hue\": \"#0078FF\"\r\n\t\t\t},\r\n\t\t\t{\r\n\t\t\t\t\"saturation\": -13.200000000000003\r\n\t\t\t},\r\n\t\t\t{\r\n\t\t\t\t\"lightness\": 2.4000000000000057\r\n\t\t\t},\r\n\t\t\t{\r\n\t\t\t\t\"gamma\": 1\r\n\t\t\t}\r\n\t\t]\r\n\t},\r\n\t{\r\n\t\t\"featureType\": \"poi\",\r\n\t\t\"stylers\": [\r\n\t\t\t{\r\n\t\t\t\t\"hue\": \"#00FF6A\"\r\n\t\t\t},\r\n\t\t\t{\r\n\t\t\t\t\"saturation\": -1.0989010989011234\r\n\t\t\t},\r\n\t\t\t{\r\n\t\t\t\t\"lightness\": 11.200000000000017\r\n\t\t\t},\r\n\t\t\t{\r\n\t\t\t\t\"gamma\": 1\r\n\t\t\t}\r\n\t\t]\r\n\t}\r\n]","views":219797,"favorites":802,"createdBy":{"name":"Anonymous","url":null},"createdOn":"2014-09-12T02:01:26.33","tags":["light","simple"],"colors":["multi"]};
/* ]]> */
</script>

<!--[if lt IE 9]>
<script type='text/javascript' src='https://demo.goodlayers.com/kingster/wp-content/themes/kingster/js/html5.js?ver=6.0.1' id='kingster-html5js-js'></script>
<![endif]-->

<link rel="https://api.w.org/" href="https://demo.goodlayers.com/kingster/wp-json/" /><link rel="alternate" type="application/json" href="https://demo.goodlayers.com/kingster/wp-json/wp/v2/pages/2039" /><link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://demo.goodlayers.com/kingster/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://a6e8z9v6.stackpathcdn.com/kingster/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 6.0.1" />
<meta name="generator" content="WooCommerce 6.7.0" />
<link rel="canonical" href="https://demo.goodlayers.com/kingster/" />
<link rel='shortlink' href='https://demo.goodlayers.com/kingster/' />
<link rel="alternate" type="application/json+oembed" href="https://demo.goodlayers.com/kingster/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fdemo.goodlayers.com%2Fkingster%2F" />
<link rel="alternate" type="text/xml+oembed" href="https://demo.goodlayers.com/kingster/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fdemo.goodlayers.com%2Fkingster%2F&#038;format=xml" />
<meta name="tec-api-version" content="v1"><meta name="tec-api-origin" content="https://demo.goodlayers.com/kingster"><link rel="alternate" href="https://demo.goodlayers.com/kingster/wp-json/tribe/events/v1/" />	<noscript><style>.woocommerce-product-gallery{ opacity: 1 !important; }</style></noscript>
	<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style><style type="text/css">.broken_link, a.broken_link {
	text-decoration: line-through;
}</style><meta name="generator" content="Powered by Slider Revolution 6.5.24 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface." />

</head>

<body
	class="home page-template-default page page-id-2039 theme-kingster gdlr-core-body woocommerce-no-js tribe-no-js kingster-body kingster-body-front kingster-full  kingster-with-sticky-navigation  kingster-blockquote-style-1 gdlr-core-link-to-lightbox">

 {{#if home_header}}

    {{>home_header}}

    {{/if}}

    {{{body}}}


    <style>
        @media only screen and (max-width: 767px) {
            #gdlr-core-wrapper-1.gdlr-core-pbf-wrapper {
                margin-top: 0px !important;
            }
        }

        @media only screen and (max-width: 767px) {
            #gdlr-core-column-9967 .gdlr-core-pbf-column-content-margin {
                padding-top: 0px !important;
            }
        }

        @media only screen and (max-width: 767px) {
            #gdlr-core-column-50677 .gdlr-core-pbf-column-content-margin {
                padding-top: 0px !important;
            }
        }

        @media only screen and (max-width: 767px) {
            #gdlr-core-column-60919 .gdlr-core-pbf-column-content-margin {
                padding-top: 0px !important;
            }
        }

        @media only screen and (max-width: 767px) {
            #gdlr-core-wrapper-2.gdlr-core-pbf-wrapper {
                padding-right: 0px !important;
                padding-bottom: 0px !important;
                padding-left: 0px !important;
            }
        }

        @media only screen and (max-width: 767px) {
            #gdlr-core-column-21850 .gdlr-core-pbf-column-content-margin {
                padding-right: 30px !important;
                padding-left: 30px !important;
            }
        }

        #gdlr-core-button-id-84866 {
            font-size: 16px;
            color: #ffffff;
            padding: 0px 0px 0px 0px;
            text-transform: none;
            border-radius: 0px;
            -moz-border-radius: 0px;
            -webkit-border-radius: 0px;
        }

        #gdlr-core-button-id-84866:hover {
            color: #3db166;
        }

        @media only screen and (max-width: 767px) {
            #gdlr-core-column-80743 .gdlr-core-pbf-column-content-margin {
                padding-top: 20px !important;
            }
        }

        @media only screen and (max-width: 767px) {
            #gdlr-core-column-32705 .gdlr-core-pbf-column-content-margin {
                padding-top: 20px !important;
            }
        }

        @media only screen and (max-width: 767px) {
            #gdlr-core-column-36872 .gdlr-core-pbf-column-content-margin {
                padding-top: 20px !important;
            }
        }

        @media only screen and (max-width: 767px) {
            #gdlr-core-column-56937 .gdlr-core-pbf-column-content-margin {
                padding-top: 70px !important;
                padding-bottom: 60px !important;
            }
        }

        #gdlr-core-title-item-id-73031 .gdlr-core-title-item-title a {
            color: #3db166;
        }

        #gdlr-core-title-item-id-73031 .gdlr-core-title-item-title a:hover {
            color: #59c17a;
        }

        #gdlr-core-title-item-id-48341 .gdlr-core-title-item-title a {
            color: #3db166;
        }

        #gdlr-core-title-item-id-48341 .gdlr-core-title-item-title a:hover {
            color: #59c17a;
        }

        #gdlr-core-title-item-id-15342 .gdlr-core-title-item-title a {
            color: #3db166;
        }

        #gdlr-core-title-item-id-15342 .gdlr-core-title-item-title a:hover {
            color: #59c17a;
        }

        #gdlr-core-title-item-id-3117 .gdlr-core-title-item-title a {
            color: #3db166;
        }

        #gdlr-core-title-item-id-3117 .gdlr-core-title-item-title a:hover {
            color: #59c17a;
        }

        #gdlr-core-title-item-id-84048 .gdlr-core-title-item-title a {
            color: #3db166;
        }

        #gdlr-core-title-item-id-84048 .gdlr-core-title-item-title a:hover {
            color: #59c17a;
        }

        #gdlr-core-title-item-id-52457 .gdlr-core-title-item-title a {
            color: #3db166;
        }

        #gdlr-core-title-item-id-52457 .gdlr-core-title-item-title a:hover {
            color: #59c17a;
        }

        @media only screen and (max-width: 767px) {
            #gdlr-core-wrapper-3.gdlr-core-pbf-wrapper {
                padding-top: 0px !important;
            }
        }
    </style>





    <style id='rs-plugin-settings-inline-css' type='text/css'>
        #rev_slider_1_1_wrapper .uranus.tparrows {
            width: 50px;
            height: 50px;
            background: rgba(255, 255, 255, 0)
        }

        #rev_slider_1_1_wrapper .uranus.tparrows:before {
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 40px;
            transition: all 0.3s;
            -webkit-transition: all 0.3s
        }

        #rev_slider_1_1_wrapper .uranus.tparrows.rs-touchhover:before {
            opacity: 0.75
        }

        #rev_slider_1_1_wrapper .uranus .tp-bullet {
            border-radius: 50%;
            box-shadow: 0 0 0 2px rgba(255, 255, 255, 0);
            -webkit-transition: box-shadow 0.3s ease;
            transition: box-shadow 0.3s ease;
            background: transparent;
            width: 15px;
            height: 15px
        }

        #rev_slider_1_1_wrapper .uranus .tp-bullet.selected,
        #rev_slider_1_1_wrapper .uranus .tp-bullet.rs-touchhover {
            box-shadow: 0 0 0 2px rgba(255, 255, 255, 1);
            border: none;
            border-radius: 50%;
            background: transparent
        }

        #rev_slider_1_1_wrapper .uranus .tp-bullet-inner {
            -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
            transition: background-color 0.3s ease, transform 0.3s ease;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            outline: none;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0);
            background-color: rgba(255, 255, 255, 0.3);
            text-indent: -999em;
            cursor: pointer;
            position: absolute
        }

        #rev_slider_1_1_wrapper .uranus .tp-bullet.selected .tp-bullet-inner,
        #rev_slider_1_1_wrapper .uranus .tp-bullet.rs-touchhover .tp-bullet-inner {
            transform: scale(0.4);
            -webkit-transform: scale(0.4);
            background-color: rgba(255, 255, 255, 1)
        }
    </style>


    <script type='text/javascript'
        src='https://a6e8z9v6.stackpathcdn.com/kingster/wp-includes/js/dist/vendor/wp-polyfill.min.js?ver=3.15.0'
        id='wp-polyfill-js'></script>






    <script type='text/javascript' id='wc-add-to-cart-js-extra'>
        /* <![CDATA[ */
        var wc_add_to_cart_params = { "ajax_url": "\/kingster\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/kingster\/?wc-ajax=%%endpoint%%", "i18n_view_cart": "View cart", "cart_url": "https:\/\/demo.goodlayers.com\/kingster\/cart\/", "is_cart": "", "cart_redirect_after_add": "no" };
/* ]]> */
    </script>


    <script type='text/javascript' id='woocommerce-js-extra'>
        /* <![CDATA[ */
        var woocommerce_params = { "ajax_url": "\/kingster\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/kingster\/?wc-ajax=%%endpoint%%" };
/* ]]> */
    </script>

    <script type='text/javascript' id='wc-cart-fragments-js-extra'>
        /* <![CDATA[ */
        var wc_cart_fragments_params = { "ajax_url": "\/kingster\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/kingster\/?wc-ajax=%%endpoint%%", "cart_hash_key": "wc_cart_hash_e69f85f041a443361524d830a5796809", "fragment_name": "wc_fragments_e69f85f041a443361524d830a5796809", "request_timeout": "5000" };
/* ]]> */
    </script>

    <script type='text/javascript' id='rocket-browser-checker-js-after'>
        "use strict"; var _createClass = function () { function defineProperties(target, props) { for (var i = 0; i < props.length; i++) { var descriptor = props[i]; descriptor.enumerable = descriptor.enumerable || !1, descriptor.configurable = !0, "value" in descriptor && (descriptor.writable = !0), Object.defineProperty(target, descriptor.key, descriptor) } } return function (Constructor, protoProps, staticProps) { return protoProps && defineProperties(Constructor.prototype, protoProps), staticProps && defineProperties(Constructor, staticProps), Constructor } }(); function _classCallCheck(instance, Constructor) { if (!(instance instanceof Constructor)) throw new TypeError("Cannot call a class as a function") } var RocketBrowserCompatibilityChecker = function () { function RocketBrowserCompatibilityChecker(options) { _classCallCheck(this, RocketBrowserCompatibilityChecker), this.passiveSupported = !1, this._checkPassiveOption(this), this.options = !!this.passiveSupported && options } return _createClass(RocketBrowserCompatibilityChecker, [{ key: "_checkPassiveOption", value: function (self) { try { var options = { get passive() { return !(self.passiveSupported = !0) } }; window.addEventListener("test", null, options), window.removeEventListener("test", null, options) } catch (err) { self.passiveSupported = !1 } } }, { key: "initRequestIdleCallback", value: function () { !1 in window && (window.requestIdleCallback = function (cb) { var start = Date.now(); return setTimeout(function () { cb({ didTimeout: !1, timeRemaining: function () { return Math.max(0, 50 - (Date.now() - start)) } }) }, 1) }), !1 in window && (window.cancelIdleCallback = function (id) { return clearTimeout(id) }) } }, { key: "isDataSaverModeOn", value: function () { return "connection" in navigator && !0 === navigator.connection.saveData } }, { key: "supportsLinkPrefetch", value: function () { var elem = document.createElement("link"); return elem.relList && elem.relList.supports && elem.relList.supports("prefetch") && window.IntersectionObserver && "isIntersecting" in IntersectionObserverEntry.prototype } }, { key: "isSlowConnection", value: function () { return "connection" in navigator && "effectiveType" in navigator.connection && ("2g" === navigator.connection.effectiveType || "slow-2g" === navigator.connection.effectiveType) } }]), RocketBrowserCompatibilityChecker }();
    </script>
    <script type='text/javascript' id='rocket-preload-links-js-extra'>
        /* <![CDATA[ */
        var RocketPreloadLinksConfig = { "excludeUris": "\/kingster(\/(?:.+\/)?feed(?:\/(?:.+\/?)?)?$|\/(?:.+\/)?embed\/|\/checkout\/|\/cart\/|\/my-account\/|\/wc-api\/v(.*)|\/(index\\.php\/)?wp\\-json(\/.*|$))|\/wp-admin\/|\/logout\/|\/wp-login.php|\/refer\/|\/go\/|\/recommend\/|\/recommends\/", "usesTrailingSlash": "1", "imageExt": "jpg|jpeg|gif|png|tiff|bmp|webp|avif|pdf|doc|docx|xls|xlsx|php", "fileExt": "jpg|jpeg|gif|png|tiff|bmp|webp|avif|pdf|doc|docx|xls|xlsx|php|html|htm", "siteUrl": "https:\/\/demo.goodlayers.com\/kingster", "onHoverDelay": "100", "rateThrottle": "3" };
/* ]]> */
    </script>
    <script type='text/javascript' id='rocket-preload-links-js-after'>
        (function () {
            "use strict"; var r = "function" == typeof Symbol && "symbol" == typeof Symbol.iterator ? function (e) { return typeof e } : function (e) { return e && "function" == typeof Symbol && e.constructor === Symbol && e !== Symbol.prototype ? "symbol" : typeof e }, e = function () { function i(e, t) { for (var n = 0; n < t.length; n++) { var i = t[n]; i.enumerable = i.enumerable || !1, i.configurable = !0, "value" in i && (i.writable = !0), Object.defineProperty(e, i.key, i) } } return function (e, t, n) { return t && i(e.prototype, t), n && i(e, n), e } }(); function i(e, t) { if (!(e instanceof t)) throw new TypeError("Cannot call a class as a function") } var t = function () { function n(e, t) { i(this, n), this.browser = e, this.config = t, this.options = this.browser.options, this.prefetched = new Set, this.eventTime = null, this.threshold = 1111, this.numOnHover = 0 } return e(n, [{ key: "init", value: function () { !this.browser.supportsLinkPrefetch() || this.browser.isDataSaverModeOn() || this.browser.isSlowConnection() || (this.regex = { excludeUris: RegExp(this.config.excludeUris, "i"), images: RegExp(".(" + this.config.imageExt + ")$", "i"), fileExt: RegExp(".(" + this.config.fileExt + ")$", "i") }, this._initListeners(this)) } }, { key: "_initListeners", value: function (e) { -1 < this.config.onHoverDelay && document.addEventListener("mouseover", e.listener.bind(e), e.listenerOptions), document.addEventListener("mousedown", e.listener.bind(e), e.listenerOptions), document.addEventListener("touchstart", e.listener.bind(e), e.listenerOptions) } }, { key: "listener", value: function (e) { var t = e.target.closest("a"), n = this._prepareUrl(t); if (null !== n) switch (e.type) { case "mousedown": case "touchstart": this._addPrefetchLink(n); break; case "mouseover": this._earlyPrefetch(t, n, "mouseout") } } }, { key: "_earlyPrefetch", value: function (t, e, n) { var i = this, r = setTimeout(function () { if (r = null, 0 === i.numOnHover) setTimeout(function () { return i.numOnHover = 0 }, 1e3); else if (i.numOnHover > i.config.rateThrottle) return; i.numOnHover++, i._addPrefetchLink(e) }, this.config.onHoverDelay); t.addEventListener(n, function e() { t.removeEventListener(n, e, { passive: !0 }), null !== r && (clearTimeout(r), r = null) }, { passive: !0 }) } }, { key: "_addPrefetchLink", value: function (i) { return this.prefetched.add(i.href), new Promise(function (e, t) { var n = document.createElement("link"); n.rel = "prefetch", n.href = i.href, n.onload = e, n.onerror = t, document.head.appendChild(n) }).catch(function () { }) } }, { key: "_prepareUrl", value: function (e) { if (null === e || "object" !== (void 0 === e ? "undefined" : r(e)) || !1 in e || -1 === ["http:", "https:"].indexOf(e.protocol)) return null; var t = e.href.substring(0, this.config.siteUrl.length), n = this._getPathname(e.href, t), i = { original: e.href, protocol: e.protocol, origin: t, pathname: n, href: t + n }; return this._isLinkOk(i) ? i : null } }, { key: "_getPathname", value: function (e, t) { var n = t ? e.substring(this.config.siteUrl.length) : e; return n.startsWith("/") || (n = "/" + n), this._shouldAddTrailingSlash(n) ? n + "/" : n } }, { key: "_shouldAddTrailingSlash", value: function (e) { return this.config.usesTrailingSlash && !e.endsWith("/") && !this.regex.fileExt.test(e) } }, { key: "_isLinkOk", value: function (e) { return null !== e && "object" === (void 0 === e ? "undefined" : r(e)) && (!this.prefetched.has(e.href) && e.origin === this.config.siteUrl && -1 === e.href.indexOf("?") && -1 === e.href.indexOf("#") && !this.regex.excludeUris.test(e.href) && !this.regex.images.test(e.href)) } }], [{ key: "run", value: function () { "undefined" != typeof RocketPreloadLinksConfig && new n(new RocketBrowserCompatibilityChecker({ capture: !0, passive: !0 }), RocketPreloadLinksConfig).init() } }]), n }(); t.run();
        }());
    </script>









    <script src="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/cache/min/1/3c9e64d26e6aef962a95176cc4b67e08.js"
        data-minify="1" defer></script>








 

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
        crossorigin="anonymous"></script>

</body>






</html>